step:
- elements:
  - hasGroup: isRancherManaged
    label: Namespace
    loader: getNamespacesApi
    schema: schema/properties/metadata/properties/release/properties/namespace
    type: select
  - label: Repository Name
    schema: schema/properties/metadata/properties/release/properties/name
    type: input
  - elements:
    - label: Labels
      schema: schema/properties/spec/properties/labels
      type: object-item
    - label: Annotations
      schema: schema/properties/spec/properties/annotations
      type: object-item
    hideBlock: true
    label: Labels & Annotations
    showLabels: true
    type: block-layout
  - customClass: mt-10
    label: Deletion Policy
    options:
    - Delete
    - WipeOut
    schema: schema/properties/spec/properties/deletionPolicy
    type: select
  - elements:
    - disableUnselect: true
      hasGroup: isRancherManaged
      label: Namespace
      loader: fetchNamespaces
      refresh: true
      schema: schema/properties/spec/properties/storageRef/properties/namespace
      type: select
      watcher:
        func: onStorageRefNamespaceChange
        paths:
        - schema/properties/spec/properties/storageRef/properties/namespace
    - disableUnselect: true
      label: Name
      loader:
        name: fetchNames|storageRef
        watchPaths:
        - schema/properties/spec/properties/storageRef/properties/namespace
      refresh: true
      schema: schema/properties/spec/properties/storageRef/properties/name
      type: select
    label: Storage Ref
    showLabels: true
    type: block-layout
  - elements:
    - disableUnselect: true
      hasGroup: isRancherManaged
      label: Namespace
      loader: fetchNamespaces
      refresh: true
      schema: schema/properties/spec/properties/encryptionSecret/properties/namespace
      type: select
      watcher:
        func: onEncryptionSecretNamespaceChange
        paths:
        - schema/properties/spec/properties/encryptionSecret/properties/namespace
    - disableUnselect: true
      label: Name
      loader:
        name: fetchNames|encryptionSecret
        watchPaths:
        - schema/properties/spec/properties/encryptionSecret/properties/namespace
      refresh: true
      schema: schema/properties/spec/properties/encryptionSecret/properties/name
      type: select
    label: Encryption Secret
    showLabels: true
    type: block-layout
  - label: Path
    schema: schema/properties/spec/properties/path
    type: input
  - elements:
    - label: Api Group
      loader: getApiGroup
      schema: schema/properties/spec/properties/appRef/properties/apiGroup
      type: select
      watcher:
        func: onApiGroupChange
        paths:
        - schema/properties/spec/properties/appRef/properties/apiGroup
    - label: Kind
      loader:
        name: getKinds
        watchPaths:
        - schema/properties/spec/properties/appRef/properties/apiGroup
      schema: schema/properties/spec/properties/appRef/properties/kind
      type: select
      watcher:
        func: setVersion
        paths:
        - schema/properties/spec/properties/appRef/properties/kind
    - hasGroup: isRancherManaged
      label: Namespace
      loader: fetchNamespaces
      schema: schema/properties/spec/properties/appRef/properties/namespace
      type: select
      watcher:
        func: onAppRefNamespaceChange
        paths:
        - schema/properties/spec/properties/appRef/properties/namespace
    - label: Name
      loader:
        name: getTargetName
        watchPaths:
        - schema/properties/spec/properties/appRef/properties/kind
        - schema/properties/spec/properties/appRef/properties/namespace
      schema: schema/properties/spec/properties/appRef/properties/name
      type: select
    label: App Ref
    showLabels: true
    type: block-layout
  id: options
  loader: init
  type: single-step-form
type: multi-step-form
