# Default values for kubedbcom-kafka-editor-options.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

metadata:
  resource:
    group: kubedb.com
    kind: Kafka
    name: kafkas
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

spec:
  # Annotations to add to the database custom resource
  annotations: {}

  # Labels to add to all the template objects
  labels: {}

  # Combined, Topology
  mode: Combined
  replicas: 3
  topology:
    controller:
      replicas: 3
      podResources:
        machine: ""

        resources:
          requests:
            cpu: 500m
            memory: 1536Mi
      persistence:
        size: 2Gi
    broker:
      replicas: 3
      podResources:
        machine: ""

        resources:
          requests:
            cpu: 500m
            memory: 1536Mi
      persistence:
        size: 2Gi

  deletionPolicy: WipeOut

  persistence:
    size: 2Gi
  podResources:
    machine: ""

    resources:
      requests:
        cpu: 500m
        memory: 1536Mi

  authSecret:
    name: ""

    password: ""
  configuration:
    secretName: ""
    applyConfig: {}

  openshift:
    securityContext:
      runAsUser: null

  admin:
    deployment:
      default: Shared
      toggle: true
    clusterTier:
      default: "GeneralPurpose"
      toggle: true
      nodeTopology:
        available: []
        default: ""
        toggle: true
      placement:
        available: []
        default: ""
        toggle: true

    showPreview: false
    leftPanel:
      showInsights: true
      showVaultInfo: true
      showOperations: true
      showBackup: true
      showBackupLegacy: false
      showSecurity: false

    nodeSelector: {}
    tolerations: []

    databases:
      Kafka:
        versions:
          available: []
          default: ""
          toggle: true
        mode:
          available: ["Combined", "Topology"]
          default: "Topology"
          toggle: true
    storageClasses:
      available: []
      default: ""
      toggle: true

    tls:
      default: false
      toggle: true
    clusterIssuers:
      available: []
      default: ""
      toggle: true
    expose:
      default: false
      toggle: true

    monitoring:
      # Name of monitoring agent (one of "prometheus.io", "prometheus.io/operator", "prometheus.io/builtin")
      agent: prometheus.io/operator
      exporter:
        resources: # +doc-gen:break
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 256Mi
      toggle: true
    alert:
      toggle: true

    authCredential:
      customize: true
      referExisting: true
    customConfiguration: true

    deletionPolicy:
      default: WipeOut
      toggle: true
    backup:
      enable:
        default: false
        toggle: false
      by: BackupConfiguration
      via: Restic
    archiver:
      enable:
        default: false
        toggle: false
      via: Restic
    pointInTimeRecovery:
      default: false
      toggle: false

    gitOps:
      enable:
        default: false
        toggle: false
    machineProfiles:
      machines: []
      available: []
      default: ""

  backup:
    tool: ""
    toggle: true
    kubestash:
      schedule: ""
      storageRef:
        name: ""
        namespace: ""
      retentionPolicy:
        name: ""
        namespace: ""
      encryptionSecret:
        name: ""
        namespace: ""
  monitoring:
    serviceMonitor:
      # Specify the labels for ServiceMonitor.
      # Prometheus crd will select ServiceMonitor using these labels.
      # Only usable when monitoring agent is `prometheus.io/webhook server`.
      labels: {}

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: kube-prometheus-stack

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: warning
        rules:
          # Specifies alert configurations for under replicated partitions
          kafkaUnderReplicatedPartitions:
            enabled: true
            duration: "10s"
            severity: warning
            val: 0
          # Specifies alert configurations for inactive controller state
          kafkaAbnormalControllerState:
            enabled: true
            duration: "10s"
            severity: warning
            val: 1
          # Specifies alert configurations offline partition replicas
          kafkaOfflinePartitions:
            enabled: true
            duration: "10s"
            severity: warning
            val: 0
          # Specifies alert configurations for min number of in sync partitions
          kafkaUnderMinIsrPartitionCount:
            enabled: true
            duration: "10s"
            severity: warning
            val: 0
          # Specifies alert configurations for offline directories
          kafkaOfflineLogDirectoryCount:
            enabled: true
            duration: "10s"
            severity: warning
            val: 0
          # Specifies alert configurations for expand rate of in out of sync replicas
          kafkaISRExpandRate:
            enabled: true
            duration: "1m"
            severity: warning
            val: 0
          # Specifies alert configurations for shrinking rate of in sync replicas
          kafkaISRShrinkRate:
            enabled: true
            duration: "1m"
            severity: warning
            val: 0
          # Specifies alert configurations for dead brokers
          kafkaBrokerCount:
            enabled: true
            duration: "1m"
            severity: critical
            val: 0
          # Specifies alert configurations for network processors idle rate goes beyond provided value
          kafkaNetworkProcessorIdlePercent:
            enabled: true
            duration: "1m"
            severity: critical
            val: 30
          # Specifies alert configurations for request handlers idle rate goes beyond provided value
          kafkaRequestHandlerIdlePercent:
            enabled: true
            duration: "1m"
            severity: critical
            val: 30
          # Specifies alert configurations replica lag and fetcher configurations
          kafkaReplicaFetcherManagerMaxLag:
            enabled: true
            duration: "1m"
            severity: critical
            val: 50
          # Specifies alert configurations for number of topics going beyond the provided threshold
          kafkaTopicCount:
            enabled: true
            duration: "1m"
            severity: warning
            val: 1000
          # Sepcifies the alert configuration for database is in Critical phase, that means one or more of the nodes are down but the database read/write are not hampered.
          kafkaPhaseCritical:
            enabled: true
            duration: "3m"
            severity: warning
          # Sepcifies the alert configuration for database is in NotReady phase, that means the database is not accepting connections, read/write are hampered.
          kafkaDown:
            enabled: true
            duration: "30s"
            severity: critical

          # Sepcifies the alert configuration for persistent volume usages.
          diskUsageHigh:
            enabled: true
            val: 80
            duration: "1m"
            severity: warning
          diskAlmostFull:
            enabled: true
            val: 95
            duration: "1m"
            severity: critical

      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning

      opsManager:
        enabled: warning
        rules:
          opsRequestOnProgress:
            enabled: true
            duration: "0m"
            severity: info
          opsRequestStatusProgressingToLong:
            enabled: true
            duration: "30m"
            severity: critical
          opsRequestFailed:
            enabled: true
            duration: "0m"
            severity: critical
