step:
- type: single-step-form
  elements:
  - loader: getDatabases|core.k8s.appscode.com|v1alpha1|genericresources
    if:
      name: isConsole
      type: function
    label: Select Database
    refresh: true
    validation:
      type: required
    schema: temp/properties/database
    sortable: true
    type: select
  - watcher:
      func: setRequestName
      paths:
        - schema/properties/spec/properties/roleRef
    label: Name
    validation:
      type: required
    schema: schema/properties/metadata/properties/name
    type: input
  - init:
      type: func
      value: getDbNamespace
    disable: true
    if:
      name: isDbSelected
      type: function
    label: Namespace
    schema: schema/properties/metadata/properties/namespace
    type: input
  - loader: getDbRoles|engine.kubevault.com|v1alpha1
    if:
      name: isDbSelected
      type: function
    label: Select Role
    refresh: true
    validation:
      type: required
    schema: schema/properties/spec/properties/roleRef
    type: select
  - elements:
    - label: Name
      validation:
        type: required
      schema: name
      type: input
    - label: Kind
      validation: 
        type: required
      schema: kind
      type: input
    - loader: getNamespaces|core|v1|namespaces
      hasGroup: isRancherManaged
      label: Namespace
      schema: namespace
      type: select
    - label: APIGroup
      schema: apiGroup
      type: input
    label: Subjects
    schema: schema/properties/spec/properties/subjects
    type: array-object-form
  - label: TTL
    schema: schema/properties/spec/properties/ttl
    type: input
type: multi-step-form
