step:
- elements:
  - if:
      name: isConsole
      type: function
    label: Select Database
    loader: getDatabases|core.k8s.appscode.com|v1alpha1|genericresources
    refresh: true
    schema: temp/properties/database
    sortable: true
    type: select
    validation:
      type: required
  - label: Name
    schema: schema/properties/metadata/properties/name
    type: input
    validation:
      type: required
    watcher:
      func: setRequestName
      paths:
      - schema/properties/spec/properties/roleRef
  - disable: true
    if:
      name: isDbSelected
      type: function
    init:
      type: func
      value: getDbNamespace
    label: Namespace
    schema: schema/properties/metadata/properties/namespace
    type: input
  - if:
      name: isDbSelected
      type: function
    label: Select Role
    loader: getDbRoles|engine.kubevault.com|v1alpha1
    refresh: true
    schema: schema/properties/spec/properties/roleRef
    type: select
    validation:
      type: required
  - elements:
    - label: Name
      schema: name
      type: input
      validation:
        type: required
    - label: Kind
      schema: kind
      type: input
      validation:
        type: required
    - hasGroup: isRancherManaged
      label: Namespace
      loader: getNamespaces|core|v1|namespaces
      schema: namespace
      type: select
    - label: APIGroup
      schema: apiGroup
      type: input
    label: Subjects
    schema: schema/properties/spec/properties/subjects
    type: array-object-form
  - label: TTL
    schema: schema/properties/spec/properties/ttl
    type: input
  type: single-step-form
type: multi-step-form
