step:
- type: single-step-form
  loader: initBundle
  elements:
  - disableUnselect: true
    loader: getAdminOptions|databases/Druid/versions
    if:
      type: function
      name: isToggleOn|databases/Druid/versions
    label: Database version
    schema: schema/properties/spec/properties/admin/properties/databases/properties/Druid/properties/versions/properties/default
    type: select
  - elements:
    - elements:
      - label: Storage size
        schema: schema/properties/spec/properties/topology/properties/middleManagers/properties/persistence/properties/size
        type: input
      - label: Replicaset number
        schema: schema/properties/spec/properties/topology/properties/middleManagers/properties/replicas
        type: input
      - init:
          type: func
          value: setMachineToCustom
        loader: getMachineListForOptions
        label: Machine
        schema: schema/properties/spec/properties/topology/properties/middleManagers/properties/podResources/properties/machine
        type: select
      - init:
          type: func
          value: setLimits|cpu|topology/middleManagers
        if:
          type: function
          name: isMachineCustom|topology/middleManagers
        label: cpu
        watcher:
          func: setRequests|cpu|topology/middleManagers
          paths:
            - schema/properties/spec/properties/topology/properties/middleManagers/properties/podResources/properties/resources/properties/requests/properties/cpu
        schema: schema/properties/spec/properties/topology/properties/middleManagers/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
      - init:
          type: func
          value: setLimits|memory|topology/middleManagers
        if:
          type: function
          name: isMachineCustom|topology/middleManagers
        label: memory
        watcher:
          func: setRequests|memory|topology/middleManagers
          paths:
            - schema/properties/spec/properties/topology/properties/middleManagers/properties/podResources/properties/resources/properties/requests/properties/memory
        schema: schema/properties/spec/properties/topology/properties/middleManagers/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
      label: Middle Managers
      showLabels: true
      type: block-layout
    - elements:
      - label: Storage size
        schema: schema/properties/spec/properties/topology/properties/historicals/properties/persistence/properties/size
        type: input
      - label: Replicaset number
        schema: schema/properties/spec/properties/topology/properties/historicals/properties/replicas
        type: input
      - init:
          type: func
          value: setMachineToCustom
        loader: getMachineListForOptions
        label: Machine
        schema: schema/properties/spec/properties/topology/properties/historicals/properties/podResources/properties/machine
        type: select
      - init:
          type: func
          value: setLimits|cpu|topology/historicals
        if:
          type: function
          name: isMachineCustom||topology/historicals
        label: cpu
        watcher:
          func: setRequests|cpu|topology/historicals
          paths:
            - schema/properties/spec/properties/topology/properties/historicals/properties/podResources/properties/resources/properties/requests/properties/cpu
        schema: schema/properties/spec/properties/topology/properties/historicals/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
      - init:
          type: func
          value: setLimits|memory|topology/historicals
        if:
          type: function
          name: isMachineCustom||topology/historicals
        label: memory
        watcher:
          func: setRequests|memory|topology/historicals
          paths:
            - schema/properties/spec/properties/topology/properties/historicals/properties/podResources/properties/resources/properties/requests/properties/memory
        schema: schema/properties/spec/properties/topology/properties/historicals/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
      label: Historicals
      showLabels: true
      type: block-layout
    - elements:
      - label: Replicaset number
        schema: schema/properties/spec/properties/topology/properties/brokers/properties/replicas
        type: input
      - init:
          type: func
          value: setMachineToCustom
        loader: getMachineListForOptions
        label: Machine
        schema: schema/properties/spec/properties/topology/properties/brokers/properties/podResources/properties/machine
        type: select
      - init:
          type: func
          value: setLimits|cpu|topology/brokers
        if:
          type: function
          name: isMachineCustom|topology/brokers
        label: cpu
        watcher:
          func: setRequests|cpu|topology/middleManagers
          paths:
            - schema/properties/spec/properties/topology/properties/brokers/properties/podResources/properties/resources/properties/requests/properties/cpu
        schema: schema/properties/spec/properties/topology/properties/brokers/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
      - init:
          type: func
          value: setLimits|memory|topology/brokers
        if:
          type: function
          name: isMachineCustom|topology/brokers
        label: memory
        watcher:
          func: setRequests|memory|topology/brokers
          paths:
            - schema/properties/spec/properties/topology/properties/brokers/properties/podResources/properties/resources/properties/requests/properties/memory
        schema: schema/properties/spec/properties/topology/properties/brokers/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
      label: Brokers
      showLabels: true
      type: block-layout
    - elements:
      - label: Replicaset number
        schema: schema/properties/spec/properties/topology/properties/coordinators/properties/replicas
        type: input
      - init:
          type: func
          value: setMachineToCustom
        loader: getMachineListForOptions
        label: Machine
        schema: schema/properties/spec/properties/topology/properties/coordinators/properties/podResources/properties/machine
        type: select
      - init:
          type: func
          value: setLimits|cpu|topology/coordinators
        if:
          type: function
          name: isMachineCustom|topology/coordinators
        label: cpu
        watcher:
          func: setRequests|cpu|topology/middleManagers
          paths:
            - schema/properties/spec/properties/topology/properties/coordinators/properties/podResources/properties/resources/properties/requests/properties/cpu
        schema: schema/properties/spec/properties/topology/properties/coordinators/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
      - init:
          type: func
          value: setLimits|memory|topology/coordinators
        if:
          type: function
          name: isMachineCustom|topology/coordinators
        label: memory
        watcher:
          func: setRequests|memory|topology/coordinators
          paths:
            - schema/properties/spec/properties/topology/properties/coordinators/properties/podResources/properties/resources/properties/requests/properties/memory
        schema: schema/properties/spec/properties/topology/properties/coordinators/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
      label: Coordinators
      showLabels: true
      type: block-layout
    type: block-layout
  - customClass: mt-10
    loader: getAdminOptions|storageClasses
    if:
      type: function
      name: isToggleOn|storageClasses
    label: Storage class
    schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
    type: select
  - label: Deep Storage
    options:
    - s3
    - google
    - azure
    - hdfs
    schema: schema/properties/spec/properties/deepStorage/properties/type
    type: select
  - loader: getSecrets
    label: Config Secret
    refresh: true
    schema: schema/properties/spec/properties/deepStorage/properties/configSecret
    type: select
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - type: object-item
        label: Labels
        schema: schema/properties/spec/properties/labels
      - type: object-item
        label: Annotations
        schema: schema/properties/spec/properties/annotations
      label: Labels & Annotations
      showLabels: true
      hideBlock: true
      type: block-layout
    - init:
        type: func
        value: getDefault|deletionPolicy
      customClass: mt-20
      if:
        type: function
        name: isToggleOn|deletionPolicy
      label: Deletion Policy
      watcher:
        func: setStorageClass
        paths:
          - schema/properties/spec/properties/deletionPolicy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.halt.description
        text: Halt
        value: Halt
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
    - label: Metadata Storage External
      schema: schema/properties/spec/properties/metadataStorage/properties/externallyManaged
      type: switch
    - if:
        type: function
        name: isExternallyManaged|metadataStorage
      label: Metadata Storage Type
      watcher:
        func: clearRefs|metadataStorage
        paths:
          - schema/properties/spec/properties/metadataStorage/properties/type
      options:
      - text: MySQL
        value: MySQL
      - text: Postgres
        value: Postgres
      schema: schema/properties/spec/properties/metadataStorage/properties/type
      type: select
    - loader: getAppBindings|mysql
      if:
        type: function
        name: isMetadataStorageTypeEqualsTo|MySQL
      label: MySQL
      watcher:
        func: onRefChange|metadataStorage
        paths:
          - temp/metadataStorage
      refresh: true
      validation:
        type: required
      schema: temp/metadataStorage
      type: select
    - loader: getAppBindings|postgres
      if:
        type: function
        name: isMetadataStorageTypeEqualsTo|Postgres
      label: Postgres
      watcher:
        func: onRefChange|metadataStorage
        paths:
          - temp/metadataStorage
      refresh: true
      validation:
        type: required
      schema: temp/metadataStorage
      type: select
    - label: Zookeeper External
      schema: schema/properties/spec/properties/zookeeperRef/properties/externallyManaged
      type: switch
    - loader: getAppBindings|zookeeper
      if:
        type: function
        name: isExternallyManaged|zookeeperRef
      label: Zookeeper
      watcher:
        func: onRefChange|zookeeperRef
        paths:
          - temp/zookeeperRef
      refresh: true
      validation:
        type: required
      schema: temp/zookeeperRef
      type: select
    - if:
        type: function
        name: getDefaultValue|spec/admin/authCredential/customize
      label: Provide Authentication Credentials?
      watcher:
        func: onAuthChange
        paths:
          - temp/createAuthSecret
      schema: temp/createAuthSecret
      type: switch
    - if:
        type: function
        name: showReferSecretSwitch
      label: Refer existing Secret?
      watcher:
        func: onReferSecretChange
        paths:
          - temp/referSecret
      schema: temp/referSecret
      type: switch
    - loader: getReferSecrets
      if:
        type: function
        name: showSecretDropdown
      label: Secret
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        type: function
        name: showReferSecret
      label: password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - init:
        type: func
        value: isConfigAvailable
      if:
        type: function
        name: getDefaultValue|spec/admin/customConfiguration
      label: Configure Database?
      watcher:
        func: clearConfiguration
        paths:
          - temp/configDatabase
      schema: temp/configDatabase
      type: switch
    - if:
        type: function
        name: isConfigDatabaseOn
      label: Configuration
      # hasCopy: true
      schema: schema/properties/spec/properties/configuration
      type: textarea
    - if:
        type: function
        name: isToggleOn|deployment
      label: Deployment name
      options:
      - description: labels.deployment.shared
        text: Shared
        value: Shared
      - description: labels.deployment.dedicated
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        type: function
        name: isToggleOn|clusterTier
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      loader: getAdminOptions|clusterTier/placement
      if:
        type: function
        name: isToggleOn|clusterTier/placement
      label: Placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      loader: getNodeTopology
      if:
        type: function
        name: isToggleOn|clusterTier/nodeTopology
      label: Node Topology
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  - description: Enable Backup, Monitoring, TLS etc.
    elements:
    - elements:
      - init:
          type: func
          value: setMonitoring
        label: Enable Monitoring?
        watcher:
          func: updateAlertValue
          paths:
            - temp/monitoring
        schema: temp/monitoring
        type: switch
      - customClass: mt-10
        if:
          type: function
          name: showAlerts
        label: Alert Options
        options:
        - text: None
          value: none
        - text: Critical
          value: critical
        - text: Warning
          value: warning
        - text: Info
          value: info
        schema: schema/properties/form/properties/alert/properties/enabled
        type: select
      if:
        type: function
        name: isToggleOn|monitoring
      type: block-layout
    - init:
        type: func
        value: setBackup
      if:
        type: function
        name: isToggleOn|backup
      label: Enable Backup?
      watcher:
        func: onBackupSwitch
        paths:
          - temp/backup
      schema: temp/backup
      type: switch
    - elements:
      - label: Expose via Gateway?
        schema: schema/properties/spec/properties/admin/properties/expose/properties/default
        type: switch
      if:
        type: function
        name: isToggleOn|expose
      type: block-layout
    if:
      type: function
      name: showAdditionalSettings
    label: Additional Options
    showLabels: true
    type: block-layout
  id: options
type: multi-step-form
