type: multi-step-form
step:
  - type: single-step-form
    loader: getDbDetails
    elements:
# common
      - type: input
        label: op_req_name
        if:
          type: function
          name: showAndInitName
        validation:
          type: required
        schema: schema/properties/metadata/properties/name
      - type: select
        label: Namespace
        if:
          type: function
          name: showAndInitNamespace
        init:
          type: func
          value: initNamespace
        disable: isNamespaceDisabled
        loader: getNamespaces
        validation:
          type: required
        hasGroup: isRancherManaged
        schema: schema/properties/metadata/properties/namespace
        watcher:
          func: onNamespaceChange
          paths:
            - schema/properties/metadata/properties/namespace
      - type: select
        label: Database Ref
        if:
          type: function
          name: showAndInitDatabaseRef
        loader:
          name: getDbs
          watchPaths:
            - schema/properties/metadata/properties/namespace
        init:
          type: func
          value: initDatabaseRef
        validation:
          type: required
        disable: isDatabaseRefDisabled
        refresh: true
        watcher:
          func: onDbChange
          paths:
            - schema/properties/spec/properties/proxyRef/properties/name
        schema: schema/properties/spec/properties/proxyRef/properties/name
      - type: label-element
        label: config_ops_request
        if:
          type: function
          name: showConfigureOpsrequestLabel
      - type: radio
        label: Type of Ops Request
        if:
          type: function
          name: showAndInitOpsRequestType
        options:
          - description: Update your database to any version
            text: Update Version
            value: UpdateVersion
          - description: Scale up or down pod count
            text: Horizontal Scaling
            value: HorizontalScaling
          - description: Manage your CPU resources
            text: Vertical Scaling
            value: VerticalScaling
          - description: Restart your database
            text: Restart
            value: Restart
          - description: Reconfigure your database
            text: Reconfigure
            value: Reconfigure
          - description: Reconfigure your database tls configuration
            text: Reconfigure TLS
            value: ReconfigureTLS
        init:
          type: func
          value: getRequestTypeFromRoute
        disable: isDbDetailsLoading
        watcher:
          func: onRequestTypeChange
          paths:
            - schema/properties/spec/properties/type
        isHorizontal: true
        schema: schema/properties/spec/properties/type
# UpdateVersion
      - type: block-layout
        showLabels: true
        label: Version
        fixedBlock: true
        if:
          type: function
          name: ifRequestTypeEqualsTo|UpdateVersion
        elements:
          - type: select-compare
            label: Target Version
            subtitle: Select the desired ProxySQL version to which you want to update your database.
            init:
              type: func
              value: setValueFromDbDetails|/spec/version
            loader: getDbVersions
            schema: schema/properties/spec/properties/updateVersion/properties/targetVersion
# Horizontal Scale
      - type: block-layout
        label: Horizontal Scaling Form
        showLabels: true
        fixedBlock: true
        if:
          type: function
          name: ifRequestTypeEqualsTo|HorizontalScaling
        elements:
          - type: horizontal-layout
            elements:
              - type: input-compare
                label: Replicas
                header: Replica
                subtitle: Define the total number of replicas for the database. Increasing replicas improves fault tolerance and load distribution, while reducing replicas conserves resources
                init:
                  type: func
                  value: setValueFromDbDetails|/spec/replicas
                schema: schema/properties/spec/properties/horizontalScaling/properties/member
              - type: info
                hasIcon: true
                label: Each replica represents an independent copy of your database. For example, setting this to 3 creates three copies of the database for better availability.
# vertical Scale
      - type: block-layout
        if:
          type: function
          name: ifRequestTypeEqualsTo|VerticalScaling
        elements:
          - type: machine-compare
            label: Resources
            subtitle: Compare your current machine configuration with the proposed memory adjustments and make informed decisions for your database setup
            loader: getMachines|proxysql
            init:
              type: func
              value: setMachine|proxysql
            watcher:
              func: onMachineChange|proxysql|/spec/podTemplate/spec/resources
              paths:
                - temp/properties/machine
            schema: temp/properties/machine
          - type: block-layout
            label: Node Selection
            showLabels: true
            elements:
              - type: horizontal-layout
                elements:
                - type: block-layout
                  showLabels: false
                  hideBorder: true
                  elements:
                    - type: label-element
                      label: Node Selection Policy
                      subtitle: Control where your workloads runs by configuring node selection criteria. Use label selectors to match specific nodes or taints to avoid unsuitable nodes
                    - type: select
                      label: Node Selection Policy
                      schema: schema/properties/spec/properties/verticalScaling/properties/proxysql/properties/nodeSelectionPolicy
                      options:
                        - text: LabelSelector
                          value: LabelSelector
                        - text: Taint
                          value: Taint
                - type: info
                  label: "<b> Label Selector:</b> Specify key-value pairs to target nodes that match your workload's requirements. <br/><b> Taints:</b> Define tolerations for node taints to ensure your workload runs only on compatible nodes"
                  customClass: mt-20
              - type: label-element
                label: Topology
                subtitle: Define node topology preferences, such as zone or region. For example, 'zone=us-central1-a' ensures workloads are deployed in that zone.
              - type: horizontal-layout
                elements:
                  - type: input
                    label: Key
                    validation:
                      type: custom
                      name: isVerticalScaleTopologyRequired|proxysql
                    schema: temp/topologyKey-proxysql
                  - type: input
                    label: Value
                    validation:
                      type: custom
                      name: isVerticalScaleTopologyRequired|proxysql
                    schema: temp/topologyValue-proxysql
# Reconfigure
      - type: block-layout
        label: Reconfigure Form
        if:
          name: ifRequestTypeEqualsTo|Reconfigure
          type: function
        elements:
          - type: input-compare
            label: Admin Variables
            init:
              type: func
              value: setValueFromDbDetails|/spec/initConfig/adminVariables|/spec/configuration/adminVariables
            schema: schema/properties/spec/properties/configuration/properties/adminVariables
          - type: input-compare
            label: MySQL Variables
            init:
              type: func
              value: setValueFromDbDetails|/spec/initConfig/mysqlVariables|/spec/configuration/mysqlVariables
            schema: schema/properties/spec/properties/configuration/properties/mysqlVariables
          - type: block-layout
            label: MySQL Query Rules
            showLabels: true
            elements:
              - type: select
                label: Request Type
                options:
                  - text: Add
                    value: add
                  - text: Update
                    value: update
                  - text: Delete
                    value: delete
                watcher:
                  func: onMySQLUserReqTypeChange
                  paths:
                    - schema/properties/spec/properties/configuration/properties/mysqlQueryRules/properties/reqType
                schema: schema/properties/spec/properties/configuration/properties/mysqlQueryRules/properties/reqType
              - type: array-item-form
                label: Query Rules
                buttonClass: is-light is-outlined
                init:
                  type: func
                  value: setMySQLRules
                watcher:
                  func: onMySQLRulesChange
                  paths:
                    - temp/mysqlQueryRules
                schema: temp/mysqlQueryRules/properties/rules
                element:
                  type: input
                  label: Rules
          - type: block-layout
            label: MySQL Users
            showLabels: true
            elements:
              - type: select
                label: Request Type
                options:
                  - text: Add
                    value: add
                  - text: Update
                    value: update
                  - text: Delete
                    value: delete
                watcher:
                  func: onMySQLUserReqTypeChange
                  paths:
                    - schema/properties/spec/properties/configuration/properties/mysqlUsers/properties/reqType
                schema: schema/properties/spec/properties/configuration/properties/mysqlUsers/properties/reqType
              - type: array-object-form
                label: Users
                buttonClass: is-light is-outlined
                if:
                  name: showUserCreationField
                  type: function
                schema: schema/properties/spec/properties/configuration/properties/mysqlUsers/properties/users
                elements:
                  - type: input
                    label: Username
                    validation:
                      type: required
                    schema: items/properties/username
                  - type: input
                    label: Active
                    schema: items/properties/active
                  - type: input
                    label: Default Schema
                    schema: items/properties/default_schema
                  - type: input
                    label: Use SSL
                    schema: items/properties/use_ssl
                  - type: input
                    label: Attributes
                    schema: items/properties/attributes
                  - type: input
                    label: Backend
                    schema: items/properties/backend
                  - type: input
                    label: Comment
                    schema: items/properties/comment
                  - type: input
                    label: Default Hostgroup
                    schema: items/properties/default_hostgroup
                  - type: input
                    label: Fast Forward
                    schema: items/properties/fast_forward
                  - type: input
                    label: Frontend
                    schema: items/properties/frontend
                  - type: input
                    label: Max Connections
                    schema: items/properties/max_connections
                  - type: input
                    label: Schema Locked
                    schema: items/properties/schema_locked
                  - type: input
                    label: Transaction Persistent
                    schema: items/properties/transaction_persistent
              - type: array-item-form
                label: Users
                buttonClass: is-light is-outlined
                if:
                  name: showUserDeletionField
                  type: function
                schema: schema/properties/spec/properties/configuration/properties/mysqlUsers/properties/users/properties/username
                element:
                  type: input
                  label: Username
                  validation:
                    type: required
# Reconfigure TLS
      - type: block-layout
        label: TLS
        if:
          name: ifRequestTypeEqualsTo|ReconfigureTLS
          type: function
        elements:
          - type: radio
            label: TLS Operation
            if:
              name: hasTlsField
              type: function
            options:
              - text: Update
                value: update
              - text: Rotate
                value: rotate
              - text: Remove
                value: remove
            init:
              type: func
              value: initTlsOperation
            schema: temp/properties/tlsOperation
          - type: switch
            label: Remove TLS
            fullwidth: true
            if:
              name: returnFalse
              type: function
            schema: schema/properties/spec/properties/tls/properties/remove
          - type: switch
            label: Rotate Certificates
            fullwidth: true
            schema: schema/properties/spec/properties/tls/properties/rotateCertificates
            if:
              name: returnFalse
              type: function
          - type: block-layout
            label: Issuer Reference
            showLabels: true
            if:
              name: showIssuerRefAndCertificates
              type: function
            elements:
              - type: input
                label: API Group
                init:
                  type: func
                  value: initIssuerRefApiGroup
                watcher:
                  func: initIssuerRefApiGroup
                  paths:
                    - schema/properties/spec/properties/tls/properties/issuerRef/properties/kind
                disable: true
                schema: schema/properties/spec/properties/tls/properties/issuerRef/properties/apiGroup
              - type: select
                label: Kind
                options:
                  - text: Issuer
                    value: Issuer
                  - text: ClusterIssuer
                    value: ClusterIssuer
                init:
                  type: func
                  value: setValueFromDbDetails|/spec/tls/issuerRef/kind
                validation:
                  type: custom
                  name: isIssuerRefRequired
                schema: schema/properties/spec/properties/tls/properties/issuerRef/properties/kind
              - type: select
                label: Name
                loader:
                  name: getIssuerRefsName
                  watchPaths:
                    - schema/properties/spec/properties/tls/properties/issuerRef/properties/kind
                    - schema/properties/metadata/properties/namespace
                init:
                  type: func
                  value: setValueFromDbDetails|/spec/tls/issuerRef/name
                validation:
                  type: custom
                  name: isIssuerRefRequired
                schema: schema/properties/spec/properties/tls/properties/issuerRef/properties/name
          - type: block-layout
            label: Certificates
            showLabels: true
            if:
              name: showIssuerRefAndCertificates
              type: function
            loader: setValueFromDbDetails|/spec/tls/certificates|/spec/tls/certificates
            elements:
              - type: array-object-form
                label: Certificates
                buttonClass: is-light is-outlined
                schema: schema/properties/spec/properties/tls/properties/certificates
                elements:
                - type: select
                  label: Alias
                  loader: fetchAliasOptions
                  disable: disableAlias
                  schema: alias
                - type: input
                  label: Secret Name
                  schema: secretName
                - type: input
                  label: Duration
                  schema: duration
                - type: input
                  label: Renew Before
                  schema: renewBefore
                - type: array-item-form
                  label: Organizations
                  buttonClass: is-light is-outlined
                  schema: subject/properties/organizations
                  element:
                    type: input
                    label: Organization
                - type: array-item-form
                  label: Countries
                  buttonClass: is-light is-outlined
                  schema: subject/properties/countries
                  element:
                    type: input
                    label: Country
                - type: array-item-form
                  label: Organizational Units
                  buttonClass: is-light is-outlined
                  schema: subject/properties/organizationalUnits
                  element:
                    type: input
                    label: Organizational Unit
                - type: array-item-form
                  label: Provinces
                  buttonClass: is-light is-outlined
                  schema: subject/properties/provinces
                  element:
                    type: input
                    label: Province
                - type: array-item-form
                  label: DNS Names
                  buttonClass: is-light  is-outlined
                  schema: dnsNames
                  element:
                    type: input
                    label: DNS Name
                - type: array-item-form
                  label: IP Addresses
                  buttonClass: is-light is-outlined
                  schema: ipAddresses
                  element:
                    type: input
                    label: IP Address
# common
      - type: block-layout
        label: OpsRequest Options
        showLabels: true
        elements:
          - type: time-picker
            label: Timeout
            subtitle: Specify the maximum time allowed for the operation to complete before it times out
            schema: 'schema/properties/spec/properties/timeout'
          - type: radio
            label: Apply
            schema: 'schema/properties/spec/properties/apply'
            init:
              type: func
              value: setApplyToIfReady
            options:
              - text: IfReady (OpsRequest will be applied if database is ready)
                value: IfReady
              - text: Always (OpsRequest will always be applied)
                value: Always
