step:
- elements:
  - if:
      name: showAndInitName
      type: function
    label: op_req_name
    schema: schema/properties/metadata/properties/name
    type: input
    validation:
      type: required
  - disable: isNamespaceDisabled
    hasGroup: isRancherManaged
    if:
      name: showAndInitNamespace
      type: function
    init:
      type: func
      value: initNamespace
    label: Namespace
    loader: getNamespaces
    schema: schema/properties/metadata/properties/namespace
    type: select
    validation:
      type: required
    watcher:
      func: onNamespaceChange
      paths:
      - schema/properties/metadata/properties/namespace
  - disable: isDatabaseRefDisabled
    if:
      name: showAndInitDatabaseRef
      type: function
    init:
      type: func
      value: initDatabaseRef
    label: Database Ref
    loader:
      name: getDbs
      watchPaths:
      - schema/properties/metadata/properties/namespace
    refresh: true
    schema: schema/properties/spec/properties/proxyRef/properties/name
    type: select
    validation:
      type: required
    watcher:
      func: onDbChange
      paths:
      - schema/properties/spec/properties/proxyRef/properties/name
  - if:
      name: showConfigureOpsrequestLabel
      type: function
    label: config_ops_request
    type: label-element
  - disable: isDbDetailsLoading
    if:
      name: showAndInitOpsRequestType
      type: function
    init:
      type: func
      value: getRequestTypeFromRoute
    isHorizontal: true
    label: Type of Ops Request
    options:
    - description: Update your database to any version
      text: Update Version
      value: UpdateVersion
    - description: Scale up or down pod count
      text: Horizontal Scaling
      value: HorizontalScaling
    - description: Manage your CPU resources
      text: Vertical Scaling
      value: VerticalScaling
    - description: Restart your database
      text: Restart
      value: Restart
    - description: Reconfigure your database
      text: Reconfigure
      value: Reconfigure
    - description: Reconfigure your database tls configuration
      text: Reconfigure TLS
      value: ReconfigureTLS
    schema: schema/properties/spec/properties/type
    type: radio
    watcher:
      func: onRequestTypeChange
      paths:
      - schema/properties/spec/properties/type
  - elements:
    - init:
        type: func
        value: setValueFromDbDetails|/spec/version
      label: Target Version
      loader: getDbVersions
      schema: schema/properties/spec/properties/updateVersion/properties/targetVersion
      subtitle: Select the desired ProxySQL version to which you want to update your
        database.
      type: select-compare
    - if:
        name: isVersionEmpty
        type: function
      label: ""
      loader:
        name: getVersionInfo
        watchPaths:
        - temp/properties/filteredVersion
      type: info
    fixedBlock: true
    if:
      name: ifRequestTypeEqualsTo|UpdateVersion
      type: function
    label: Version
    showLabels: true
    type: block-layout
  - elements:
    - elements:
      - header: Replica
        init:
          type: func
          value: setValueFromDbDetails|/spec/replicas
        label: Replicas
        schema: schema/properties/spec/properties/horizontalScaling/properties/member
        subtitle: Define the total number of replicas for the database. Increasing
          replicas improves fault tolerance and load distribution, while reducing
          replicas conserves resources
        type: input-compare
      - hasIcon: true
        label: Each replica represents an independent copy of your database. For example,
          setting this to 3 creates three copies of the database for better availability.
        type: info
      type: horizontal-layout
    fixedBlock: true
    if:
      name: ifRequestTypeEqualsTo|HorizontalScaling
      type: function
    label: Horizontal Scaling Form
    showLabels: true
    type: block-layout
  - elements:
    - init:
        type: func
        value: setMachine|proxysql
      label: Resources
      loader: getMachines|proxysql
      schema: temp/properties/machine
      subtitle: Compare your current machine configuration with the proposed memory
        adjustments and make informed decisions for your database setup
      type: machine-compare
      watcher:
        func: onMachineChange|proxysql|/spec/podTemplate/spec/resources
        paths:
        - temp/properties/machine
    - elements:
      - elements:
        - elements:
          - label: Node Selection Policy
            subtitle: Control where your workloads runs by configuring node selection
              criteria. Use label selectors to match specific nodes or taints to avoid
              unsuitable nodes
            type: label-element
          - label: Node Selection Policy
            options:
            - text: LabelSelector
              value: LabelSelector
            - text: Taint
              value: Taint
            schema: schema/properties/spec/properties/verticalScaling/properties/proxysql/properties/nodeSelectionPolicy
            type: select
          hideBorder: true
          showLabels: false
          type: block-layout
        - customClass: mt-20
          label: <b> Label Selector:</b> Specify key-value pairs to target nodes that
            match your workload's requirements. <br/><b> Taints:</b> Define tolerations
            for node taints to ensure your workload runs only on compatible nodes
          type: info
        type: horizontal-layout
      - label: Topology
        subtitle: Define node topology preferences, such as zone or region. For example,
          'zone=us-central1-a' ensures workloads are deployed in that zone.
        type: label-element
      - elements:
        - label: Key
          schema: temp/topologyKey-proxysql
          type: input
          validation:
            name: isVerticalScaleTopologyRequired|proxysql
            type: custom
        - label: Value
          schema: temp/topologyValue-proxysql
          type: input
          validation:
            name: isVerticalScaleTopologyRequired|proxysql
            type: custom
        type: horizontal-layout
      label: Node Selection
      showLabels: true
      type: block-layout
    - elements:
      - elements:
        - init:
            type: func
            value: setExporter|cpu
          label: CPU
          schema: schema/properties/spec/properties/verticalScaling/properties/exporter/properties/resources/properties/requests/properties/cpu
          type: input
        - init:
            type: func
            value: setExporter|memory
          label: Memory
          schema: schema/properties/spec/properties/verticalScaling/properties/exporter/properties/resources/properties/limits/properties/memory
          type: input
          watcher:
            func: onExporterResourceChange|memory
            paths:
            - schema/properties/spec/properties/verticalScaling/properties/exporter/properties/resources/properties/limits/properties/memory
        showLabels: true
        type: horizontal-layout
      hideBlock: true
      label: Exporter
      showLabels: true
      type: block-layout
    if:
      name: ifRequestTypeEqualsTo|VerticalScaling
      type: function
    type: block-layout
  - elements:
    - init:
        type: func
        value: setValueFromDbDetails|/spec/initConfig/adminVariables|/spec/configuration/adminVariables
      label: Admin Variables
      schema: schema/properties/spec/properties/configuration/properties/adminVariables
      type: input-compare
    - init:
        type: func
        value: setValueFromDbDetails|/spec/initConfig/mysqlVariables|/spec/configuration/mysqlVariables
      label: MySQL Variables
      schema: schema/properties/spec/properties/configuration/properties/mysqlVariables
      type: input-compare
    - elements:
      - label: Request Type
        options:
        - text: Add
          value: add
        - text: Update
          value: update
        - text: Delete
          value: delete
        schema: schema/properties/spec/properties/configuration/properties/mysqlQueryRules/properties/reqType
        type: select
        watcher:
          func: onMySQLUserReqTypeChange
          paths:
          - schema/properties/spec/properties/configuration/properties/mysqlQueryRules/properties/reqType
      - buttonClass: is-light is-outlined
        element:
          label: Rules
          type: input
        init:
          type: func
          value: setMySQLRules
        label: Query Rules
        schema: temp/mysqlQueryRules/properties/rules
        type: array-item-form
        watcher:
          func: onMySQLRulesChange
          paths:
          - temp/mysqlQueryRules
      label: MySQL Query Rules
      showLabels: true
      type: block-layout
    - elements:
      - label: Request Type
        options:
        - text: Add
          value: add
        - text: Update
          value: update
        - text: Delete
          value: delete
        schema: schema/properties/spec/properties/configuration/properties/mysqlUsers/properties/reqType
        type: select
        watcher:
          func: onMySQLUserReqTypeChange
          paths:
          - schema/properties/spec/properties/configuration/properties/mysqlUsers/properties/reqType
      - buttonClass: is-light is-outlined
        elements:
        - label: Username
          schema: items/properties/username
          type: input
          validation:
            type: required
        - label: Active
          schema: items/properties/active
          type: input
        - label: Default Schema
          schema: items/properties/default_schema
          type: input
        - label: Use SSL
          schema: items/properties/use_ssl
          type: input
        - label: Attributes
          schema: items/properties/attributes
          type: input
        - label: Backend
          schema: items/properties/backend
          type: input
        - label: Comment
          schema: items/properties/comment
          type: input
        - label: Default Hostgroup
          schema: items/properties/default_hostgroup
          type: input
        - label: Fast Forward
          schema: items/properties/fast_forward
          type: input
        - label: Frontend
          schema: items/properties/frontend
          type: input
        - label: Max Connections
          schema: items/properties/max_connections
          type: input
        - label: Schema Locked
          schema: items/properties/schema_locked
          type: input
        - label: Transaction Persistent
          schema: items/properties/transaction_persistent
          type: input
        if:
          name: showUserCreationField
          type: function
        label: Users
        schema: schema/properties/spec/properties/configuration/properties/mysqlUsers/properties/users
        type: array-object-form
      - buttonClass: is-light is-outlined
        element:
          label: Username
          type: input
          validation:
            type: required
        if:
          name: showUserDeletionField
          type: function
        label: Users
        schema: schema/properties/spec/properties/configuration/properties/mysqlUsers/properties/users/properties/username
        type: array-item-form
      label: MySQL Users
      showLabels: true
      type: block-layout
    if:
      name: ifRequestTypeEqualsTo|Reconfigure
      type: function
    label: Reconfigure Form
    type: block-layout
  - elements:
    - if:
        name: hasTlsField
        type: function
      init:
        type: func
        value: initTlsOperation
      label: TLS Operation
      options:
      - text: Update
        value: update
      - text: Rotate
        value: rotate
      - text: Remove
        value: remove
      schema: temp/properties/tlsOperation
      type: radio
    - fullwidth: true
      if:
        name: isTlsEnabled
        type: function
      label: Remove TLS
      schema: schema/properties/spec/properties/tls/properties/remove
      type: switch
    - fullwidth: true
      if:
        name: isTlsEnabled
        type: function
      label: Rotate Certificates
      schema: schema/properties/spec/properties/tls/properties/rotateCertificates
      type: switch
    - elements:
      - disable: true
        init:
          type: func
          value: initIssuerRefApiGroup
        label: API Group
        schema: schema/properties/spec/properties/tls/properties/issuerRef/properties/apiGroup
        type: input
        watcher:
          func: initIssuerRefApiGroup
          paths:
          - schema/properties/spec/properties/tls/properties/issuerRef/properties/kind
      - init:
          type: func
          value: setValueFromDbDetails|/spec/tls/issuerRef/kind
        label: Kind
        options:
        - text: Issuer
          value: Issuer
        - text: ClusterIssuer
          value: ClusterIssuer
        schema: schema/properties/spec/properties/tls/properties/issuerRef/properties/kind
        type: select
        validation:
          name: isIssuerRefRequired
          type: custom
      - init:
          type: func
          value: setValueFromDbDetails|/spec/tls/issuerRef/name
        label: Name
        loader:
          name: getIssuerRefsName
          watchPaths:
          - schema/properties/spec/properties/tls/properties/issuerRef/properties/kind
          - schema/properties/metadata/properties/namespace
        schema: schema/properties/spec/properties/tls/properties/issuerRef/properties/name
        type: select
        validation:
          name: isIssuerRefRequired
          type: custom
      if:
        name: showIssuerRefAndCertificates
        type: function
      label: Issuer Reference
      showLabels: true
      type: block-layout
    - elements:
      - buttonClass: is-light is-outlined
        elements:
        - disable: disableAlias
          label: Alias
          loader: fetchAliasOptions
          schema: alias
          type: select
          validation:
            type: required
        - label: Secret Name
          schema: secretName
          type: input
        - label: Duration
          schema: duration
          type: input
        - label: Renew Before
          schema: renewBefore
          type: input
        - buttonClass: is-light is-outlined
          element:
            label: Organization
            type: input
          label: Organizations
          schema: subject/properties/organizations
          type: array-item-form
        - buttonClass: is-light is-outlined
          element:
            label: Country
            type: input
          label: Countries
          schema: subject/properties/countries
          type: array-item-form
        - buttonClass: is-light is-outlined
          element:
            label: Organizational Unit
            type: input
          label: Organizational Units
          schema: subject/properties/organizationalUnits
          type: array-item-form
        - buttonClass: is-light is-outlined
          element:
            label: Province
            type: input
          label: Provinces
          schema: subject/properties/provinces
          type: array-item-form
        - buttonClass: is-light  is-outlined
          element:
            label: DNS Name
            type: input
          label: DNS Names
          schema: dnsNames
          type: array-item-form
        - buttonClass: is-light is-outlined
          element:
            label: IP Address
            type: input
          label: IP Addresses
          schema: ipAddresses
          type: array-item-form
        label: Certificates
        schema: schema/properties/spec/properties/tls/properties/certificates
        type: array-object-form
      if:
        name: showIssuerRefAndCertificates
        type: function
      label: Certificates
      loader: setValueFromDbDetails|/spec/tls/certificates|/spec/tls/certificates
      showLabels: false
      type: block-layout
    if:
      name: ifRequestTypeEqualsTo|ReconfigureTLS
      type: function
    label: TLS
    type: block-layout
  - elements:
    - label: Timeout
      schema: schema/properties/spec/properties/timeout
      subtitle: Specify the maximum time allowed for the operation to complete before
        it times out
      type: time-picker
    - init:
        type: func
        value: setApplyToIfReady
      label: Apply
      options:
      - text: IfReady (OpsRequest will be applied if database is ready)
        value: IfReady
      - text: Always (OpsRequest will always be applied)
        value: Always
      schema: schema/properties/spec/properties/apply
      type: radio
    label: OpsRequest Options
    showLabels: true
    type: block-layout
  loader: getDbDetails
  type: single-step-form
type: multi-step-form
