type: multi-step-form
step:
  - type: single-step-form
    id: basic
    # label: Basic Information
    loader: init
    elements:
      - type: label-element
        label: ''
        subtitle: Select a backup configuration and choose which backup sessions to view or manage
      - type: select
        label: Backup Configuration
        subtitle: Select the backup configuration that contains the sessions you want to view
        schema: temp/properties/backup
        validation:
          type: required
        if:
          type: function
          name: isApiResolved
        loader: getOptions
        watcher:
          func: clearModel
          paths:
            - temp/properties/backup
      - type: select
        multiple: true
        label: Backup Sessions
        subtitle: Select one or more backup sessions to view their details and status
        schema: temp/properties/selectedSessions
        refresh: true
        validation:
          type: required
        if:
          type: function
          name: isBackupSelected
        loader:
          name: getSessionOptions
          watchPaths:
            - temp/properties/backup
        watcher:
          func: buildCommand
          paths:
            - temp/properties/selectedSessions
