step:
- type: single-step-form
  loader: init
  elements:
  - loader: fetchNamespaces
    hasGroup: isRancherManaged
    if:
      type: function
      name: isConsole
    label: Select Namespace
    schema: schema/properties/metadata/properties/release/properties/namespace
    type: select
  - if:
      type: function
      name: isConsole
    label: labels.name
    schema: schema/properties/metadata/properties/release/properties/name
    type: input
  - init:
      type: func
      value: initMetadata
    if:
      type: function
      name: returnFalse
    label: ''
    schema: schema/properties/metadata
    type: input
  - elements:
    - disableUnselect: true
      loader: getRepositories
      label: Repository
      watcher:
        func: onRepoChange
        paths:
          - discriminator/repository
      refresh: true
      schema: discriminator/repository
      type: select
    - disableUnselect: true
      loader: getSnapshots
      label: labels.dataSource.snapshot
      refresh: true
      schema: schema/properties/spec/properties/dataSource/properties/snapshot
      type: select
    label: Data Source
    schema: schema/properties/spec/properties/dataSource
    type: single-step-form
  - elements:
    - loader: getAddons
      if:
        type: function
        name: isConsole
      label: labels.name
      refresh: true
      schema: schema/properties/spec/properties/addon/properties/name
      type: select
    - label: Additional Parameters
      watcher:
        func: onParameterChange
        paths:
          - discriminator/params
      schema: discriminator/params
      type: textarea
    - init:
        type: func
        value: setSecurityContext
      if:
        type: function
        name: returnFalse
      label: ''
      schema: schema/properties/spec/properties/addon/properties/jobTemplate
      type: input
    label: Addon
    type: block-layout
  - elements:
    - loader: getApiGroup
      label: Api Group
      schema: schema/properties/spec/properties/target/properties/apiGroup
      type: select
    - loader: getKinds
      label: Kind
      watcher:
        func: setVersion
        paths:
          - schema/properties/spec/properties/target/properties/kind
      schema: schema/properties/spec/properties/target/properties/kind
      type: select
    - loader: fetchNamespaces
      hasGroup: isRancherManaged
      label: Namespace
      schema: schema/properties/spec/properties/target/properties/namespace
      type: select
    - loader: getTargetName
      label: Name
      schema: schema/properties/spec/properties/target/properties/name
      type: select
    if:
      type: function
      name: isConsole
    label: Target
    showLabels: true
    type: block-layout
  id: options
  # title: steps.0.label
type: multi-step-form
