step:
- type: single-step-form
  loader: initBundle
  elements:
  - disableUnselect: true
    loader: getAdminOptions|databases/Ignite/versions
    if:
      type: function
      name: isToggleOn|databases/Ignite/versions
    label: Database version
    schema: schema/properties/spec/properties/admin/properties/databases/properties/Ignite/properties/versions/properties/default
    type: select
  - init:
     type: func
     value: getDefault|databases/Ignite/mode
    loader: getAdminOptions|databases/Ignite/mode
    if:
      type: function
      name: isToggleOn|databases/Ignite/mode
    label: Database mode
    isHorizontal: true
    watcher:
      func: toggleTls
      paths:
        - schema/properties/spec/properties/mode
    schema: schema/properties/spec/properties/mode
    type: radio
  - if:
      type: function
      name: isEqualToModelPathValue|Replicaset|/spec/mode
    label: Replicaset number
    schema: schema/properties/spec/properties/replicas
    type: input
  - elements:
    - init:
        type: func
        value: setMachineToCustom
      customClass: mt-10
      loader: getMachineListForOptions
      label: Machine
      schema: schema/properties/spec/properties/podResources/properties/machine
      type: select
    - init:
        type: func
        value: setLimits|cpu
      if:
        type: function
        name: isMachineCustom
      label: cpu
      watcher:
        func: setRequests|cpu
        paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
      schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
      type: input
    - init:
        type: func
        value: setLimits|memory
      if:
        type: function
        name: isMachineCustom
      label: memory
      watcher:
        func: setRequests|memory
        paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
      schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
      type: input
    label: Machine_profile
    showLabels: true
    type: block-layout
  - loader: getAdminOptions|storageClasses
    if:
      type: function
      name: isToggleOn|storageClasses
    label: Storage class
    schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
    type: select
  - label: Storage size
    schema: schema/properties/spec/properties/persistence/properties/size
    type: input
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - type: object-item
        label: Labels
        buttonClass: is-light is-outlined
        schema: schema/properties/spec/properties/labels
      - type: object-item
        label: Annotations
        buttonClass: is-light is-outlined
        schema: schema/properties/spec/properties/annotations
      label: Labels & Annotations
      showLabels: true
      hideBlock: true
      type: block-layout
    - init:
        type: func
        value: getDefault|deletionPolicy
      customClass: mt-20
      if:
        type: function
        name: isToggleOn|deletionPolicy
      label: Deletion Policy
      watcher:
        func: setStorageClass
        paths:
          - schema/properties/spec/properties/deletionPolicy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.halt.description
        text: Halt
        value: Halt
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
    - if:
        type: function
        name: getDefaultValue|spec/admin/authCredential/customize
      label: Provide Authentication Credentials?
      watcher:
        func: onAuthChange
        paths:
          - temp/createAuthSecret
      schema: temp/createAuthSecret
      type: switch
    - if:
        type: function
        name: showReferSecretSwitch
      label: Refer existing Secret?
      watcher:
        func: onReferSecretChange
        paths:
          - temp/referSecret
      schema: temp/referSecret
      type: switch
    - loader: getReferSecrets
      if:
        type: function
        name: showSecretDropdown
      label: Secret
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        type: function
        name: showReferSecret
      label: password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - init:
        type: func
        value: isConfigAvailable
      if:
        type: function
        name: getDefaultValue|spec/admin/customConfiguration
      label: Configure Database?
      watcher:
        func: clearConfiguration
        paths:
          - temp/configDatabase
      schema: temp/configDatabase
      type: switch
    - if:
        type: function
        name: isConfigDatabaseOn
      label: Configuration
      # hasCopy: true
      schema: schema/properties/spec/properties/configuration
      type: textarea
    - if:
        type: function
        name: isToggleOn|deployment
      label: Deployment name
      options:
      - description: labels.deployment.shared
        text: Shared
        value: Shared
      - description: labels.deployment.dedicated
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        type: function
        name: isToggleOn|clusterTier
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      loader: getAdminOptions|clusterTier/placement
      if:
        type: function
        name: isToggleOn|clusterTier/placement
      label: Placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      loader: getNodeTopology
      if:
        type: function
        name: isToggleOn|clusterTier/nodeTopology
      label: Node Topology
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  id: options
type: multi-step-form
