# Default values for kubestashcom-backupconfiguration-editor-options.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

metadata:
  resource:
    group: core.kubestash.com
    kind: BackupConfiguration
    name: backupconfigurations
    scope: Namespaced
    version: v1alpha1
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

spec:
  # Annotations to add to the database custom resource
  annotations: {}

  # Labels to add to all the template objects
  labels: {}

  backend:
    storageRef:
      name: ""
      namespace: ""
    retentionPolicy:
      name: ""
      namespace: ""

  sessions: []

  target:
    apiGroup: "kubedb.com"
    kind: ""
    name: ""
    namespace: ""
