# Default values for kubedbcom-clickhouse-editor-options.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

metadata:
  resource:
    group: kubedb.com
    kind: ClickHouse
    name: clickhouses
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

spec:
  # Annotations to add to the database custom resource
  annotations: {}

  # Labels to add to all the template objects
  labels: {}

  # Standalone, Topology
  mode: Standalone
  topology:
    clickHouseKeeper:
      externallyManaged: false
      node:
        host: clickhouse-keeper.click-keeper
        port: 2181
      spec:
        persistence:
          size: 2Gi
        podResources:
          machine: ""

          resources:
            requests:
              cpu: 500m
              memory: 1Gi
        replicas: 2
    cluster:
      replicas: 3
      shards: 2

  deletionPolicy: WipeOut

  persistence:
    size: 2Gi
  podResources:
    machine: ""

    resources:
      requests:
        cpu: 500m
        memory: 1Gi

  authSecret:
    name: ""

    password: ""
  configuration:
    secretName: ""
    applyConfig: {}

  openshift:
    securityContext:
      runAsUser:

  admin:
    deployment:
      default: Shared
      toggle: true
    clusterTier:
      default: "GeneralPurpose"
      toggle: true
      nodeTopology:
        available: []
        default: ""
        toggle: true
      placement:
        available: []
        default: ""
        toggle: true

    showPreview: false
    leftPanel:
      showInsights: true
      showVaultInfo: true
      showOperations: true
      showBackup: true
      showBackupLegacy: false
      showSecurity: false

    nodeSelector: {}
    tolerations: []

    databases:
      ClickHouse:
        versions:
          available: []
          default: ""
          toggle: true
        mode:
          available: ["Standalone", "Topology"]
          default: "Topology"
          toggle: true
    storageClasses:
      available: []
      default: ""
      toggle: true

    tls:
      default: false
      toggle: true
    clusterIssuers:
      available: []
      default: ""
      toggle: true
    expose:
      default: false
      toggle: false

    monitoring:
      # Name of monitoring agent (one of "prometheus.io", "prometheus.io/operator", "prometheus.io/builtin")
      agent: ""
      exporter:
        resources: # +doc-gen:break
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 256Mi
      toggle: false
    alert:
      toggle: false

    authCredential:
      customize: true
      referExisting: true
    customConfiguration: true

    deletionPolicy:
      default: WipeOut
      toggle: true
    backup:
      enable:
        default: false
        toggle: false
      by: BackupConfiguration
      via: Restic
    archiver:
      enable:
        default: false
        toggle: false
      via: Restic
    pointInTimeRecovery:
      default: false
      toggle: false

    gitOps:
      enable:
        default: false
        toggle: false
    machineProfiles:
      machines: []
      available: []
      default: ""

  backup:
    tool: ""
    toggle: true
    kubestash:
      schedule: ""
      storageRef:
        name: ""
        namespace: ""
      retentionPolicy:
        name: ""
        namespace: ""
      encryptionSecret:
        name: ""
        namespace: ""
  monitoring:
    serviceMonitor:
      # Specify the labels for ServiceMonitor.
      # Prometheus crd will select ServiceMonitor using these labels.
      # Only usable when monitoring agent is `prometheus.io/webhook server`.
      labels: {}
