type: multi-step-form
step:
  - type: single-step-form
    loader: getDbDetails
    elements:
# common
      - type: input
        label: op_req_name
        if:
          type: function
          name: showAndInitName
        validation:
          type: required
        schema: schema/properties/metadata/properties/name
      - type: select
        label: Namespace
        if:
          type: function
          name: showAndInitNamespace
        init:
          type: func
          value: initNamespace
        disable: isNamespaceDisabled
        loader: getNamespaces
        validation:
          type: required
        hasGroup: isRancherManaged
        schema: schema/properties/metadata/properties/namespace
      - type: select
        label: Database Ref
        if:
          type: function
          name: showAndInitDatabaseRef
        loader:
          name: getDbs
          watchPaths:
            - schema/properties/metadata/properties/namespace
        init:
          type: func
          value: initDatabaseRef
        validation:
          type: required
        disable: isDatabaseRefDisabled
        refresh: true
        watcher:
          func: onDbChange
          paths:
            - schema/properties/spec/properties/databaseRef/properties/name
        schema: schema/properties/spec/properties/databaseRef/properties/name
      - type: label-element
        label: config_ops_request
        if:
          type: function
          name: showConfigureOpsrequestLabel
      - type: radio
        label: Type of Ops Request
        if:
          type: function
          name: showAndInitOpsRequestType
        options:
          - description: Update your database to any version
            text: Update Version
            value: UpdateVersion
          - description: Scale up or down pod count
            text: Horizontal Scaling
            value: HorizontalScaling
          - description: Manage your CPU resources
            text: Vertical Scaling
            value: VerticalScaling
          - description: Restart your database
            text: Restart
            value: Restart
          - description: Reconfigure your database
            text: Reconfigure
            value: Reconfigure
        init:
          type: func
          value: getRequestTypeFromRoute
        disable: isDbDetailsLoading
        watcher:
          func: isDbDetailsLoading
          paths:
            - temp/dbDetails
            - schema/properties/spec/properties/databaseRef/properties/name
        isHorizontal: true
        schema: schema/properties/spec/properties/type
# UpdateVersion
      - type: block-layout
        showLabels: true
        label: Version
        fixedBlock: true
        if:
          type: function
          name: ifRequestTypeEqualsTo|UpdateVersion
        elements:
          - type: select
            label: Target Version
            subtitle: Select the desired Memcached version to which you want to update your database.
            init:
              type: func
              value: setValueFromDbDetails|/spec/version
            loader: getDbVersions
            schema: schema/properties/spec/properties/updateVersion/properties/targetVersion
# Horizontal Scale
      - type: block-layout
        label: Horizontal Scaling Form
        showLabels: true
        fixedBlock: true
        if:
          type: function
          name: ifRequestTypeEqualsTo|HorizontalScaling
        elements:
          - type: input-compare
            label: Replicas
            if:
              type: function
              name: ifDbTypeEqualsTo|Combined|horizontalScaling
            init:
              type: func
              value: setValueFromDbDetails|/spec/replicas
            schema: schema/properties/spec/properties/horizontalScaling/properties/replicas
# vertical Scale
      - type: block-layout
        if:
          type: function
          name: ifRequestTypeEqualsTo|VerticalScaling
        elements:
          - type: block-layout
            label: Memcached Vertical Scaling
            showLabels: false
            elements:
              - type: machine-compare
                label: Resources
                subtitle: Compare your current machine configuration with the proposed memory adjustments and make informed decisions for your database setup
                loader: getMachines
                init:
                  type: func
                  value: setMachine
                watcher:
                  func: onMachineChange|memcached|/spec/podTemplate/spec/resources
                  paths:
                    - temp/properties/machine
                schema: temp/properties/machine
              - type: block-layout
                label: Node Selection 
                showLabels: true
                elements:
                  - type: horizontal-layout
                    elements:
                    - type: block-layout
                      showLabels: false
                      hideBorder: true
                      elements:
                        - type: label-element
                          label: Node Selection Policy
                          subtitle: Control where your workloads runs by configuring node selection criteria. Use label selectors to match specific nodes or taints to avoid unsuitable nodes
                        - type: select
                          label: Node Selection Policy
                          schema: schema/properties/spec/properties/verticalScaling/properties/memcached/properties/nodeSelectionPolicy
                          options:
                            - text: LabelSelector
                              value: LabelSelector
                            - text: Taint
                              value: Taint
                    - type: info
                      label: "<b> Label Selector:</b> Specify key-value pairs to target nodes that match your workload's requirements. <br/><b> Taints:</b> Define tolerations for node taints to ensure your workload runs only on compatible nodes"
                      customClass: mt-20
                  - type: label-element
                    label: Topology
                    subtitle: Define node topology preferences, such as zone or region. For example, 'zone=us-central1-a' ensures workloads are deployed in that zone.
                  - type: horizontal-layout
                    elements:
                      - type: input
                        label: Key
                        validation:
                          type: custom
                          name: isVerticalScaleTopologyRequired|memcached
                        schema: temp/topologyKey-memcached
                      - type: input
                        label: Value
                        validation:
                          type: custom
                          name: isVerticalScaleTopologyRequired|memcached
                        schema: temp/topologyValue-memcached
          - type: block-layout
            label: Exporter
            showLabels: true
            hideBlock: true
            elements:
              - type: label-element
                label: Exporter
                subtitle: Configure resource requests for the exporter. These settings determine the CPU and memory allocated to monitor your database metrics.
              - type: horizontal-layout
                showLabels: true
                elements:
                  - type: input
                    label: CPU
                    init:
                      type: func
                      value: setExporter|memcached|cpu
                    schema: schema/properties/spec/properties/verticalScaling/properties/exporter/properties/resources/properties/requests/properties/cpu
                  - type: input
                    label: Memory
                    init:
                      type: func
                      value: setExporter|memcached|memory
                    schema: schema/properties/spec/properties/verticalScaling/properties/exporter/properties/resources/properties/requests/properties/memory
                    watcher:
                      func: onExporterResourceChange|memcached
                      paths:
                        - schema/properties/spec/properties/verticalScaling/properties/exporter/properties/resources/properties/requests/properties/memory
# Reconfigure
      - type: block-layout
        label: Reconfigure Form
        if:
          name: ifRequestTypeEqualsTo|Reconfigure
          type: function
        loader:
          name: fetchConfigSecrets
          watchPaths:
            - schema/properties/metadata/properties/namespace
        elements:
          - type: label-element
            label: ''
            subtitle: Select a new configuration secret, apply a custom configuration, or remove an existing setup to update your database settings
          - type: block-layout
            label: Configuration
            showLabels: false
            elements:
              - type: tab-layout
                label: New Config Secret
                schema: temp/properties/reconfigurationType
                options:
                  - text: NEW CONFIG SECRET
                    value: selectNewConfigSecret
                  - text: APPLY CONFIG
                    value: applyConfig
                  - text: REMOVE
                    value: remove
                elements:
                  - type: block-layout
                    label: Config Secret
                    if:
                      name: ifReconfigurationTypeEqualsTo|selectNewConfigSecret
                      type: function
                    elements:
                      - type: label-element
                        label: Config Secret
                        subtitle: Select a configuration secret from the available list to update your database settings
                        customClass: mb-10
                      - type: select
                        customClass: mb-2
                        schema: schema/properties/spec/properties/configuration/properties/configSecret/properties/name
                        refresh: true
                        label: Config Secret
                        loader:
                          name: getConfigSecrets
                          watchPaths:
                            - schema/properties/metadata/properties/namespace
                            - temp/properties/createSecret/properties/status
                        init:
                          type: func
                          value: setValueFromDbDetails|/spec/configSecret/name
                        watcher:
                          func: onCreateSecretChange
                          paths:
                            - temp/properties/createSecret/properties/status
                      - type: label-element
                        label: ''
                        loader:
                          name: getSelectedConfigurationName|create
                          watchPaths:
                            - schema/properties/spec/properties/configuration/properties/configSecret/properties/name
                      - type: block-layout
                        label: Create a New Config Secret
                        showLabels: true
                        if:
                          type: function
                          name: isCreateSecret
                        hasButton:
                          text: Save
                          hasCancel: cancelCreateSecret
                          action: createNewConfigSecret
                        elements:
                          - type: input
                            label: Secret Name
                            schema: temp/properties/createSecret/properties/name
                            validation:
                              type: required
                          - type: array-object-form
                            label: String Data
                            schema: temp/properties/createSecret/properties/data
                            buttonClass: is-light is-outlined
                            validation:
                              type: required
                            elements:
                              - type: select
                                label: Key
                                schema: key
                                loader:
                                  name: onSelectedSecretChange
                                  watchPaths:
                                    - temp/properties/createSecret/properties/data
                                validation:
                                  type: required
                              - type: textarea
                                label: Value
                                schema: value
                      - type: multi-file-editor
                        editorHeight: 500px
                        readonly: true
                        if:
                          type: function
                          name: isNotCreateSecret
                        loader:
                          name: onNewConfigSecretChange
                          watchPaths:
                            - schema/properties/spec/properties/configuration/properties/configSecret/properties/name
                        schema: temp/properties/newConfigSecret
                  - type: block-layout
                    label: ApplyConfig
                    if:
                      name: ifReconfigurationTypeEqualsTo|applyConfig
                      type: function
                    elements:
                      - type: label-element
                        label: New Apply Config
                        subtitle: Define custom configurations for your database using key-value pairs. These parameters will overwrite existing settings.<br>Enter the parameter you want to configure (e.g., max_connections).
                        customClass: mb-10
                      - type: select
                        customClass: mb-2
                        schema: temp/properties/selectedConfiguration
                        refresh: true
                        label: Configuration
                        loader: getConfigSecretsforAppyConfig
                      - type: label-element
                        label: ''
                        loader:
                          name: getSelectedConfigurationName|apply
                          watchPaths:
                            - temp/properties/selectedConfiguration
                      - type: multi-file-editor
                        editorHeight: 500px
                        schema: temp/properties/applyConfig
                        loader:
                          name: setApplyConfig
                          watchPaths:
                            - temp/properties/selectedConfiguration
                        watcher:
                          func: onApplyconfigChange
                          paths:
                            - temp/properties/applyConfig
                  - type: block-layout
                    label: Remove
                    if:
                      name: ifReconfigurationTypeEqualsTo|remove
                      type: function
                    elements:
                      - type: label-element
                        label: Remove
                        subtitle: Selected a configuration secret from the available list to update your database settings
                        customClass: mb-10
                      - type: select
                        customClass: mb-2
                        schema: temp/properties/selectedConfigurationRemove
                        refresh: true
                        label: Configuration
                        loader:
                          name: getConfigSecretsforAppyConfig
                          watchPaths:
                            - schema/properties/metadata/properties/namespace
                      - type: label-element
                        label: ''
                        loader:
                          name: getSelectedConfigurationName|remove
                          watchPaths:
                            - temp/properties/selectedConfigurationRemove
                      - type: multi-file-editor
                        editorHeight: 500px
                        readonly: true
                        init:
                          type: func
                          value: onRemoveConfigChange
                        watcher:
                          func: onRemoveConfigChange
                          paths:
                            - temp/properties/selectedConfigurationRemove
                        schema: temp/properties/removeConfig
# common
      - type: block-layout
        label: OpsRequest Options
        showLabels: true
        elements:
          - type: time-picker
            label: Timeout
            schema: schema/properties/spec/properties/timeout
            subtitle: Specify the maximum time allowed for the scaling operation to complete. Use formats like 30sec, 1min(1 minute) or 2h(2 hours).
          - type: radio
            label: Apply
            schema: schema/properties/spec/properties/apply
            init:
              type: func
              value: setApplyToIfReady
            options:
              - text: IfReady (OpsRequest will be applied if database is ready)
                value: IfReady
              - text: Always (OpsRequest will always be applied)
                value: Always