# Default values for kubedbcom-mongodb-editor-options.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

metadata:
  resource:
    group: kubedb.com
    kind: MongoDB
    name: mongodbs
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

spec:
  # Annotations to add to the database custom resource
  annotations: {}

  # Labels to add to all the template objects
  labels: {}

  # Standalone, Replicaset, Sharded
  mode: Replicaset
  replicaSet:
    name: rs0
    replicas: 3
    horizons: []
  shardTopology:
    shard:
      replicas: 3
      shards: 2
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 900m
            memory: 1Gi
      persistence:
        size: 2Gi
    configServer:
      replicas: 3
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 800m
            memory: 1Gi
      persistence:
        size: 2Gi
    mongos:
      replicas: 2
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
  arbiter:
    enabled: false
    podResources:
      machine: ""
      resources:
        requests:
          cpu: 500m
          memory: 500Mi
  hidden:
    enabled: false
    replicas: 1
    podResources:
      machine: ""
      resources:
        requests:
          cpu: 500m
          memory: 1Gi
    persistence:
      size: 2Gi

  deletionPolicy: WipeOut

  persistence:
    size: 2Gi
  podResources:
    machine: ""

    resources:
      requests:
        cpu: 900m
        memory: 1Gi

  authSecret:
    name: ""

    password: ""
  configuration:
    secretName: ""
    applyConfig: {}

  archiverName: ""
  init:
    archiver:
      recoveryTimestamp: null
      encryptionSecret:
        name: ""
        namespace: ""
      fullDBRepository:
        name: ""
        namespace: ""
      manifestRepository:
        name: ""
        namespace: ""

  hostName: ""
  ip: ""

  openshift:
    securityContext:
      runAsUser:

  admin:
    deployment:
      default: Shared
      toggle: true
    clusterTier:
      default: "GeneralPurpose"
      toggle: true
      nodeTopology:
        available: []
        default: ""
        toggle: true
      placement:
        available: []
        default: ""
        toggle: true

    showPreview: false
    leftPanel:
      showInsights: true
      showVaultInfo: true
      showOperations: true
      showBackup: true
      showBackupLegacy: false
      showSecurity: false

    nodeSelector: {}
    tolerations: []

    databases:
      MongoDB:
        versions:
          available: []
          default: ""
          toggle: true
        mode:
          available: ["Standalone", "Replicaset", "Sharded"]
          default: "Replicaset"
          toggle: true
    storageClasses:
      available: []
      default: ""
      toggle: true

    tls:
      default: false
      toggle: true
    clusterIssuers:
      available: []
      default: ""
      toggle: true
    expose:
      default: false
      toggle: true

    monitoring:
      # Name of monitoring agent (one of "prometheus.io", "prometheus.io/operator", "prometheus.io/builtin")
      agent: prometheus.io/operator
      exporter:
        resources: # +doc-gen:break
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 256Mi
      toggle: true
    alert:
      toggle: true

    authCredential:
      customize: true
      referExisting: true
    customConfiguration: true

    deletionPolicy:
      default: WipeOut
      toggle: true
    backup:
      enable:
        default: true
        toggle: true
      by: BackupConfiguration
      via: Restic
    archiver:
      enable:
        toggle: true
        default: false
      via: Restic
    pointInTimeRecovery:
      default: false
      toggle: true

    gitOps:
      enable:
        default: true
        toggle: false
    machineProfiles:
      machines: []
      available: []
      default: ""

#    machineProfiles:
#      machines:
#        - id: db.t.micro
#          name: Small
#          limits:
#            cpu: 1
#            memory: 1Gi
#        - id: db.t.small
#          name: Small
#          limits:
#            cpu: 2
#            memory: 2Gi
#        - id: db.t.medium
#          name: Medium
#          limits:
#            cpu: 3
#            memory: 4Gi
#        - id: db.t.large
#          name: Large
#          limits:
#            cpu: 4
#            memory: 8Gi
#      available: ["custom", "db.t.micro", "db.t.medium", "db.t.large"]
#      default: "db.t.medium"

  backup:
    tool: ""
    toggle: true
    kubestash:
      schedule: ""
      storageRef:
        name: ""
        namespace: ""
      retentionPolicy:
        name: ""
        namespace: ""
      encryptionSecret:
        name: ""
        namespace: ""
  monitoring:
    serviceMonitor:
      # Specify the labels for ServiceMonitor.
      # Prometheus crd will select ServiceMonitor using these labels.
      # Only usable when monitoring agent is `prometheus.io/webhook server`.
      labels: {}

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: kube-prometheus-stack

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: warning
        rules:
          # Sepcifies the alert configuration for virtual memory usage.
          mongodbVirtualMemoryUsage:
            enabled: true
            val: 2097152 # 2GB
            duration: "1m"
            severity: warning
          # Sepcifies the alert configuration for replication lag.
          mongodbReplicationLag:
            enabled: true
            val: 10
            duration: "0m"
            severity: critical
          # Sepcifies the alert configuration for number of opened cursors are more than a specified amount.
          mongodbNumberCursorsOpen:
            enabled: true
            val: 10000
            duration: "2m"
            severity: warning
          # Sepcifies the alert configuration for timed out cursors.
          mongodbCursorsTimeouts:
            enabled: true
            val: 100
            duration: "2m"
            severity: warning
          # Sepcifies the alert configuration for too many connections are opened.
          mongodbTooManyConnections:
            enabled: true
            val: 80 # percentage
            duration: "2m"
            severity: warning
          # Sepcifies the alert configuration for database is in Critical phase, that means one or more of the nodes are down but the database read/write are not hampered.
          mongoDBPhaseCritical:
            enabled: true
            duration: "10m"
            severity: warning
          # Sepcifies the alert configuration for database is in NotReady phase, that means the database is not accepting connections, read/write are hampered.
          mongoDBDown:
            enabled: true
            duration: "30s"
            severity: critical
          # Sepcifies the alert configuration for high latency.
          mongodbHighLatency:
            enabled: true
            val: 250000
            duration: "10m"
            severity: warning
          # Sepcifies the alert configuration for high ticket utilizations.
          mongodbHighTicketUtilization:
            enabled: true
            val: 75 # percentage
            duration: "10m"
            severity: warning
          # Sepcifies the alert configuration for recurrent cursor timeout.
          mongodbRecurrentCursorTimeout:
            enabled: true
            val: 0
            duration: "30m"
            severity: warning
          # Sepcifies the alert configuration for recurrent memory page faults.
          mongodbRecurrentMemoryPageFaults:
            enabled: true
            val: 0
            duration: "30m"
            severity: warning
          # Sepcifies the alert configuration for persistent volume usages.
          diskUsageHigh:
            enabled: true
            val: 80
            duration: "1m"
            severity: warning
          diskAlmostFull:
            enabled: true
            val: 95
            duration: "1m"
            severity: critical
      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning
      opsManager:
        enabled: warning
        rules:
          opsRequestOnProgress:
            enabled: true
            duration: "0m"
            severity: info
          opsRequestStatusProgressingToLong:
            enabled: true
            duration: "30m"
            severity: critical
          opsRequestFailed:
            enabled: true
            duration: "0m"
            severity: critical
      stash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
      kubeStash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
      schemaManager:
        enabled: warning
        rules:
          schemaPendingForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaInProgressForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaTerminatingForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaFailed:
            enabled: true
            duration: "0m"
            severity: warning
          schemaExpired:
            enabled: true
            duration: "0m"
            severity: warning
