# Default values for kubedbcom-druid-editor-options.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

metadata:
  resource:
    group: kubedb.com
    kind: Druid
    name: druids
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

spec:
  # Annotations to add to the database custom resource
  annotations: {}

  # Labels to add to all the template objects
  labels: {}

  topology:
    middleManagers:
      replicas: 3
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
      persistence:
        size: 2Gi
    historicals:
      replicas: 3
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
      persistence:
        size: 2Gi
    brokers:
      replicas: 2
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
    coordinators:
      replicas: 2
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
    overlords:
      replicas: 2
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
    routers:
      replicas: 2
      podResources:
        machine: ""
        resources:
          requests:
            cpu: 500m
            memory: 1Gi
  deepStorage:
    # s3;google;azure;hdfs
    type: s3
    configSecret:
  metadataStorage:
    # MySQL;Postgres
    type: MySQL
    name:
    namespace:
    externallyManaged: false
  zookeeperRef:
    name:
    namespace:
    externallyManaged: false

  deletionPolicy: WipeOut

  authSecret:
    name: ""

    password: ""
  configuration:
    secretName: ""
    applyConfig: {}

  openshift:
    securityContext:
      runAsUser: null

  admin:
    deployment:
      default: Shared
      toggle: true
    clusterTier:
      default: "GeneralPurpose"
      toggle: true
      nodeTopology:
        available: []
        default: ""
        toggle: true
      placement:
        available: []
        default: ""
        toggle: true

    showPreview: false
    leftPanel:
      showInsights: true
      showVaultInfo: true
      showOperations: true
      showBackup: true
      showBackupLegacy: false
      showSecurity: false

    nodeSelector: {}
    tolerations: []

    databases:
      Druid:
        versions:
          available: []
          default: ""
          toggle: true
        mode:
          available: ["Topology"]
          default: "Topology"
          toggle: true
    storageClasses:
      available: []
      default: ""
      toggle: true

    tls:
      default: false
      toggle: true
    clusterIssuers:
      available: []
      default: ""
      toggle: true
    expose:
      default: false
      toggle: true

    monitoring:
      # Name of monitoring agent (one of "prometheus.io", "prometheus.io/operator", "prometheus.io/builtin")
      agent: prometheus.io/operator
      exporter:
        resources: # +doc-gen:break
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 256Mi
      toggle: true
    alert:
      toggle: true

    authCredential:
      customize: true
      referExisting: true
    customConfiguration: true

    deletionPolicy:
      default: WipeOut
      toggle: true
    backup:
      enable:
        default: true
        toggle: true
      by: BackupConfiguration
      via: Restic
    archiver:
      enable:
        default: false
        toggle: false
      via: Restic
    pointInTimeRecovery:
      default: false
      toggle: false

    gitOps:
      enable:
        default: false
        toggle: false
    machineProfiles:
      machines: []
      available: []
      default: ""
  backup:
    tool: ""
    toggle: true
    kubestash:
      schedule: ""
      storageRef:
        name: ""
        namespace: ""
      retentionPolicy:
        name: ""
        namespace: ""
      encryptionSecret:
        name: ""
        namespace: ""
  monitoring:
    serviceMonitor:
      # Specify the labels for ServiceMonitor.
      # Prometheus crd will select ServiceMonitor using these labels.
      # Only usable when monitoring agent is `prometheus.io/webhook server`.
      labels: {}

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: prometheus

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: warning
        rules:
          # Specifies the alert configuration for one of the service of druid is down
          druidDown:
            enabled: true
            duration: "1m"
            severity: critical
          # Specifies the alert configuration for Druid lost connection to ZooKeeper
          zkDisconnected:
            enabled: true
            duration: "1m"
            severity: critical
          # Specifies the alert configuration for Druid high query time
          highQueryTime:
            enabled: true
            duration: "1m"
            severity: warning
          # Specifies the alert configuration for Druid high query wait time
          highQueryWaitTime:
            enabled: true
            duration: "1m"
            severity: warning
          # Specifies the alert configuration for high number of segments in pending
          highSegmentScanPending:
            enabled: true
            duration: "1m"
            severity: warning
            val: 2
          # Specifies the alert configuration for high percentage of segment usage
          highSegmentUsage:
            enabled: true
            duration: "1m"
            severity: critical
            val: 95
          # Specifies the alert configuration for high percentage of jvm pool usage
          highJVMPoolUsage:
            enabled: true
            duration: "30s"
            severity: warning
            val: 95
          # Specifies the alert configuration for high percentage of jvm memory usage
          highJVMMemoryUsage:
            enabled: true
            duration: "30s"
            severity: critical
            val: 95

      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning

      opsManager:
        enabled: warning
        rules:
          opsRequestOnProgress:
            enabled: true
            duration: "0m"
            severity: info
          opsRequestStatusProgressingToLong:
            enabled: true
            duration: "30m"
            severity: critical
          opsRequestFailed:
            enabled: true
            duration: "0m"
            severity: critical
