elements:
- elements:
  - isArray: true
    keys:
      label:
        text: labels.labels.key
    label:
      text: labels.pod_annotations
    schema:
      $ref: schema#/properties/metadata/properties/annotations
    type: key-value-input-form
    values:
      label:
        text: labels.labels.value
      schema:
        $ref: schema#/properties/metadata/properties/annotations/additionalProperties
      type: input
  schema:
    $ref: schema#/properties/metadata
  type: single-step-form
- elements:
  - isArray: true
    keys:
      label:
        text: labels.labels.key
    label:
      text: labels.controller_annotations
    schema:
      $ref: schema#/properties/controller/properties/annotations
    type: key-value-input-form
    values:
      label:
        text: labels.labels.value
      schema:
        $ref: schema#/properties/controller/properties/annotations/additionalProperties
      type: input
  schema:
    $ref: schema#/properties/controller
  type: single-step-form
- disabled: disableSpec
  elements:
  - if: showResources
    label:
      text: labels.resources
    schema:
      $ref: schema#/properties/spec/properties/resources
    type: resource-input-form
  - element:
      label:
        isSubsection: true
        text: labels.args
      schema:
        $ref: schema#/properties/spec/properties/args/items
      type: input
    label:
      text: labels.args
    schema:
      $ref: schema#/properties/spec/properties/args
    type: list-input-form
  - elements:
    - label:
        text: labels.run_as_non_root
      schema:
        $ref: schema#/properties/spec/properties/containerSecurityContext/properties/runAsNonRoot
      type: switch
    - label:
        text: labels.privileged
      schema:
        $ref: schema#/properties/spec/properties/containerSecurityContext/properties/privileged
      type: switch
    - label:
        text: labels.run_as_group
      schema:
        $ref: schema#/properties/spec/properties/containerSecurityContext/properties/runAsGroup
      type: input
    - label:
        text: labels.run_as_user
      schema:
        $ref: schema#/properties/spec/properties/containerSecurityContext/properties/runAsUser
      type: input
    label:
      text: labels.container_security_context
    schema:
      $ref: schema#/properties/spec/properties/containerSecurityContext
    show_label: true
    type: single-step-form
  - elements:
    - label:
        text: labels.run_as_non_root
      schema:
        $ref: schema#/properties/spec/properties/securityContext/properties/runAsNonRoot
      type: switch
    - label:
        text: labels.fs_group
      schema:
        $ref: schema#/properties/spec/properties/securityContext/properties/fsGroup
      type: input
    - label:
        text: labels.run_as_group
      schema:
        $ref: schema#/properties/spec/properties/securityContext/properties/runAsGroup
      type: input
    - label:
        text: labels.run_as_user
      schema:
        $ref: schema#/properties/spec/properties/securityContext/properties/runAsUser
      type: input
    - alias: reusable__podTemplate_linux_options
      chart:
        name: uibytebuildersdev-component-se-linux-options
        version: v0.30.0
      moduleResolver: fetchJsons
      schema:
        $ref: schema#/properties/spec/properties/securityContext/properties/seLinuxOptions
      type: reusable-element
    label:
      text: labels.security_context
    schema:
      $ref: schema#/properties/spec/properties/securityContext
    show_label: true
    type: single-step-form
  - alias: reusable_env_variables
    chart:
      name: uibytebuildersdev-component-env
      version: v0.30.0
    dataContext:
      namespace:
        $ref: data#/properties/namespace
    moduleResolver: fetchJsons
    schema:
      $ref: schema#/properties/spec/properties/env
    type: reusable-element
  - addFormLabel: labels.toleration
    customClass: mb-20
    element:
      elements:
      - label:
          text: labels.effect
        schema:
          $ref: schema#/properties/spec/properties/tolerations/items/properties/effect
        type: input
      - label:
          text: labels.key
        schema:
          $ref: schema#/properties/spec/properties/tolerations/items/properties/key
        type: input
      - fetch: getOperatorsList
        label:
          text: labels.operator
        schema:
          $ref: schema#/properties/spec/properties/tolerations/items/properties/operator
        type: select
      - label:
          text: labels.toleration_seconds
        schema:
          $ref: schema#/properties/spec/properties/tolerations/items/properties/tolerationSeconds
        type: input
      - label:
          text: labels.value
        schema:
          $ref: schema#/properties/spec/properties/tolerations/items/properties/value
        type: input
      type: single-step-form
    label:
      text: labels.tolerations
    schema:
      $ref: schema#/properties/spec/properties/tolerations
    tableContents:
    - inTableColumn: true
      label:
        text: labels.effect
      path: effect
      type: value
      typeOfValue: string
    - inTableColumn: true
      label:
        text: labels.key
      path: key
      type: value
      typeOfValue: string
    - inTableColumn: true
      label:
        text: labels.operator
      path: operator
      type: value
      typeOfValue: string
    - inTableColumn: true
      label:
        text: labels.toleration_seconds
      path: tolerationSeconds
      type: value
      typeOfValue: string
    - inTableColumn: true
      label:
        text: labels.value
      path: value
      type: value
      typeOfValue: string
    type: single-step-form-array
  - keys:
      label:
        text: labels.labels.key
    label:
      text: labels.node_selector
    schema:
      $ref: schema#/properties/spec/properties/nodeSelector
    type: key-value-input-form
    values:
      label:
        text: labels.labels.value
      schema:
        $ref: schema#/properties/spec/properties/nodeSelector/additionalProperties
      type: input
  - elements:
    - elements:
      - elements:
        - addFormLabel: labels.node_selector_terms
          customClass: mb-20
          element:
            elements:
            - alias: reusable_node_selector_terms_match_expressions
              chart:
                name: uibytebuildersdev-component-match-expressions
                version: v0.30.0
              moduleResolver: fetchJsons
              schema:
                $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/requiredDuringSchedulingIgnoredDuringExecution/properties/nodeSelectorTerms/items/properties/matchExpressions
              type: reusable-element
            - alias: reusable_node_selector_terms_match_fields
              chart:
                name: uibytebuildersdev-component-match-fields
                version: v0.30.0
              moduleResolver: fetchJsons
              schema:
                $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/requiredDuringSchedulingIgnoredDuringExecution/properties/nodeSelectorTerms/items/properties/matchFields
              type: reusable-element
            type: single-step-form
          label:
            text: labels.node_selector_terms
          schema:
            $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/requiredDuringSchedulingIgnoredDuringExecution/properties/nodeSelectorTerms
          tableContents:
          - inTableColumn: true
            label:
              text: labels.match_expressions
            path: matchExpressions
            tableContents:
            - inTableColumn: true
              label:
                text: labels.key
              path: key
              type: value
              typeOfValue: string
            - inTableColumn: true
              label:
                text: labels.operator
              path: operator
              type: value
              typeOfValue: string
            - inTableColumn: true
              label:
                text: labels.values
              path: values
              type: value
              typeOfValue: array
            type: value
            typeOfValue: key-operator-values-array
          - inTableColumn: true
            label:
              text: labels.match_fields
            path: matchFields
            tableContents:
            - inTableColumn: true
              label:
                text: labels.key
              path: key
              type: value
              typeOfValue: string
            - inTableColumn: true
              label:
                text: labels.operator
              path: operator
              type: value
              typeOfValue: string
            - inTableColumn: true
              label:
                text: labels.values
              path: values
              type: value
              typeOfValue: array
            type: value
            typeOfValue: key-operator-values-array
          type: single-step-form-array
        schema:
          $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/requiredDuringSchedulingIgnoredDuringExecution
        type: single-step-form
      - addFormLabel: labels.preferred_during_scheduling_ignored_during_execution
        customClass: mb-20
        element:
          elements:
          - elements:
            - alias: reusable_preferred_match_expressions
              chart:
                name: uibytebuildersdev-component-match-expressions
                version: v0.30.0
              moduleResolver: fetchJsons
              schema:
                $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/preferredDuringSchedulingIgnoredDuringExecution/items/properties/preference/properties/matchExpressions
              type: reusable-element
            - alias: reusable_preferred_match_fields
              chart:
                name: uibytebuildersdev-component-match-fields
                version: v0.30.0
              moduleResolver: fetchJsons
              schema:
                $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/preferredDuringSchedulingIgnoredDuringExecution/items/properties/preference/properties/matchFields
              type: reusable-element
            schema:
              $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/preferredDuringSchedulingIgnoredDuringExecution/items/properties/preference
            type: single-step-form
          - label:
              text: labels.weight
            schema:
              $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/preferredDuringSchedulingIgnoredDuringExecution/items/properties/weight
            type: input
          type: single-step-form
        label:
          text: labels.preferred_during_scheduling_ignored_during_execution
        schema:
          $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity/properties/preferredDuringSchedulingIgnoredDuringExecution
        tableContents:
        - inTableColumn: true
          label:
            text: labels.weight
          path: weight
          type: value
          typeOfValue: string
        - inTableColumn: true
          label:
            text: labels.match_expressions
          path: preference/matchExpressions
          tableContents:
          - inTableColumn: true
            label:
              text: labels.key
            path: key
            type: value
            typeOfValue: string
          - inTableColumn: true
            label:
              text: labels.operator
            path: operator
            type: value
            typeOfValue: string
          - inTableColumn: true
            label:
              text: labels.values
            path: values
            type: value
            typeOfValue: array
          type: value
          typeOfValue: key-operator-values-array
        - inTableColumn: true
          label:
            text: labels.match_fields
          path: preference/matchFields
          tableContents:
          - inTableColumn: true
            label:
              text: labels.key
            path: key
            type: value
            typeOfValue: string
          - inTableColumn: true
            label:
              text: labels.operator
            path: operator
            type: value
            typeOfValue: string
          - inTableColumn: true
            label:
              text: labels.values
            path: values
            type: value
            typeOfValue: array
          type: value
          typeOfValue: key-operator-values-array
        type: single-step-form-array
      schema:
        $ref: schema#/properties/spec/properties/affinity/properties/nodeAffinity
      type: single-step-form
    schema:
      $ref: schema#/properties/spec/properties/affinity
    type: single-step-form
  - allowUserDefinedOption: true
    fetch: getImagePullSecrets
    label:
      text: labels.image_pull_secrets
    schema:
      $ref: schema#/properties/spec/properties/imagePullSecrets
    type: multiselect
  - label:
      text: labels.service_account_name
    schema:
      $ref: schema#/properties/spec/properties/serviceAccountName
    type: input
  label:
    text: labels.pod_spec
  schema:
    $ref: schema#/properties/spec
  show_label: true
  type: single-step-form
label:
  text: labels.pod_template
schema:
  $ref: schema#/
show_label: true
type: single-step-form
