step:
- elements:
  - hasGroup: isRancherManaged
    label: Namespace
    loader: fetchNamespaces
    schema: schema/properties/metadata/properties/release/properties/namespace
    type: select
  - elements:
    - label: Labels
      schema: schema/properties/spec/properties/labels
      type: object-item
    - label: Annotations
      schema: schema/properties/spec/properties/annotations
      type: object-item
    hideBlock: true
    label: Labels & Annotations
    showLabels: true
    type: block-layout
  - label: Invoker Kind
    options:
    - text: Backup Configurations
      value: BackupConfiguration
    - text: Backup Blueprints
      value: BackupBlueprint
    schema: schema/properties/spec/properties/invoker/properties/kind
    type: select
  - label: Invoker Name
    loader:
      name: fetchInvokerName
      watchPaths:
      - schema/properties/spec/properties/invoker/properties/kind
      - schema/properties/metadata/properties/release/properties/namespace
    schema: schema/properties/spec/properties/invoker/properties/name
    type: select
    watcher:
      func: initName
      paths:
      - schema/properties/spec/properties/invoker/properties/name
  - label: Session
    loader:
      name: fetchSessions
      watchPaths:
      - schema/properties/spec/properties/invoker/properties/name
    schema: schema/properties/spec/properties/session
    type: select
    watcher:
      func: initName
      paths:
      - schema/properties/spec/properties/session
  - label: Timeout
    options:
    - text: 5 minutes
      value: 5m
    - text: 10 minutes
      value: 10m
    - text: 30 minutes
      value: 30m
    - text: 1 hour
      value: 1h
    - text: 2 hours
      value: 2h
    - text: 5 hours
      value: 5h
    - text: 10 hours
      value: 10h
    schema: schema/properties/spec/properties/backupTimeout
    type: select
  id: options
  type: single-step-form
type: multi-step-form
