steps:
- form:
    elements:
    - disabled: isVariantAvailable
      label:
        text: labels.database.name
      onChange: onNameChange
      schema:
        $ref: schema#/properties/metadata/properties/release/properties/name
      type: input
    - add_new_button:
        label: labels.add_new_namespace
        target: _blank
        url:
          function: getCreateNameSpaceUrl
      disabled: isVariantAvailable
      fetch: getResources|core|v1|namespaces
      label:
        text: labels.namespace
      onChange: onNamespaceChange
      refresh: true
      schema:
        $ref: schema#/properties/metadata/properties/release/properties/namespace
      type: select
    - disableUnselect: true
      fetch: getKafkaVersions|catalog.kubedb.com|v1alpha1|kafkaversions
      label:
        text: labels.database.version
      schema:
        $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/version
      type: select
    - individualItemDisabilityCheck: disableLableChecker
      isArray: true
      keys:
        label:
          text: labels.labels.key
      label:
        text: labels.labels.label
      onChange: onLabelChange
      schema:
        $ref: schema#/properties/resources/properties/kubedbComKafka/properties/metadata/properties/labels
      type: key-value-input-form
      values:
        label:
          text: labels.labels.value
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/metadata/properties/labels/additionalProperties
        type: input
    - isArray: true
      keys:
        label:
          text: labels.annotations.key
      label:
        text: labels.annotations.label
      schema:
        $ref: schema#/properties/resources/properties/kubedbComKafka/properties/metadata/properties/annotations
      type: key-value-input-form
      values:
        label:
          text: labels.annotations.value
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/metadata/properties/annotations/additionalProperties
        type: input
    - hasDescription: true
      label:
        text: labels.deletionPolicy
      options:
      - description: options.deletionPolicy.wipeOut.description
        text: options.deletionPolicy.wipeOut.label
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: options.deletionPolicy.doNotTerminate.label
        value: DoNotTerminate
      schema:
        $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/deletionPolicy
      type: radio
    - label:
        text: labels.disable_security_question
      onChange: onDisableSecurityChange
      schema:
        $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/disableSecurity
      type: switch
    - discriminator:
        createAuthSecret:
          type: boolean
        password:
          type: string
      elements:
      - label:
          text: labels.database.admin_secret
        type: label-element
      - computed: getCreateAuthSecret
        onChange: onCreateAuthSecretChange
        options:
        - text: options.database.secret.existingSecret.label
          value: false
        - text: options.database.secret.customSecret.label
          value: true
        schema:
          $ref: discriminator#/properties/createAuthSecret
        type: radio
      - allowUserDefinedOption: true
        fetch: getSecrets
        if: showExistingSecretSection
        label:
          text: labels.secret
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/authSecret/properties/name
        type: select
      - computed: setAuthSecretPassword
        hideValue: true
        if: showPasswordSection
        label:
          text: Password
        onChange: onAuthSecretPasswordChange
        schema:
          $ref: discriminator#/properties/password
        type: input
      if: showSecretSection
      type: single-step-form
    type: single-step-form
  id: basic
  title: steps.0.label
- form:
    discriminator:
      activeDatabaseMode:
        type: string
    elements:
    - computed: setDatabaseMode
      hasDescription: true
      label:
        text: labels.database.mode
      onChange: deleteDatabaseModePath
      options:
      - description: options.database.mode.Combined.description
        text: options.database.mode.Combined.label
        value: Combined
      - description: options.database.mode.Dedicated.description
        text: options.database.mode.Dedicated.label
        value: Dedicated
      schema:
        $ref: discriminator#/activeDatabaseMode
      type: radio
    - elements:
      - label:
          text: labels.replicaset.number
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/replicas
        type: input
      - label:
          text: labels.storage.size
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/storage/properties/resources/properties/requests/properties/storage
        type: input
      - fetch: getStorageClassNames|/resources/kubedbComKafka/spec/storage/storageClassName
        label:
          text: labels.storage.class
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/storage/properties/storageClassName
        type: select
      if: isEqualToDatabaseMode|Combined
      type: single-step-form
    - discriminator:
        storageClasses:
          type: array
      elements:
      - computed: getStorageClassNames
        if: returnFalse
        schema:
          $ref: discriminator#/properties/storageClasses
        type: input
      - element:
          elements:
          - label:
              text: labels.replicaset.number
            schema:
              $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn/properties/replicas
            type: input
          - elements:
            - elements:
              - elements:
                - label:
                    text: labels.storage.size
                  schema:
                    $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn/properties/storage/properties/resources/properties/requests/properties/storage
                  type: input
                schema:
                  $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn/properties/storage/properties/resources/properties/requests
                type: single-step-form
              schema:
                $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn/properties/storage/properties/resources
              type: single-step-form
            - fetch: getStorageClassNamesFromDiscriminator
              label:
                text: labels.storage.class
              schema:
                $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn/properties/storage/properties/storageClassName
              type: select
            schema:
              $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn/properties/storage
            type: single-step-form
          - label:
              text: labels.suffix
            schema:
              $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn/properties/suffix
            type: input
          - label:
              text: labels.resources
            schema:
              $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn/properties/resources
            type: resource-input-form
          schema:
            $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology/properties/$dyn
          show_label: true
          toggleOption:
            id: switch
          type: single-step-form
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology
        type: array-input-form
      if: isEqualToDatabaseMode|Dedicated
      type: single-step-form
    type: single-step-form
  id: topology
  title: steps.1.label
- form:
    elements:
    - computed: returnTrue
      label:
        text: labels.enable_tls
      onChange: onTlsConfigureChange
      schema:
        $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/enableSSL
      type: switch
    - elements:
      - elements:
        - computed: setApiGroup
          disabled: true
          label:
            text: labels.api_group
          schema:
            $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/tls/properties/issuerRef/properties/apiGroup
          type: input
        - label:
            text: labels.kind
          options:
          - text: Issuer
            value: Issuer
          - text: ClusterIssuer
            value: ClusterIssuer
          schema:
            $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/tls/properties/issuerRef/properties/kind
          type: select
        - allowUserDefinedOption: true
          fetch: getIssuerRefsName
          label:
            text: labels.name
          schema:
            $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/tls/properties/issuerRef/properties/name
          type: select
        label:
          text: labels.issuer_ref
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/tls/properties/issuerRef
        type: single-step-form
      - alias: reusable_certificates
        chart:
          name: uibytebuildersdev-component-certificates
          version: v0.30.0
        functionCallbacks:
          getAliasOptions:
            $ref: functions#/getAliasOptions
        moduleResolver: fetchJsons
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/tls/properties/certificates
        type: reusable-element
      if: showTlsConfigureSection
      type: single-step-form
    type: single-step-form
  id: tls
  if: isSecurityEnabled
  title: steps.2.label
- form:
    discriminator:
      enableMonitoring:
        default: true
        type: boolean
    elements:
    - computed: returnTrue
      label:
        text: labels.enable_monitoring
      onChange: onEnableMonitoringChange
      schema:
        $ref: discriminator#/enableMonitoring
      type: switch
    - elements:
      - hasDescription: true
        label:
          text: labels.agent
        onChange: onAgentChange
        options:
        - description: options.agent.prometheus_operator.description
          text: options.agent.prometheus_operator.label
          value: prometheus.io/operator
        - description: options.agent.prometheus.description
          text: options.agent.prometheus.label
          value: prometheus.io
        - description: options.agent.prometheus_builtin.description
          text: options.agent.prometheus_builtin.label
          value: prometheus.io/builtin
        schema:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/monitor/properties/agent
        type: radio
      - elements:
        - label:
            text: labels.scrapping_interval
          schema:
            $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/monitor/properties/prometheus/properties/serviceMonitor/properties/interval
          type: input
        if: isEqualToModelPathValue|prometheus.io/operator|/resources/kubedbComKafka/spec/monitor/agent
        label:
          text: labels.service_monitor_configuration
        show_label: true
        type: single-step-form
      - elements:
        - elements:
          - addFormLabel: labels.endpoint
            element:
              elements:
              - label:
                  text: labels.honor_labels
                schema:
                  $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/endpoints/items/properties/honorLabels
                type: switch
              - label:
                  text: labels.interval
                schema:
                  $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/endpoints/items/properties/interval
                type: input
              - label:
                  text: labels.path
                schema:
                  $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/endpoints/items/properties/path
                type: input
              - label:
                  text: labels.port
                schema:
                  $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/endpoints/items/properties/port
                type: input
              type: single-step-form
            label:
              text: labels.endpoints
            schema:
              $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/endpoints
            tableContents:
            - inTableColumn: true
              label:
                text: labels.honor_labels
              path: honorLabels
              type: value
              typeOfValue: string
            - inTableColumn: true
              label:
                text: labels.interval
              path: interval
              type: value
              typeOfValue: string
            - inTableColumn: true
              label:
                text: labels.path
              path: path
              type: value
              typeOfValue: string
            - inTableColumn: true
              label:
                text: labels.port
              path: port
              type: value
              typeOfValue: string
            type: single-step-form-array
          - elements:
            - fetch: getResources|core|v1|namespaces
              label:
                text: labels.matchNames
              schema:
                $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/namespaceSelector/properties/matchNames
              type: multiselect
            if: returnFalse
            schema:
              $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/namespaceSelector
            type: single-step-form
          - elements:
            - isArray: true
              keys:
                label:
                  text: labels.labels.key
              label:
                text: labels.labels.label
              schema:
                $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/selector/properties/matchLabels
              type: key-value-input-form
              values:
                label:
                  text: labels.labels.value
                schema:
                  $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/selector/properties/matchLabels/additionalProperties
                type: input
            if: returnFalse
            schema:
              $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec/properties/selector
            type: single-step-form
          schema:
            $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/spec
          type: single-step-form
        if: isEqualToModelPathValue|prometheus.io|/resources/kubedbComKafka/spec/monitor/agent
        label:
          text: labels.service_monitor
        schema:
          $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor
        show_label: true
        type: single-step-form
      - if: isEqualToModelPathValue|prometheus.io|/resources/kubedbComKafka/spec/monitor/agent
        individualItemDisabilityCheck: disableLableChecker
        isArray: true
        keys:
          label:
            text: labels.labels.key
        label:
          text: labels.labels.label
        schema:
          $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/metadata/properties/labels
        type: key-value-input-form
        values:
          label:
            text: labels.labels.value
          schema:
            $ref: schema#/properties/resources/properties/monitoringCoreosComServiceMonitor/properties/metadata/properties/labels/additionalProperties
          type: input
      if: showMonitoringSection
      type: single-step-form
    type: single-step-form
  id: monitoring
  title: steps.3.label
- form:
    elements:
    - alias: reusable_service_templates
      chart:
        name: uibytebuildersdev-component-service-templates
        version: v0.30.0
      moduleResolver: fetchJsons
      schema:
        $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/serviceTemplates
      type: reusable-element
    type: single-step-form
  id: networking
  title: steps.4.label
- form:
    elements:
    - alias: pod_template_standalone
      chart:
        name: uibytebuildersdev-component-pod-template
        version: v0.30.0
      dataContext:
        namespace:
          $ref: schema#/properties/metadata/properties/release/properties/namespace
        topology:
          $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/topology
      functionCallbacks:
        isEditWizard:
          $ref: functions#/returnFalse
      moduleResolver: fetchJsons
      schema:
        $ref: schema#/properties/resources/properties/kubedbComKafka/properties/spec/properties/podTemplate
      type: reusable-element
    type: single-step-form
  id: pod-template
  title: steps.5.label
type: multi-step-form
