step:
- elements:
  - label: Namespace
    loader: getNamespaces
    schema: schema/properties/metadata/properties/release/properties/namespace
    type: select
  - label: Name
    schema: schema/properties/metadata/properties/release/properties/name
    type: input
  - label: Storage Ref
    loader: getData|storageRef
    schema: schema/properties/spec/properties/backend/properties/storageRef
    type: select
  - label: Retention Policy
    loader: getData|retentionPolicy
    schema: schema/properties/spec/properties/backend/properties/retentionPolicy
    type: select
  - elements:
    - label: Labels
      schema: schema/properties/spec/properties/labels
      type: object-item
    - label: Annotations
      schema: schema/properties/spec/properties/annotations
      type: object-item
    hideBlock: true
    label: Labels & Annotations
    showLabels: true
    type: block-layout
  - elements:
    - label: Session Name
      schema: sessionName
      type: input
    - label: Schedule
      schema: schedule
      type: input
    - label: Security Context (runAsUser)
      schema: addon/properties/jobTemplate/properties/securityContext
      type: input
    - label: Addon Name
      loader: getAddon
      schema: addon/properties/name
      type: select
    - elements:
      - label: Task Name
        loader:
          name: getTaskNames
          watchPaths:
          - schema/properties/spec/properties/sessions/dynamicIndex/properties/addon/properties/name
        schema: name
        type: select
        validation:
          type: required
      - label: Params
        schema: params
        type: editor
      label: Tasks
      schema: addon/properties/tasks
      type: array-object-form
      validation:
        type: required
    - customClass: mt-4
      label: Encryption Secret Namespace
      loader: getNamespaces
      schema: encryptionSecret/properties/namespace
      type: select
    - label: Encryption Secret Name
      loader:
        name: getEncryptionSecretNames
        watchPaths:
        - schema/properties/spec/properties/sessions/dynamicIndex/properties/encryptionSecret/properties/namespace
      schema: encryptionSecret/properties/name
      type: select
    - label: Repo Name
      schema: repoName
      type: input
    label: Sessions
    schema: schema/properties/spec/properties/sessions
    type: array-object-form
  - elements:
    - label: Api Group
      loader: getApiGroup
      schema: schema/properties/spec/properties/target/properties/apiGroup
      type: select
      validation:
        type: required
    - label: Kind
      loader:
        name: getKinds
        watchPaths:
        - schema/properties/spec/properties/target/properties/apiGroup
      schema: schema/properties/spec/properties/target/properties/kind
      type: select
      validation:
        type: required
      watcher:
        func: setVersion
        paths:
        - schema/properties/spec/properties/target/properties/kind
    - label: Namespace
      loader: getNamespaces
      schema: schema/properties/spec/properties/target/properties/namespace
      type: select
      validation:
        type: required
    - label: Name
      loader:
        name: getTargetName
        watchPaths:
        - schema/properties/spec/properties/target/properties/namespace
        - schema/properties/spec/properties/target/properties/kind
      refresh: true
      schema: schema/properties/spec/properties/target/properties/name
      type: select
      validation:
        type: required
    if:
      name: showTarget
      type: function
    label: Target
    showLabels: true
    type: block-layout
  id: options
  loader: initBundle
  type: single-step-form
type: multi-step-form
