step:
- type: single-step-form
  loader: initBundle
  elements:
  - init:
      type: func
      value: returnFalse
    if:
      type: function
      name: returnFalse
    label: ''
    type: label-element
  - loader: getNamespaces
    label: Namespace
    schema: schema/properties/metadata/properties/release/properties/namespace
    type: select
  - label: Name
    schema: schema/properties/metadata/properties/release/properties/name
    type: input
  - loader: getData|storageRef
    label: Storage Ref
    schema: schema/properties/spec/properties/backend/properties/storageRef
    type: select
  - loader: getData|retentionPolicy
    label: Retention Policy
    schema: schema/properties/spec/properties/backend/properties/retentionPolicy
    type: select
  - elements:
    - type: object-item
      label: Labels
      schema: schema/properties/spec/properties/labels
    - type: object-item
      label: Annotations
      schema: schema/properties/spec/properties/annotations
    label: Labels & Annotations
    showLabels: true
    hideBlock: true
    type: block-layout
  - label: Sessions (JSON format)
    schema: schema/properties/spec/properties/sessions
    type: textarea
  - elements:
    - loader: getApiGroup
      label: Api Group
      validation:
        type: required
      schema: schema/properties/spec/properties/target/properties/apiGroup
      type: select
    - loader: getKinds
      label: Kind
      watcher:
        func: setVersion
        paths:
          - schema/properties/spec/properties/target/properties/kind
      validation:
        type: required
      schema: schema/properties/spec/properties/target/properties/kind
      type: select
    - loader: getNamespaces
      label: Namespace
      validation:
        type: required
      schema: schema/properties/spec/properties/target/properties/namespace
      type: select
    - loader: getTargetName
      label: Name
      validation:
        type: required
      schema: schema/properties/spec/properties/target/properties/name
      type: select
    if:
      type: function
      name: showTarget
    label: Target
    showLabels: true
    hideBlock: true
    type: block-layout
  id: options
type: multi-step-form
