step:
- type: single-step-form
  loader: initBundle
  elements:
  - loader: getNamespaces
    label: Namespace
    schema: schema/properties/metadata/properties/release/properties/namespace
    type: select
  - label: Name
    schema: schema/properties/metadata/properties/release/properties/name
    type: input
  - loader: getData|storageRef
    label: Storage Ref
    schema: schema/properties/spec/properties/backend/properties/storageRef
    type: select
  - loader: getData|retentionPolicy
    label: Retention Policy
    schema: schema/properties/spec/properties/backend/properties/retentionPolicy
    type: select
  - elements:
    - type: object-item
      label: Labels
      schema: schema/properties/spec/properties/labels
    - type: object-item
      label: Annotations
      schema: schema/properties/spec/properties/annotations
    label: Labels & Annotations
    showLabels: true
    hideBlock: true
    type: block-layout
  - label: Sessions
    elements:
      - type: input
        label: Session Name
        schema: sessionName
      - type: input
        label: Schedule
        schema: schedule
      - type: input
        label: Security Context
        schema: addons/properties/jobTemplate/properties/securityContext
      - type: select
        label: Addon Name
        loader: getAddon
        schema: addons/properties/name
      - type: array-object-form
        label: Tasks
        elements:
        - type: select
          label: Task Name
          loader: 
            name: getTaskNames
            watchPaths:
              - schema/properties/spec/properties/sessions/dynamicIndex/properties/addons/properties/name
          schema: addons/properties/tasks/properties/name
        - type: input
          label: Params
          schema: addons/properties/tasks/properties/name
        schema: addons/properties/tasks
      - type: select
        label: Encryption Secret Namespace
        loader: getNamespaces
        schema: encryptionSecret/properties/namespace
      - type: select
        label: Encryption Secret Name
        loader: 
          watchPaths:
            - schema/properties/spec/properties/sessions/dynamicIndex/properties/encryptionSecret/properties/namespace
          name: getEncryptionSecretNames
        schema: encryptionSecret/properties/name
      - type: input
        label: Repo Name
        schema: repoName
    schema: schema/properties/spec/properties/sessions
    type: array-object-form
  - elements:
    - loader: getApiGroup
      label: Api Group
      validation:
        type: required
      schema: schema/properties/spec/properties/target/properties/apiGroup
      type: select
    - loader: getKinds
      label: Kind
      watcher:
        func: setVersion
        paths:
          - schema/properties/spec/properties/target/properties/kind
      validation:
        type: required
      schema: schema/properties/spec/properties/target/properties/kind
      type: select
    - loader: getNamespaces
      label: Namespace
      validation:
        type: required
      schema: schema/properties/spec/properties/target/properties/namespace
      type: select
    - loader: 
        name: getTargetName
        watchPaths:
          - schema/properties/spec/properties/target/properties/namespace
      label: Name
      validation:
        type: required
      schema: schema/properties/spec/properties/target/properties/name
      type: select
    if:
      type: function
      name: showTarget
    label: Target
    showLabels: true
    hideBlock: true
    type: block-layout
  id: options
type: multi-step-form
