step:
- type: single-step-form
  loader: initBundle
  elements:
  - disableUnselect: true
    loader: getAdminOptions|databases/MSSQLServer/versions
    if:
      type: function
      name: isToggleOn|databases/MSSQLServer/versions
    label: Database version
    schema: schema/properties/spec/properties/admin/properties/databases/properties/MSSQLServer/properties/versions/properties/default
    type: select
  - init:
     type: func
     value: getDefault|databases/MSSQLServer/mode
    loader: getAdminOptions|databases/MSSQLServer/mode
    if:
      type: function
      name: isToggleOn|databases/MSSQLServer/mode
    label: Database mode
    isHorizontal: true
    watcher:
      func: onModeChange
      paths:
        - schema/properties/spec/properties/mode
    schema: schema/properties/spec/properties/mode
    type: radio
  - type: array-item-form
    element:
      label: Databases
      type: input
    if:
      type: function
      name: isEqualToModelPathValue|Topology|/spec/mode
    label: Availability Group
    schema: schema/properties/spec/properties/topology/properties/availabilityGroup/properties/databases
  - if:
      type: function
      name: isEqualToModelPathValue|Topology|/spec/mode
    label: Replicaset number
    schema: schema/properties/spec/properties/replicas
    type: input
  - elements:
    - init:
        type: func
        value: setMachineToCustom
      loader: getMachineListForOptions
      label: Machine
      schema: schema/properties/spec/properties/podResources/properties/machine
      type: select
    - init:
        type: func
        value: setLimits|cpu
      if:
        type: function
        name: isMachineCustom
      label: cpu
      watcher:
        func: setRequests|cpu
        paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
      schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
      type: input
    - init:
        type: func
        value: setLimits|memory
      if:
        type: function
        name: isMachineCustom
      label: memory
      watcher:
        func: setRequests|memory
        paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
      schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
      type: input
    label: Machine_profile
    showLabels: true
    type: block-layout
  - loader: getAdminOptions|storageClasses
    label: Storage class
    schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
    type: select
  - if:
      type: function
      name: showStorageSizeField
    label: Storage size
    schema: schema/properties/spec/properties/persistence/properties/size
    type: input
  - elements:
    - loader: getAdminOptions|clusterIssuers
      label: Cluster Issuers
      validation:
        type: required
      schema: schema/properties/spec/properties/admin/properties/clusterIssuers/properties/default
      type: select
    type: block-layout
  - label: Accept EULA?
    schema: schema/properties/spec/properties/acceptEULA
    type: switch
  - init:
      type: func
      value: getDefaulPid
    label: PID
    watcher:
      func: onPidChange
      paths:
        - temp/pid
    options:
    - Developer
    - Express
    - Standard
    - Evaluation
    - Enterprise
    - EnterpriseCore
    - Custom
    validation:
      type: required
    schema: temp/pid
    type: select
  - if:
      type: function
      name: isPidCustom
    label: Custom PID
    watcher:
      func: onCustomPidChange
      paths:
        - temp/customPid
    validation:
      type: required
    schema: temp/customPid
    type: input
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - type: object-item
        label: Labels
        schema: schema/properties/spec/properties/labels
      - type: object-item
        label: Annotations
        schema: schema/properties/spec/properties/annotations
      label: Labels & Annotations
      showLabels: true
      hideBlock: true
      type: block-layout
    - init:
        type: func
        value: getDefault|deletionPolicy
      customClass: mt-20
      if:
        type: function
        name: isToggleOn|deletionPolicy
      label: Deletion Policy
      watcher:
        func: setStorageClass
        paths:
          - schema/properties/spec/properties/deletionPolicy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.halt.description
        text: Halt
        value: Halt
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
    - if:
        type: function
        name: getDefaultValue|spec/admin/authCredential/customize
      label: Provide Authentication Credentials?
      watcher:
        func: onAuthChange
        paths:
          - temp/createAuthSecret
      schema: temp/createAuthSecret
      type: switch
    - if:
        type: function
        name: showReferSecretSwitch
      label: Refer existing Secret?
      watcher:
        func: onReferSecretChange
        paths:
          - temp/referSecret
      schema: temp/referSecret
      type: switch
    - loader: getReferSecrets
      if:
        type: function
        name: showSecretDropdown
      label: Secret
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        type: function
        name: showReferSecret
      label: password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - init:
        type: func
        value: isConfigAvailable
      if:
        type: function
        name: getDefaultValue|spec/admin/customConfiguration
      label: Configure Database?
      watcher:
        func: clearConfiguration
        paths:
          - temp/configDatabase
      schema: temp/configDatabase
      type: switch
    - if:
        type: function
        name: isConfigDatabaseOn
      label: Configuration
      # hasCopy: true
      schema: schema/properties/spec/properties/configuration
      type: textarea
    - init:
        type: func
        value: getDefault|pointInTimeRecovery
      if:
        type: function
        name: isToggleOn|pointInTimeRecovery
      label: Point in-time Recovery?
      schema: temp/recovery
      type: switch
    - elements:
      - label: Namespace
        watcher:
          func: setPointInTimeRecovery
          paths:
            - temp/refNamespace
        validation:
          type: required
        schema: temp/refNamespace
        type: input
      - label: Name
        watcher:
          func: setPointInTimeRecovery
          paths:
            - temp/refDBName
        validation:
          type: required
        schema: temp/refDBName
        type: input
      - customClass: mt-10
        label: Recovery Timestamp
        schema: schema/properties/spec/properties/init/properties/archiver/properties/recoveryTimestamp
        type: input
      if:
        type: function
        name: showRecovery
      label: Point in-time Recovery
      showLabels: true
      type: block-layout
    - if:
        type: function
        name: isToggleOn|deployment
      label: Deployment name
      options:
      - description: labels.deployment.shared
        text: Shared
        value: Shared
      - description: labels.deployment.dedicated
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        type: function
        name: isToggleOn|clusterTier
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      loader: getAdminOptions|clusterTier/placement
      if:
        type: function
        name: isToggleOn|clusterTier/placement
      label: Placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      loader: getNodeTopology
      if:
        type: function
        name: isToggleOn|clusterTier/nodeTopology
      label: Node Topology
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  - description: Enable Backup, Monitoring, TLS etc.
    elements:
    - elements:
      - init:
          type: func
          value: setMonitoring
        if:
          type: function
          name: isToggleOn|monitoring
        label: Enable Monitoring?
        watcher:
          func: updateAlertValue
          paths:
            - temp/monitoring
        schema: temp/monitoring
        type: switch
      type: block-layout
    - init:
        type: func
        value: setBackup
      if:
        type: function
        name: isToggleOn|backup
      label: Enable Backup?
      watcher:
        func: onBackupSwitch
        paths:
          - temp/backup
      schema: temp/backup
      type: switch
    - elements:
      - disable: showArchiverAlert
        label: Enable Archiver?
        watcher:
          func: onArchiverChange
          paths:
            - schema/properties/spec/properties/admin/properties/archiver/properties/enable/properties/default
        schema: schema/properties/spec/properties/admin/properties/archiver/properties/enable/properties/default
        type: switch
      - if:
          type: function
          name: showArchiverAlert
        label: The selected StorageClass does not support Archiver
        type: warning
      if:
        type: function
        name: showArchiver
      type: block-layout
    - if:
        type: function
        name: isToggleOn|tls
      label: Enable TLS?
      schema: schema/properties/spec/properties/admin/properties/tls/properties/default
      type: switch
    - elements:
      - label: Expose via Gateway?
        schema: schema/properties/spec/properties/admin/properties/expose/properties/default
        type: switch
      if:
        type: function
        name: isToggleOn|expose
      type: block-layout
    if:
      type: function
      name: showAdditionalSettings
    label: Additional Options
    showLabels: true
    type: block-layout
  id: options
  # title: steps.0.label
type: multi-step-form
