step:
- elements:
  - label: ""
    subtitle: Select the MSSQLServer version you want to deploy on Kubernetes. The
      chosen version determines the SQL Server engine features, compatibility, and
      runtime behavior of your database cluster.
    type: label-element
  - disableUnselect: true
    if:
      name: isToggleOn|databases/MSSQLServer/versions
      type: function
    label: Database version
    loader: getAdminOptions|databases/MSSQLServer/versions
    schema: schema/properties/spec/properties/admin/properties/databases/properties/MSSQLServer/properties/versions/properties/default
    type: select
  - if:
      name: isToggleOn|databases/MSSQLServer/mode
      type: function
    init:
      type: func
      value: getDefault|databases/MSSQLServer/mode
    isHorizontal: true
    label: Database mode
    loader: getAdminOptions|databases/MSSQLServer/mode
    schema: schema/properties/spec/properties/mode
    type: radio
    watcher:
      func: onModeChange
      paths:
      - schema/properties/spec/properties/mode
  - element:
      label: Databases
      type: input
    if:
      name: isEqualToModelPathValue|Topology|/spec/mode
      type: function
    label: Availability Group
    schema: schema/properties/spec/properties/topology/properties/availabilityGroup/properties/databases
    type: array-item-form
  - if:
      name: isEqualToModelPathValue|Topology|/spec/mode
      type: function
    label: Replicaset number
    schema: schema/properties/spec/properties/replicas
    type: input
  - elements:
    - label: ""
      subtitle: Select a machine profile to allocate CPU and memory resources for
        your database cluster. Choose 'custom' to manually specify resource requirements
        or select a predefined profile.
      type: label-element
    - elements:
      - init:
          type: func
          value: setMachineToCustom
        label: Machine
        loader: getMachineListForOptions
        schema: schema/properties/spec/properties/podResources/properties/machine
        type: select
      - disable:
          name: isMachineNotCustom
          watchPaths:
            - schema/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|cpu
        label: CPU
        loader: setLimits|cpu
        schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
        watcher:
          func: setRequests|cpu
          paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
          - schema/properties/spec/properties/podResources/properties/machine
      - disable:
          name: isMachineNotCustom
          watchPaths:
            - schema/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|memory
        label: Memory
        loader: setLimits|memory
        schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
        watcher:
          func: setRequests|memory
          paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
          - schema/properties/spec/properties/podResources/properties/machine
      showLabels: true
      type: horizontal-layout
    label: Machine Profile
    showLabels: true
    type: block-layout
  - elements:
    - elements:
      - label: Storage Class
        loader: getAdminOptions|storageClasses
        schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
        type: select
      - if:
          name: showStorageSizeField
          type: function
        label: Storage Size
        schema: schema/properties/spec/properties/persistence/properties/size
        type: input
      showLabels: true
      type: horizontal-layout
    type: block-layout
  - elements:
    - label: Cluster Issuers
      loader: getAdminOptions|clusterIssuers
      schema: schema/properties/spec/properties/admin/properties/clusterIssuers/properties/default
      type: select
      validation:
        type: required
    type: block-layout
  - label: Accept EULA?
    schema: schema/properties/spec/properties/acceptEULA
    type: switch
  - init:
      type: func
      value: getDefaulPid
    label: PID
    options:
    - Developer
    - Express
    - Standard
    - Evaluation
    - Enterprise
    - EnterpriseCore
    - Custom
    schema: temp/pid
    type: select
    validation:
      type: required
    watcher:
      func: onPidChange
      paths:
      - temp/pid
  - if:
      name: isPidCustom
      type: function
    label: Custom PID
    schema: temp/customPid
    type: input
    validation:
      type: required
    watcher:
      func: onCustomPidChange
      paths:
      - temp/customPid
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - label: ""
        subtitle: Add custom labels and annotations to your database resources for
          organization, monitoring, and integration with other Kubernetes tools and
          services.
        type: label-element
      - buttonClass: is-light is-outlined
        label: Labels
        schema: schema/properties/spec/properties/labels
        type: object-item
      - buttonClass: is-light is-outlined
        label: Annotations
        schema: schema/properties/spec/properties/annotations
        type: object-item
      hideBlock: true
      label: Labels & Annotations
      showLabels: true
      type: block-layout
    - customClass: mt-20
      if:
        name: isToggleOn|deletionPolicy
        type: function
      init:
        type: func
        value: getDefault|deletionPolicy
      label: Deletion Policy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.halt.description
        text: Halt
        value: Halt
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
      watcher:
        func: setStorageClass
        paths:
        - schema/properties/spec/properties/deletionPolicy
    - if:
        name: getDefaultValue|spec/admin/authCredential/customize
        type: function
      label: Provide Authentication Credentials?
      schema: temp/createAuthSecret
      type: switch
      watcher:
        func: onAuthChange
        paths:
        - temp/createAuthSecret
    - if:
        name: showReferSecretSwitch
        type: function
      label: Refer existing Secret?
      schema: temp/referSecret
      type: switch
      watcher:
        func: onReferSecretChange
        paths:
        - temp/referSecret
    - if:
        name: showSecretDropdown
        type: function
      label: Secret
      loader: getReferSecrets
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        name: showReferSecret
        type: function
      label: password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - if:
        name: getDefaultValue|spec/admin/customConfiguration
        type: function
      label: Configure Database?
      schema: temp/configDatabase
      type: switch
      watcher:
        func: clearConfiguration
        paths:
        - temp/configDatabase
    - if:
        name: isConfigDatabaseOn
        type: function
      label: Configuration
      schema: schema/properties/spec/properties/configuration
      type: textarea
    - if:
        name: isToggleOn|pointInTimeRecovery
        type: function
      init:
        type: func
        value: getDefault|pointInTimeRecovery
      label: Point in-time Recovery?
      schema: temp/recovery
      type: switch
    - elements:
      - label: ""
        subtitle: Configure point-in-time recovery to restore your database to a specific
          moment. Specify the source database namespace, name, and the exact timestamp
          for recovery.
        type: label-element
      - elements:
        - forceRequired: true
          label: Namespace
          schema: temp/refNamespace
          type: input
          validation:
            type: required
          watcher:
            func: setPointInTimeRecovery
            paths:
            - temp/refNamespace
        - label: Name
          schema: temp/refDBName
          type: input
          validation:
            type: required
          watcher:
            func: setPointInTimeRecovery
            paths:
            - temp/refDBName
        showLabels: true
        type: horizontal-layout
      - customClass: mt-10
        label: Recovery Timestamp
        schema: schema/properties/spec/properties/init/properties/archiver/properties/recoveryTimestamp
        type: date-time
        watcher:
          func: onTimestampChange
          paths:
          - schema/properties/spec/properties/init/properties/archiver/properties/recoveryTimestamp
      if:
        name: showRecovery
        type: function
      label: Point in-time Recovery
      showLabels: true
      type: block-layout
    - if:
        name: isToggleOn|deployment
        type: function
      label: Deployment name
      options:
      - description: labels.deployment.shared
        text: Shared
        value: Shared
      - description: labels.deployment.dedicated
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        name: isToggleOn|clusterTier
        type: function
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      if:
        name: isToggleOn|clusterTier/placement
        type: function
      label: Placement
      loader: getAdminOptions|clusterTier/placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      if:
        name: isToggleOn|clusterTier/nodeTopology
        type: function
      label: Node Topology
      loader: getNodeTopology
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  - description: Enable Backup, Monitoring, TLS etc.
    elements:
    - elements:
      - if:
          name: isToggleOn|monitoring
          type: function
        init:
          type: func
          value: setMonitoring
        label: Enable Monitoring?
        schema: temp/monitoring
        type: switch
        watcher:
          func: updateAlertValue
          paths:
          - temp/monitoring
      type: block-layout
    - if:
        name: isToggleOn|backup
        type: function
      init:
        type: func
        value: setBackup
      label: Enable Backup?
      schema: temp/backup
      type: switch
      watcher:
        func: onBackupSwitch
        paths:
        - temp/backup
    - elements:
      - disable:
          name: showArchiverAlert
          watchPaths:
            - schema/spec/admin/storageClasses/default
            - schema/spec/mode
        label: Enable Archiver?
        schema: schema/properties/spec/properties/admin/properties/archiver/properties/enable/properties/default
        type: switch
        watcher:
          func: onArchiverChange
          paths:
          - schema/properties/spec/properties/admin/properties/archiver/properties/enable/properties/default
      - if:
          name: showArchiverAlert
          type: function
        label: The selected StorageClass does not support Archiver
        type: warning
      if:
        name: showArchiver
        type: function
      type: block-layout
    - if:
        name: isToggleOn|tls
        type: function
      label: Enable TLS?
      schema: schema/properties/spec/properties/admin/properties/tls/properties/default
      type: switch
    - elements:
      - label: Expose via Gateway?
        schema: schema/properties/spec/properties/admin/properties/expose/properties/default
        type: switch
      if:
        name: isToggleOn|expose
        type: function
      type: block-layout
    if:
      name: showAdditionalSettings
      type: function
    label: Additional Options
    showLabels: true
    type: block-layout
  id: options
  loader: initBundle
  type: single-step-form
type: multi-step-form
