step:
- type: single-step-form
  elements:
  - loader: getNamespaces
    hasGroup: isRancherManaged
    label: Namespace
    schema: schema/properties/metadata/properties/release/properties/namespace
    type: select
  - label: Name
    schema: schema/properties/metadata/properties/release/properties/name
    type: input
  - elements:
    - type: object-item
      label: Labels
      schema: schema/properties/spec/properties/labels
    - type: object-item
      label: Annotations
      schema: schema/properties/spec/properties/annotations
    label: Labels & Annotations
    showLabels: true
    hideBlock: true
    type: block-layout
  - customClass: mt-20
    label: Deletion Policy
    options:
    - description: options.deletionPolicy.delete.description
      text: Delete (Keep only database Secrets and backed up data)
      value: Delete
    - description: options.deletionPolicy.wipeOut.description
      text: WipeOut (Delete everything including backed up data)
      value: WipeOut
    schema: schema/properties/spec/properties/deletionPolicy
    type: select
  - label: Security Context
    schema: schema/properties/spec/properties/runtimeSettings/properties/securityContext
    type: input
  - elements:
    - label: Provider
      options:
      - text: Azure
        value: azure
      - text: S3
        value: s3
      - text: GCS
        value: gcs
      - text: Local
        value: local
      init:
        type: func
        value: initBackendProvider
      watcher:
        func: onBackendProviderChange
        paths:
          - schema/properties/spec/properties/backend/properties/provider
      schema: schema/properties/spec/properties/backend/properties/provider
      type: select
    - elements:
      - elements:
        - label: Account Key
          schema: schema/properties/spec/properties/backend/properties/azure/properties/auth/properties/AZURE_ACCOUNT_KEY
          type: input
        - label: Account Name
          schema: schema/properties/spec/properties/backend/properties/azure/properties/auth/properties/AZURE_ACCOUNT_NAME
          type: input
        label: Auth
        showLabels: true
        type: block-layout
      - elements:
        - label: Container
          schema: schema/properties/spec/properties/backend/properties/azure/properties/spec/properties/container
          type: input
        - label: Max Connections
          schema: schema/properties/spec/properties/backend/properties/azure/properties/spec/properties/maxConnections
          type: input
        - label: Prefix
          schema: schema/properties/spec/properties/backend/properties/azure/properties/spec/properties/prefix
          type: input
        label: Spec
        showLabels: true
        type: block-layout
      if:
        type: function
        name: isProvider|azure
      label: Azure
      showLabels: true
      type: block-layout
    - elements:
      - elements:
        - label: Google Project ID
          schema: schema/properties/spec/properties/backend/properties/gcs/properties/auth/properties/GOOGLE_PROJECT_ID
          type: input
        - label: Google Service Account JSON Key
          schema: schema/properties/spec/properties/backend/properties/gcs/properties/auth/properties/GOOGLE_SERVICE_ACCOUNT_JSON_KEY
          type: input
        label: Auth
        showLabels: true
        type: block-layout
      - elements:
        - label: Bucket
          schema: schema/properties/spec/properties/backend/properties/gcs/properties/spec/properties/bucket
          type: input
        - label: Max Connections
          schema: schema/properties/spec/properties/backend/properties/gcs/properties/spec/properties/maxConnections
          type: input
        - label: Prefix
          schema: schema/properties/spec/properties/backend/properties/gcs/properties/spec/properties/prefix
          type: input
        label: Spec
        showLabels: true
        type: block-layout
      if:
        type: function
        name: isProvider|gcs
      label: GCS
      showLabels: true
      type: block-layout
    - elements:
      - elements:
        - label: AWS Access Key ID
          schema: schema/properties/spec/properties/backend/properties/s3/properties/auth/properties/AWS_ACCESS_KEY_ID
          type: input
        - label: AWS Secret Access Key
          schema: schema/properties/spec/properties/backend/properties/s3/properties/auth/properties/AWS_SECRET_ACCESS_KEY
          type: input
        - label: CA Cert Data
          schema: schema/properties/spec/properties/backend/properties/s3/properties/auth/properties/CA_CERT_DATA
          type: textarea
        label: Auth
        showLabels: true
        type: block-layout
      - elements:
        - label: Insecure TLS
          schema: schema/properties/spec/properties/backend/properties/s3/properties/spec/properties/insecureTLS
          type: switch
        - label: Bucket
          schema: schema/properties/spec/properties/backend/properties/s3/properties/spec/properties/bucket
          type: input
        - label: End Point
          schema: schema/properties/spec/properties/backend/properties/s3/properties/spec/properties/endpoint
          type: input
        - label: Prefix
          schema: schema/properties/spec/properties/backend/properties/s3/properties/spec/properties/prefix
          type: input
        - label: Region
          schema: schema/properties/spec/properties/backend/properties/s3/properties/spec/properties/region
          type: input
        label: Spec
        showLabels: true
        type: block-layout
      if:
        type: function
        name: isProvider|s3
      label: S3
      showLabels: true
      type: block-layout
    - elements:
      - label: Mount Path
        schema: schema/properties/spec/properties/backend/properties/local/properties/mountPath
        type: input
      - label: Sub Path
        schema: schema/properties/spec/properties/backend/properties/local/properties/subPath
        type: input
      - elements:
        - label: claim Name
          schema: schema/properties/spec/properties/backend/properties/local/properties/persistentVolumeClaim/properties/claimName
          type: input
        - label: ReadOnly?
          schema: schema/properties/spec/properties/backend/properties/local/properties/persistentVolumeClaim/properties/readOnly
          type: switch
        label: Persistent Volume Claim
        showLabels: true
        type: block-layout
      if:
        type: function
        name: isProvider|local
      label: Local
      showLabels: true
      type: block-layout
    label: Backend
    showLabels: true
    type: block-layout
  id: options
  # title: steps.0.label
type: multi-step-form
