step:
- type: single-step-form
  loader: initBundle
  elements:
  - type: label-element
    label: ''
    subtitle: Select the ClickHouse version you want to deploy on Kubernetes. The chosen version determines the ClickHouse engine features, compatibility, and runtime behavior of your analytical database.
  - disableUnselect: true
    loader: getAdminOptions|databases/ClickHouse/versions
    if:
      type: function
      name: isToggleOn|databases/ClickHouse/versions
    label: Database Version
    schema: schema/properties/spec/properties/admin/properties/databases/properties/ClickHouse/properties/versions/properties/default
    type: select
  - init:
     type: func
     value: getDefault|databases/ClickHouse/mode
    loader: getAdminOptions|databases/ClickHouse/mode
    if:
      type: function
      name: isToggleOn|databases/ClickHouse/mode
    label: Database Mode
    isHorizontal: true
    watcher:
      func: clearArbiterHidden
      paths:
        - schema/properties/spec/properties/mode
    schema: schema/properties/spec/properties/mode
    type: radio
  - elements:
    - elements:
      - type: label-element
        label: ''
        subtitle: Configure cluster topology for distributed ClickHouse deployment. Specify the number of replicas for high availability and shards for data partitioning and parallel query processing.
      - type: horizontal-layout
        showLabels: true
        elements:
          - label: Cluster Replicas
            schema: schema/properties/spec/properties/topology/properties/cluster/properties/replicas
            type: input
          - label: Cluster Shards
            schema: schema/properties/spec/properties/topology/properties/cluster/properties/shards
            type: input
      label: Cluster
      showLabels: true
      type: block-layout
    if:
      type: function
      name: isEqualToModelPathValue|Topology|/spec/mode
    type: block-layout
  - elements:
    - type: label-element
      label: ''
      subtitle: Select a machine profile to allocate CPU and memory resources for your analytical database. Choose 'custom' to manually specify resource requirements or select a predefined profile.
    - type: horizontal-layout
      showLabels: true
      elements:
        - init:
            type: func
            value: setMachineToCustom
          loader: getMachineListForOptions
          label: Machine
          schema: schema/properties/spec/properties/podResources/properties/machine
          type: select
        - init:
            type: func
            value: setLimits|cpu
          disable: isMachineNotCustom
          if:
            type: function
            name: isMachineCustom
          label: CPU
          loader: setLimits|cpu
          watcher:
            func: setRequests|cpu
            paths:
              - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
              - schema/properties/spec/properties/podResources/properties/machine
          schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
          type: input
        - init:
            type: func
            value: setLimits|memory
          disable: isMachineNotCustom
          if:
            type: function
            name: isMachineCustom
          label: Memory
          loader: setLimits|memory
          watcher:
            func: setRequests|memory
            paths:
              - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
              - schema/properties/spec/properties/podResources/properties/machine
          schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
          type: input
    label: Machine Profile
    showLabels: true
    type: block-layout
  - elements:
    - type: horizontal-layout
      showLabels: true
      elements:
        - loader: getAdminOptions|storageClasses
          if:
            type: function
            name: isToggleOn|storageClasses
          label: Storage Class
          schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
          type: select
        - if:
            type: function
            name: showStorageSizeField
          label: Storage Size
          schema: schema/properties/spec/properties/persistence/properties/size
          type: input
    type: block-layout
  - label: Externally Managed?
    schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/externallyManaged
    type: switch
  - elements:
    - type: label-element
      label: ''
      subtitle: Configure external ClickHouse Keeper node connection details. Specify the host address and port number for the externally managed keeper service.
    - type: horizontal-layout
      showLabels: true
      elements:
        - label: Host
          schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/node/properties/host
          type: input
        - label: Port
          schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/node/properties/port
          type: input
    if:
      type: function
      name: isExternallyManaged|true
    label: Node
    showLabels: true
    type: block-layout
  - elements:
    - type: label-element
      label: ''
      subtitle: Configure managed ClickHouse Keeper instance for cluster coordination. Specify storage size, replica count, and resource allocation for the keeper nodes.
    - type: horizontal-layout
      showLabels: true
      elements:
        - label: Storage Size
          schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/persistence/properties/size
          type: input
        - label: Replicas
          schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/replicas
          type: input
    - type: horizontal-layout
      showLabels: true
      elements:
        - init:
            type: func
            value: setMachineToCustom
          loader: getMachineListForOptions
          label: Machine
          schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/machine
          type: select
        - init:
            type: func
            value: setLimits|cpu|topology/clickHouseKeeper/spec
          disable: isMachineNotCustom|topology/clickHouseKeeper/spec
          label: CPU
          loader: setLimits|cpu|topology/clickHouseKeeper/spec
          watcher:
            func: setRequests|cpu|topology/clickHouseKeeper/spec
            paths:
              - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
              - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/machine
          schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
          type: input
        - init:
            type: func
            value: setLimits|memory|topology/clickHouseKeeper/spec
          disable: isMachineNotCustom|topology/clickHouseKeeper/spec
          label: Memory
          loader: setLimits|memory|topology/clickHouseKeeper/spec
          watcher:
            func: setRequests|memory|topology/clickHouseKeeper/spec
            paths:
              - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
              - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/machine
          schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
          type: input
    if:
      type: function
      name: isExternallyManaged|false
    label: Spec
    showLabels: true
    type: block-layout
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - type: label-element
        label: ''
        subtitle: Add custom labels and annotations to your database resources for organization, monitoring, and integration with other Kubernetes tools and services.
      - type: object-item
        label: Labels
        buttonClass: is-light is-outlined
        schema: schema/properties/spec/properties/labels
      - type: object-item
        label: Annotations
        buttonClass: is-light is-outlined
        schema: schema/properties/spec/properties/annotations
      label: Labels & Annotations
      showLabels: true
      hideBlock: true
      type: block-layout
    - init:
        type: func
        value: getDefault|deletionPolicy
      customClass: mt-20
      if:
        type: function
        name: isToggleOn|deletionPolicy
      label: Deletion Policy
      watcher:
        func: setStorageClass
        paths:
          - schema/properties/spec/properties/deletionPolicy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.halt.description
        text: Halt
        value: Halt
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
    - if:
        type: function
        name: getDefaultValue|spec/admin/authCredential/customize
      label: Provide Authentication Credentials?
      watcher:
        func: onAuthChange
        paths:
          - temp/createAuthSecret
      schema: temp/createAuthSecret
      type: switch
    - if:
        type: function
        name: showReferSecretSwitch
      label: Refer existing Secret?
      watcher:
        func: onReferSecretChange
        paths:
          - temp/referSecret
      schema: temp/referSecret
      type: switch
    - loader: getReferSecrets
      if:
        type: function
        name: showSecretDropdown
      label: Secret
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        type: function
        name: showReferSecret
      label: password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - init:
        type: func
        value: isConfigAvailable
      if:
        type: function
        name: getDefaultValue|spec/admin/customConfiguration
      label: Configure Database?
      watcher:
        func: clearConfiguration
        paths:
          - temp/configDatabase
      schema: temp/configDatabase
      type: switch
    - if:
        type: function
        name: isConfigDatabaseOn
      label: Configuration
      # hasCopy: true
      schema: schema/properties/spec/properties/configuration
      type: textarea
    - if:
        type: function
        name: isToggleOn|deployment
      label: Deployment name
      options:
      - description: labels.deployment.shared
        text: Shared
        value: Shared
      - description: labels.deployment.dedicated
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        type: function
        name: isToggleOn|clusterTier
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      loader: getAdminOptions|clusterTier/placement
      if:
        type: function
        name: isToggleOn|clusterTier/placement
      label: Placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      loader: getNodeTopology
      if:
        type: function
        name: isToggleOn|clusterTier/nodeTopology
      label: Node Topology
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  - description: Enable Backup, Monitoring, TLS etc.
    elements:
    - elements:
      - init:
          type: func
          value: setMonitoring
        label: Enable Monitoring?
        watcher:
          func: updateAlertValue
          paths:
            - temp/monitoring
        schema: temp/monitoring
        type: switch
      if:
        type: function
        name: isToggleOn|monitoring
      type: block-layout
    if:
      type: function
      name: showAdditionalSettings
    label: Additional Options
    showLabels: true
    type: block-layout
  id: options
type: multi-step-form
