step:
- elements:
  - label: ""
    subtitle: Select the ClickHouse version you want to deploy on Kubernetes. The
      chosen version determines the ClickHouse engine features, compatibility, and
      runtime behavior of your analytical database.
    type: label-element
  - disableUnselect: true
    if:
      name: isToggleOn|databases/ClickHouse/versions
      type: function
    label: Database Version
    loader: getAdminOptions|databases/ClickHouse/versions
    schema: schema/properties/spec/properties/admin/properties/databases/properties/ClickHouse/properties/versions/properties/default
    type: select
  - if:
      name: isToggleOn|databases/ClickHouse/mode
      type: function
    init:
      type: func
      value: getDefault|databases/ClickHouse/mode
    isHorizontal: true
    label: Database Mode
    loader: getAdminOptions|databases/ClickHouse/mode
    schema: schema/properties/spec/properties/mode
    type: radio
    watcher:
      func: clearArbiterHidden
      paths:
      - schema/properties/spec/properties/mode
  - elements:
    - elements:
      - label: ""
        subtitle: Configure cluster topology for distributed ClickHouse deployment.
          Specify the number of replicas for high availability and shards for data
          partitioning and parallel query processing.
        type: label-element
      - elements:
        - label: Cluster Replicas
          schema: schema/properties/spec/properties/topology/properties/cluster/properties/replicas
          type: input
        - label: Cluster Shards
          schema: schema/properties/spec/properties/topology/properties/cluster/properties/shards
          type: input
        showLabels: true
        type: horizontal-layout
      label: Cluster
      showLabels: true
      type: block-layout
    if:
      name: isEqualToModelPathValue|Topology|/spec/mode
      type: function
    type: block-layout
  - elements:
    - label: ""
      subtitle: Select a machine profile to allocate CPU and memory resources for
        your analytical database. Choose 'custom' to manually specify resource requirements
        or select a predefined profile.
      type: label-element
    - elements:
      - init:
          type: func
          value: setMachineToCustom
        label: Machine
        loader: getMachineListForOptions
        schema: schema/properties/spec/properties/podResources/properties/machine
        type: select
      - disable:
          name: isMachineNotCustom
          watchPaths:
          - schema/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|cpu
        label: CPU
        loader: setLimits|cpu
        schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
        watcher:
          func: setRequests|cpu
          paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
          - schema/properties/spec/properties/podResources/properties/machine
      - disable:
          name: isMachineNotCustom
          watchPaths:
          - schema/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|memory
        label: Memory
        loader: setLimits|memory
        schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
        watcher:
          func: setRequests|memory
          paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
          - schema/properties/spec/properties/podResources/properties/machine
      showLabels: true
      type: horizontal-layout
    label: Machine Profile
    showLabels: true
    type: block-layout
  - elements:
    - elements:
      - if:
          name: isToggleOn|storageClasses
          type: function
        label: Storage Class
        loader: getAdminOptions|storageClasses
        schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
        type: select
      - if:
          name: showStorageSizeField
          type: function
        label: Storage Size
        schema: schema/properties/spec/properties/persistence/properties/size
        type: input
      showLabels: true
      type: horizontal-layout
    type: block-layout
  - label: Externally Managed?
    schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/externallyManaged
    type: switch
  - elements:
    - label: ""
      subtitle: Configure external ClickHouse Keeper node connection details. Specify
        the host address and port number for the externally managed keeper service.
      type: label-element
    - elements:
      - label: Host
        schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/node/properties/host
        type: input
      - label: Port
        schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/node/properties/port
        type: input
      showLabels: true
      type: horizontal-layout
    if:
      name: isExternallyManaged|true
      type: function
    label: Node
    showLabels: true
    type: block-layout
  - elements:
    - label: ""
      subtitle: Configure managed ClickHouse Keeper instance for cluster coordination.
        Specify storage size, replica count, and resource allocation for the keeper
        nodes.
      type: label-element
    - elements:
      - label: Storage Size
        schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/persistence/properties/size
        type: input
      - label: Replicas
        schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/replicas
        type: input
      showLabels: true
      type: horizontal-layout
    - elements:
      - init:
          type: func
          value: setMachineToCustom
        label: Machine
        loader: getMachineListForOptions
        schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/machine
        type: select
      - disable:
          name: isMachineNotCustom|topology/clickHouseKeeper/spec
          watchPaths:
          - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|cpu|topology/clickHouseKeeper/spec
        label: CPU
        loader: setLimits|cpu|topology/clickHouseKeeper/spec
        schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
        watcher:
          func: setRequests|cpu|topology/clickHouseKeeper/spec
          paths:
          - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
          - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/machine
      - disable:
          name: isMachineNotCustom|topology/clickHouseKeeper/spec
          watchPaths:
          - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|memory|topology/clickHouseKeeper/spec
        label: Memory
        loader: setLimits|memory|topology/clickHouseKeeper/spec
        schema: schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
        watcher:
          func: setRequests|memory|topology/clickHouseKeeper/spec
          paths:
          - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
          - schema/properties/spec/properties/topology/properties/clickHouseKeeper/properties/spec/properties/podResources/properties/machine
      showLabels: true
      type: horizontal-layout
    if:
      name: isExternallyManaged|false
      type: function
    label: Spec
    showLabels: true
    type: block-layout
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - label: ""
        subtitle: Add custom labels and annotations to your database resources for
          organization, monitoring, and integration with other Kubernetes tools and
          services.
        type: label-element
      - buttonClass: is-light is-outlined
        label: Labels
        schema: schema/properties/spec/properties/labels
        type: object-item
      - buttonClass: is-light is-outlined
        label: Annotations
        schema: schema/properties/spec/properties/annotations
        type: object-item
      hideBlock: true
      label: Labels & Annotations
      showLabels: true
      type: block-layout
    - customClass: mt-20
      if:
        name: isToggleOn|deletionPolicy
        type: function
      init:
        type: func
        value: getDefault|deletionPolicy
      label: Deletion Policy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.halt.description
        text: Halt
        value: Halt
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
      watcher:
        func: setStorageClass
        paths:
        - schema/properties/spec/properties/deletionPolicy
    - if:
        name: getDefaultValue|spec/admin/authCredential/customize
        type: function
      label: Provide Authentication Credentials?
      schema: temp/createAuthSecret
      type: switch
      watcher:
        func: onAuthChange
        paths:
        - temp/createAuthSecret
    - if:
        name: showReferSecretSwitch
        type: function
      label: Refer existing Secret?
      schema: temp/referSecret
      type: switch
      watcher:
        func: onReferSecretChange
        paths:
        - temp/referSecret
    - if:
        name: showSecretDropdown
        type: function
      label: Secret
      loader: getReferSecrets
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        name: showReferSecret
        type: function
      label: password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - if:
        name: getDefaultValue|spec/admin/customConfiguration
        type: function
      label: Configure Database?
      schema: temp/configDatabase
      type: switch
      watcher:
        func: clearConfiguration
        paths:
        - temp/configDatabase
    - if:
        name: isConfigDatabaseOn
        type: function
      label: Configuration
      schema: schema/properties/spec/properties/configuration
      type: textarea
    - if:
        name: isToggleOn|deployment
        type: function
      label: Deployment name
      options:
      - description: labels.deployment.shared
        text: Shared
        value: Shared
      - description: labels.deployment.dedicated
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        name: isToggleOn|clusterTier
        type: function
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      if:
        name: isToggleOn|clusterTier/placement
        type: function
      label: Placement
      loader: getAdminOptions|clusterTier/placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      if:
        name: isToggleOn|clusterTier/nodeTopology
        type: function
      label: Node Topology
      loader: getNodeTopology
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  - description: Enable Backup, Monitoring, TLS etc.
    elements:
    - elements:
      - init:
          type: func
          value: setMonitoring
        label: Enable Monitoring?
        schema: temp/monitoring
        type: switch
        watcher:
          func: updateAlertValue
          paths:
          - temp/monitoring
      if:
        name: isToggleOn|monitoring
        type: function
      type: block-layout
    if:
      name: showAdditionalSettings
      type: function
    label: Additional Options
    showLabels: true
    type: block-layout
  id: options
  loader: initBundle
  type: single-step-form
type: multi-step-form
