# Default values for kubedbcom-elasticsearch-editor-options.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

metadata:
  resource:
    group: kubedb.com
    kind: Elasticsearch
    name: elasticsearches
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

spec:
  # options UI sends there fields based on selected version
  # possible values: OpenDistro;OpenSearch;SearchGuard;X-Pack
  authPlugin: X-Pack

  # Annotations to add to the database custom resource
  annotations: {}

  # Labels to add to all the template objects
  labels: {}

  # Combined, Topology
  mode: Combined
  replicas: 2
  topology:
    master:
      replicas: 3
      podResources:
        machine: ""

        resources:
          requests:
            cpu: 500m
            memory: 1536Mi
      persistence:
        size: 1Gi
    data:
      replicas: 3
      podResources:
        machine: ""

        resources:
          requests:
            cpu: 500m
            memory: 1536Mi
      persistence:
        size: 2Gi
    ingest:
      replicas: 2
      podResources:
        machine: ""

        resources:
          requests:
            cpu: 500m
            memory: 1536Mi
      persistence:
        size: 1Gi

  kernelSettings:
    disableDefaults: false

  deletionPolicy: WipeOut

  persistence:
    size: 2Gi
  podResources:
    machine: ""

    resources:
      requests:
        cpu: 500m
        memory: 1536Mi

  authSecret:
    name: ""

    password: ""
  configuration:
    secretName: ""
    applyConfig: {}

  openshift:
    securityContext:
      runAsUser: null

  admin:
    deployment:
      default: Shared
      toggle: true
    clusterTier:
      default: "GeneralPurpose"
      toggle: true
      nodeTopology:
        available: []
        default: ""
        toggle: true
      placement:
        available: []
        default: ""
        toggle: true

    showPreview: false
    leftPanel:
      showInsights: true
      showVaultInfo: true
      showOperations: true
      showBackup: true
      showBackupLegacy: false
      showSecurity: false

    nodeSelector: {}
    tolerations: []

    databases:
      Elasticsearch:
        versions:
          available: []
          default: ""
          toggle: true
        mode:
          available: ["Combined", "Topology"]
          default: "Topology"
          toggle: true
    storageClasses:
      available: []
      default: ""
      toggle: true

    tls:
      default: false
      toggle: true
    clusterIssuers:
      available: []
      default: ""
      toggle: true
    expose:
      default: false
      toggle: true

    monitoring:
      # Name of monitoring agent (one of "prometheus.io", "prometheus.io/operator", "prometheus.io/builtin")
      agent: prometheus.io/operator
      exporter:
        resources: # +doc-gen:break
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 256Mi
      toggle: true
    alert:
      toggle: true

    authCredential:
      customize: true
      referExisting: true
    customConfiguration: true

    deletionPolicy:
      default: WipeOut
      toggle: true
    backup:
      enable:
        default: true
        toggle: true
      by: BackupConfiguration
      via: Restic
    archiver:
      enable:
        default: false
        toggle: false
      via: Restic
    pointInTimeRecovery:
      default: false
      toggle: false

    gitOps:
      enable:
        default: false
        toggle: false
    machineProfiles:
      machines: []
      available: []
      default: ""

  backup:
    tool: ""
    toggle: true
    kubestash:
      schedule: ""
      storageRef:
        name: ""
        namespace: ""
      retentionPolicy:
        name: ""
        namespace: ""
      encryptionSecret:
        name: ""
        namespace: ""
  monitoring:
    serviceMonitor:
      # Specify the labels for ServiceMonitor.
      # Prometheus crd will select ServiceMonitor using these labels.
      # Only usable when monitoring agent is `prometheus.io/webhook server`.
      labels: {}

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: kube-prometheus-stack

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: critical
        rules:
          # Elasticsearch Heap Usage Too High
          elasticsearchHeapUsageTooHigh:
            enabled: true
            # The heap usage is over 90%
            val: 90
            duration: "2m"
            severity: critical

          # Elasticsearch Heap Usage warning
          elasticsearchHeapUsageWarning:
            enabled: true
            # The heap usage is over 80%
            val: 80
            duration: "2m"
            severity: warning

          # Elasticsearch disk out of space
          elasticsearchDiskOutOfSpace:
            enabled: true
            # The disk usage is over 90%. Value range: 0-100.
            val: 90
            duration: "0m"
            severity: critical

          # Elasticsearch disk space low
          elasticsearchDiskSpaceLow:
            enabled: true
            # The disk usage is over 80%. Value range: 0-100.
            val: 80
            duration: "2m"
            severity: warning

          # Elastic Cluster Red status
          elasticsearchClusterRed:
            enabled: true
            duration: "0m"
            severity: critical

          # Elastic Cluster Yellow status
          elasticsearchClusterYellow:
            enabled: true
            duration: "0m"
            severity: warning

          # Minimum healthy nodes in Elasticsearch cluster
          elasticsearchHealthyNodes:
            enabled: true
            # should have at least 3 healthy nodes
            val: 3
            duration: "0m"
            severity: critical

          # Minimum healthy data nodes in Elasticsearch cluster
          elasticsearchHealthyDataNodes:
            enabled: true
            # should have at least 3 healthy data nodes
            val: 3
            duration: "0m"
            severity: critical

          # Elasticsearch relocating shards
          elasticsearchRelocatingShards:
            enabled: true
            duration: "0m"
            severity: info

          # Elasticsearch is initializing shards
          elasticsearchInitializingShards:
            enabled: true
            duration: "0m"
            severity: info

          # Elasticsearch has unassigned shards
          elasticsearchUnassignedShards:
            enabled: true
            duration: "0m"
            severity: critical

          # Elasticsearch has pending tasks. Cluster works slowly.
          elasticsearchPendingTasks:
            enabled: true
            duration: "15m"
            severity: warning

          # No new documents for 10 min!
          elasticsearchNoNewDocuments10m:
            enabled: false
            duration: "0m"
            severity: info

          # Sepcifies the alert configuration for persistent volume usages.
          diskUsageHigh:
            enabled: true
            val: 80
            duration: "1m"
            severity: warning
          diskAlmostFull:
            enabled: true
            val: 95
            duration: "1m"
            severity: critical
      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning
      opsManager:
        enabled: warning
        rules:
          opsRequestOnProgress:
            enabled: true
            duration: "0m"
            severity: info
          opsRequestStatusProgressingToLong:
            enabled: true
            duration: "30m"
            severity: critical
          opsRequestFailed:
            enabled: true
            duration: "0m"
            severity: critical
      stash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
      kubeStash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
