step:
- elements:
  - if:
      name: returnFalse
      type: function
    init:
      type: func
      value: initBundle
    label: ""
    type: label-element
  - label: ""
    subtitle: Select the SingleStore version you want to deploy on Kubernetes. The
      chosen version determines the SingleStore engine features, compatibility, and
      runtime behavior of your distributed SQL database.
    type: label-element
  - disableUnselect: true
    if:
      name: isToggleOn|databases/Singlestore/versions
      type: function
    label: Database Version
    loader: getAdminOptions|databases/Singlestore/versions
    schema: schema/properties/spec/properties/admin/properties/databases/properties/Singlestore/properties/versions/properties/default
    type: select
  - if:
      name: isToggleOn|databases/Singlestore/mode
      type: function
    init:
      type: func
      value: getDefault|databases/Singlestore/mode
    isHorizontal: true
    label: Database Mode
    loader: getAdminOptions|databases/Singlestore/mode
    schema: schema/properties/spec/properties/mode
    type: radio
    watcher:
      func: toggleTls
      paths:
      - schema/properties/spec/properties/mode
  - elements:
    - label: ""
      subtitle: Aggregator nodes handle query processing and coordination. Configure
        replicas, storage, and resource allocation for efficient query execution and
        result aggregation.
      type: label-element
    - elements:
      - init:
          type: func
          value: setReplicaNumber
        label: Replica number
        schema: schema/properties/spec/properties/topology/properties/aggregator/properties/replicas
        type: input
      - label: Storage Size
        schema: schema/properties/spec/properties/topology/properties/aggregator/properties/persistence/properties/size
        type: input
      showLabels: true
      type: horizontal-layout
    - elements:
      - init:
          type: func
          value: setMachineToCustom
        label: Machine
        loader: getMachineListForOptions
        schema: schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/machine
        type: select
      - disable:
          name: isMachineNotCustom|topology/aggregator
          watchPaths:
            - schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|cpu|topology/aggregator
        label: CPU
        loader: setLimits|cpu|topology/aggregator
        schema: schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
        watcher:
          func: setRequests|cpu|topology/aggregator
          paths:
          - schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/resources/properties/requests/properties/cpu
          - schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/machine
      - disable:
          name: isMachineNotCustom|topology/aggregator
          watchPaths:
            - schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|memory|topology/aggregator
        label: Memory
        loader: setLimits|memory|topology/aggregator
        schema: schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
        watcher:
          func: setRequests|memory|topology/aggregator
          paths:
          - schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/resources/properties/requests/properties/memory
          - schema/properties/spec/properties/topology/properties/aggregator/properties/podResources/properties/machine
      showLabels: true
      type: horizontal-layout
    if:
      name: isEqualToModelPathValue|Topology|/spec/mode
      type: function
    label: Aggregator
    showLabels: true
    type: block-layout
  - elements:
    - label: ""
      subtitle: Leaf nodes store and manage data partitions. Configure replicas, storage,
        and resource allocation for optimal data storage and query performance.
      type: label-element
    - elements:
      - init:
          type: func
          value: setReplicaNumber
        label: Replica number
        schema: schema/properties/spec/properties/topology/properties/leaf/properties/replicas
        type: input
      - label: Storage Size
        schema: schema/properties/spec/properties/topology/properties/leaf/properties/persistence/properties/size
        type: input
      showLabels: true
      type: horizontal-layout
    - elements:
      - init:
          type: func
          value: setMachineToCustom
        label: Machine
        loader: getMachineListForOptions
        schema: schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/machine
        type: select
      - disable:
          name: isMachineNotCustom|topology/leaf
          watchPaths:
            - schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|cpu|topology/leaf
        label: CPU
        loader: setLimits|cpu|topology/leaf
        schema: schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
        watcher:
          func: setRequests|cpu|topology/leaf
          paths:
          - schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/resources/properties/requests/properties/cpu
          - schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/machine
      - disable:
          name: isMachineNotCustom|topology/leaf
          watchPaths:
            - schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|memory|topology/leaf
        label: Memory
        loader: setLimits|memory|topology/leaf
        schema: schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
        watcher:
          func: setRequests|memory|topology/leaf
          paths:
          - schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/resources/properties/requests/properties/memory
          - schema/properties/spec/properties/topology/properties/leaf/properties/podResources/properties/machine
      showLabels: true
      type: horizontal-layout
    if:
      name: isEqualToModelPathValue|Topology|/spec/mode
      type: function
    label: Leaf
    showLabels: true
    type: block-layout
  - elements:
    - label: ""
      subtitle: Select a machine profile to allocate CPU and memory resources for
        your distributed SQL database. Choose 'custom' to manually specify resource
        requirements or select a predefined profile.
      type: label-element
    - elements:
      - init:
          type: func
          value: setMachineToCustom
        label: Machine
        loader: getMachineListForOptions
        schema: schema/properties/spec/properties/podResources/properties/machine
        type: select
      - disable:
          name: isMachineNotCustom
          watchPaths:
            - schema/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|cpu
        label: CPU
        loader: setLimits|cpu
        schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
        watcher:
          func: setRequests|cpu
          paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
          - schema/properties/spec/properties/podResources/properties/machine
      - disable:
          name: isMachineNotCustom
          watchPaths:
            - schema/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|memory
        label: Memory
        loader: setLimits|memory
        schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
        watcher:
          func: setRequests|memory
          paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
          - schema/properties/spec/properties/podResources/properties/machine
      showLabels: true
      type: horizontal-layout
    if:
      name: isEqualToModelPathValue|Standalone|/spec/mode
      type: function
    label: Machine Profile
    showLabels: true
    type: block-layout
  - elements:
    - elements:
      - if:
          name: isToggleOn|storageClasses
          type: function
        label: Storage Class
        loader: getAdminOptions|storageClasses
        schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
        type: select
      - label: Storage Size
        schema: schema/properties/spec/properties/persistence/properties/size
        type: input
      showLabels: true
      type: horizontal-layout
    if:
      name: isEqualToModelPathValue|Standalone|/spec/mode
      type: function
    type: block-layout
  - label: License Secret
    loader: getSecrets
    refresh: true
    schema: schema/properties/spec/properties/licenseSecret/properties/name
    type: select
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - label: ""
        subtitle: Add custom labels and annotations to your database resources for
          organization, monitoring, and integration with other Kubernetes tools and
          services.
        type: label-element
      - buttonClass: is-light is-outlined
        label: Labels
        schema: schema/properties/spec/properties/labels
        type: object-item
      - buttonClass: is-light is-outlined
        label: Annotations
        schema: schema/properties/spec/properties/annotations
        type: object-item
      hideBlock: true
      label: Labels & Annotations
      showLabels: true
      type: block-layout
    - customClass: mt-20
      if:
        name: isToggleOn|deletionPolicy
        type: function
      init:
        type: func
        value: getDefault|deletionPolicy
      label: Deletion Policy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.halt.description
        text: Halt
        value: Halt
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
      watcher:
        func: setStorageClass
        paths:
        - schema/properties/spec/properties/deletionPolicy
    - if:
        name: getDefaultValue|spec/admin/authCredential/customize
        type: function
      label: Provide Authentication Credentials?
      schema: temp/createAuthSecret
      type: switch
      watcher:
        func: onAuthChange
        paths:
        - temp/createAuthSecret
    - if:
        name: showReferSecretSwitch
        type: function
      label: Refer existing Secret?
      schema: temp/referSecret
      type: switch
      watcher:
        func: onReferSecretChange
        paths:
        - temp/referSecret
    - if:
        name: showSecretDropdown
        type: function
      label: Secret
      loader: getReferSecrets
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        name: showReferSecret
        type: function
      label: Password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - if:
        name: getDefaultValue|spec/admin/customConfiguration
        type: function
      label: Configure Database?
      schema: temp/configDatabase
      type: switch
      watcher:
        func: clearConfiguration
        paths:
        - temp/configDatabase
    - if:
        name: isConfigDatabaseOn
        type: function
      label: Configuration
      schema: schema/properties/spec/properties/configuration
      type: textarea
    - if:
        name: isToggleOn|deployment
        type: function
      label: Deployment Mode
      options:
      - description: shared
        text: Shared
        value: Shared
      - description: Dedicated
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        name: isToggleOn|clusterTier
        type: function
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      if:
        name: isToggleOn|clusterTier/placement
        type: function
      label: Placement Policy
      loader: getAdminOptions|clusterTier/placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      if:
        name: isToggleOn|clusterTier/nodeTopology
        type: function
      label: Node Topology
      loader: getNodeTopology
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    hideBlock: true
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  - description: Enable Backup, Monitoring, TLS etc.
    elements:
    - elements:
      - init:
          type: func
          value: setMonitoring
        label: Enable Monitoring
        schema: temp/monitoring
        type: switch
        watcher:
          func: updateAlertValue
          paths:
          - temp/monitoring
      - customClass: mt-10
        if:
          name: showAlerts
          type: function
        label: Alert Options
        options:
        - text: None
          value: none
        - text: Critical
          value: critical
        - text: Warning
          value: warning
        - text: Info
          value: info
        schema: schema/properties/form/properties/alert/properties/enabled
        type: select
      if:
        name: isToggleOn|monitoring
        type: function
      type: block-layout
    - if:
        name: isToggleOn|backup
        type: function
      init:
        type: func
        value: setBackup
      label: Enable Backup?
      schema: temp/backup
      type: switch
      watcher:
        func: onBackupSwitch
        paths:
        - temp/backup
    - elements:
      - init:
          type: func
          value: toggleTls|true
        label: Enable TLS?
        schema: schema/properties/spec/properties/admin/properties/tls/properties/default
        type: switch
      - if:
          name: showIssuer
          type: function
        label: Cluster Issuers
        loader: getAdminOptions|clusterIssuers
        schema: schema/properties/spec/properties/admin/properties/clusterIssuers/properties/default
        type: select
        validation:
          type: required
      if:
        name: isEqualToModelPathValue|Topology|/spec/mode
        type: function
      type: block-layout
    - if:
        name: isToggleOn|expose
        type: function
      label: Expose via Gateway?
      schema: schema/properties/spec/properties/admin/properties/expose/properties/default
      type: switch
    if:
      name: showAdditionalSettings
      type: function
    label: Additional Options
    showLabels: true
    type: block-layout
  id: options
  loader: initBundle
  type: single-step-form
type: multi-step-form
