step:
- elements:
  - elements:
    - label: Name
      schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/metadata/properties/name
      type: input
    - if:
        name: isRancherManaged
        type: function
      label: Select Namespace
      loader: getNamespaces
      schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/metadata/properties/namespace
      type: select
      watcher:
        func: onNamespaceChange
        paths:
        - schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/metadata/properties/namespace
    - label: Select Db
      loader: getDbs
      refresh: true
      schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/databaseRef/properties/name
      type: select
      validation:
        type: required
      watcher:
        func: initMetadata
        paths:
        - schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/databaseRef/properties/name
    if:
      name: isConsole
      type: function
    type: block-layout
  - if:
      name: isConsole
      type: function
    label: Select Type
    options:
    - description: Scale your CPU Memory based on resource usage
      text: Compute
      value: compute
    - description: Expand your database size based on volume usage
      text: Storage
      value: storage
    schema: temp/properties/autoscalingType
    type: radio
    validation:
      type: required
    watcher:
      func: initMetadata
      paths:
      - temp/properties/autoscalingType
  - elements:
    - elements:
      - init:
          type: func
          value: setTrigger|autoscalingKubedbComClickHouseAutoscaler/spec/compute/clickhouse/trigger
        label: Trigger
        options:
        - text: "On"
          value: "On"
        - text: "Off"
          value: "Off"
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/trigger
        type: select
      - label: Pod LifeTime Threshold
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/podLifeTimeThreshold
        type: input
      - label: Resource Diff Percentage
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/resourceDiffPercentage
        type: threshold-input
      - elements:
        - elements:
          - label: Cpu
            schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/minAllowed/properties/cpu
            type: input
          - label: Memory
            schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/minAllowed/properties/memory
            type: input
          fixedBlock: true
          label: Min Allowed
          showLabels: true
          type: block-layout
        - elements:
          - label: Cpu
            schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/maxAllowed/properties/cpu
            type: input
          - label: Memory
            schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/maxAllowed/properties/memory
            type: input
          fixedBlock: true
          label: Max Allowed
          showLabels: true
          type: block-layout
        showLabels: false
        type: block-layout
      - label: Controlled Resources
        loader: setControlledResources|clickhouse
        multiple: true
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/controlledResources
        type: select
      label: ClickHouse
      showLabels: true
      type: block-layout
    - elements:
      - label: Select Node Topology
        loader: fetchNodeTopology
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/nodeTopology/properties/name
        type: select
      - if:
          name: isNodeTopologySelected
          type: function
        label: ScaleUp Diff Percentage
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/nodeTopology/properties/scaleUpDiffPercentage
        type: threshold-input
      - if:
          name: isNodeTopologySelected
          type: function
        label: ScaleDown Diff Percentage
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/nodeTopology/properties/scaleDownDiffPercentage
        type: threshold-input
      label: Node Topology
      showLabels: true
      type: block-layout
    - elements:
      - label: Timeout
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions/properties/timeout
        type: time-picker
      - init:
          type: func
          value: setApplyToIfReady
        label: Apply
        options:
        - text: IfReady (OpsRequest will be applied if database is ready)
          value: IfReady
        - text: Always (OpsRequest will always be applied)
          value: Always
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions/properties/apply
        type: radio
      if:
        name: showOpsRequestOptions
        type: function
      label: Ops Request Options
      showLabels: true
      type: block-layout
    showLabels: false
    type: block-layout
  id: compute-autoscaler
  loader: getDbDetails
  type: single-step-form
- elements:
  - elements:
    - elements:
      - elements:
        - init:
            type: func
            value: setTrigger|autoscalingKubedbComClickHouseAutoscaler/spec/storage/clickhouse/trigger
          label: Trigger
          options:
          - text: "On"
            value: "On"
          - text: "Off"
            value: "Off"
          schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/trigger
          type: select
        - label: Expansion Mode
          options:
          - text: Online
            value: Online
          - text: Offline
            value: Offline
          schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/expansionMode
          type: select
        - label: UsageThreshold (%)
          schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/usageThreshold
          type: threshold-input
        - label: Scaling Rules
          loader: setValueFromDbDetails|resources/kubedbComClickHouse/spec/storage/resources/requests/storage
          schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/scalingRules
          type: scaling-rules
          watcher:
            func: handleUnit|autoscalingKubedbComClickHouseAutoscaler/spec/storage/clickhouse/scalingRules|scalingRules
            paths:
            - schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/scalingRules
        - label: UpperBound
          schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/upperBound
          type: input
          watcher:
            func: handleUnit|autoscalingKubedbComClickHouseAutoscaler/spec/storage/clickhouse/upperBound
            paths:
            - schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/upperBound
        label: ClickHouse
        showLabels: true
        type: block-layout
      showLabels: false
      type: block-layout
    - elements:
      - label: Timeout
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions/properties/timeout
        type: time-picker
      - init:
          type: func
          value: setApplyToIfReady
        label: Apply
        options:
        - text: IfReady (OpsRequest will be applied if database is ready)
          value: IfReady
        - text: Always (OpsRequest will always be applied)
          value: Always
        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions/properties/apply
        type: radio
      if:
        name: showOpsRequestOptions
        type: function
      label: OpsRequest Options
      showLabels: true
      type: block-layout
    showLabels: false
    type: block-layout
  id: storage-autoscaler
  type: single-step-form
type: multi-step-form
