type: multi-step-form
step:
  - type: single-step-form
    id: compute-autoscaler
    loader: getDbDetails
    elements:
      - type: block-layout
        if:
         type: function
         name: isConsole
        elements:
          - type: input
            label: Name
            schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/metadata/properties/name
          - type: select
            label: Select Namespace
            loader: getNamespaces
            if:
              type: function
              name: isRancherManaged
            schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/metadata/properties/namespace
            watcher:
              func: onNamespaceChange
              paths:
                - schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/metadata/properties/namespace
          - type: select
            label: Select Db
            loader: getDbs
            validation:
              type: required
            refresh: true
            schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/databaseRef/properties/name
            watcher:
              func: initMetadata
              paths:
                - schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/databaseRef/properties/name

      - type: radio
        if:
          type: function
          name: isConsole
        label: Select Type
        validation:
          type: required
        schema: temp/properties/autoscalingType
        watcher:
          func: initMetadata
          paths:
            - temp/properties/autoscalingType
        options:
          - text: Compute
            value: compute
            description: Scale your CPU Memory based on resource usage
          - text: Storage
            value: storage
            description: Expand your database size based on volume usage

      - type: block-layout
        showLabels: false
        elements:
          # clickhouse mode
          - type: block-layout
            label: ClickHouse
            showLabels: true
            # schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse
            elements:
              - type: select
                label: Trigger
                init:
                  type: func
                  value: setTrigger|autoscalingKubedbComClickHouseAutoscaler/spec/compute/clickhouse/trigger
                options:
                  - text: 'On'
                    value: 'On'
                  - text: 'Off'
                    value: 'Off'
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/trigger
              - type: input
                label: Pod LifeTime Threshold
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/podLifeTimeThreshold
              - type: input
                label: Resource Diff Percentage
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/resourceDiffPercentage
              - type: block-layout
                showLabels: false
                elements:
                  - type: block-layout
                    label: Min Allowed
                    showLabels: true
                    elements:
                      - type: input
                        label: Cpu
                        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/minAllowed/properties/cpu
                      - type: input
                        label: Memory
                        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/minAllowed/properties/memory
                  - type: block-layout
                    label: Max Allowed
                    showLabels: true
                    elements:
                      - type: input
                        label: Cpu
                        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/maxAllowed/properties/cpu
                      - type: input
                        label: Memory
                        schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/maxAllowed/properties/memory
              - type: select
                label: Controlled Resources
                loader: setControlledResources|clickhouse
                multiple: true
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/clickhouse/properties/controlledResources

          - type: block-layout
            label: Node Topology
            showLabels: true
            # schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/nodeTopology
            elements:
              - type: select
                label: Select Node Topology
                loader: fetchNodeTopology
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/nodeTopology/properties/name
              - type: input
                label: ScaleUp Diff Percentage
                if:
                  type: function
                  name: isNodeTopologySelected
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/nodeTopology/properties/scaleUpDiffPercentage
              - type: input
                label: ScaleDown Diff Percentage
                if:
                  type: function
                  name: isNodeTopologySelected
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/compute/properties/nodeTopology/properties/scaleDownDiffPercentage

          - type: block-layout
            label: Ops Request Options
            showLabels: true
            if:
              type: function
              name: showOpsRequestOptions
            # schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions
            elements:
              - type: select
                label: Timeout
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions/properties/timeout
                options:
                - text: 5 minutes
                  value: 5m0s
                - text: 10 minutes
                  value: 10m0s
                - text: 30 minutes
                  value: 30m0s
                - text: 1 hour
                  value: 1h0m
                - text: 2 hours
                  value: 2h0m
                - text: 5 hours
                  value: 5h0m
                - text: 10 hours
                  value: 10h0m
              - type: radio
                label: Apply
                init:
                  type: func
                  value: setApplyToIfReady
                options:
                  - text: IfReady (OpsRequest will be applied if database is ready)
                    value: IfReady
                  - text: Always (OpsRequest will always be applied)
                    value: Always
                schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions/properties/apply

  - type: single-step-form
    id: storage-autoscaler
    elements:
    - type: block-layout
      showLabels: false
      elements:
        - type: block-layout
          showLabels: false
          elements:
            - type: block-layout
              label: ClickHouse
              showLabels: true
              elements:
                - type: select
                  label: Trigger
                  init:
                    type: func
                    value: setTrigger|autoscalingKubedbComClickHouseAutoscaler/spec/storage/clickhouse/trigger
                  options:
                    - text: 'On'
                      value: 'On'
                    - text: 'Off'
                      value: 'Off'
                  schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/trigger
                - type: select
                  label: Expansion Mode
                  options:
                    - text: Online
                      value: Online
                    - text: Offline
                      value: Offline
                  schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/expansionMode
                - type: input
                  label: UsageThreshold (%)
                  schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/usageThreshold
                - type: array-object-form
                  label: Scaling Rules
                  schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/scalingRules
                  watcher:
                    func: handleUnit|autoscalingKubedbComClickHouseAutoscaler/spec/storage/clickhouse/scalingRules|scalingRules
                    paths:
                      - schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/scalingRules
                  elements:
                    - type: input
                      label: AppliesUpto (In Storage units)
                      schema: appliesUpto
                    - type: input
                      label: Threshold (In %, Or In Storage Units)
                      schema: threshold
                - type: input
                  label: UpperBound
                  schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/upperBound
                  watcher:
                    func: handleUnit|autoscalingKubedbComClickHouseAutoscaler/spec/storage/clickhouse/upperBound
                    paths:
                      - schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/storage/properties/clickhouse/properties/upperBound
        - type: block-layout
          label: OpsRequest Options
          showLabels: true
          if:
            type: function
            name: showOpsRequestOptions
          elements:
            - type: select
              label: Timeout
              schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions/properties/timeout
              options:
                - text: 5 minutes
                  value: 5m0s
                - text: 10 minutes
                  value: 10m0s
                - text: 30 minutes
                  value: 30m0s
                - text: 1 hour
                  value: 1h0m
                - text: 2 hours
                  value: 2h0m
                - text: 5 hours
                  value: 5h0m
                - text: 10 hours
                  value: 10h0m
            - type: radio
              label: Apply
              init:
                type: func
                value: setApplyToIfReady
              options:
                - text: IfReady (OpsRequest will be applied if database is ready)
                  value: IfReady
                - text: Always (OpsRequest will always be applied)
                  value: Always
              schema: schema/properties/resources/properties/autoscalingKubedbComClickHouseAutoscaler/properties/spec/properties/opsRequestOptions/properties/apply
  