step:
- type: single-step-form
  loader: initBundle
  elements:
  - type: label-element
    label: ''
    subtitle: Select the Postgres version you want to deploy on Kubernetes. The chosen version determines the Postgres engine features, compatibility, and runtime behavior of your database cluster.
  - disableUnselect: false
    loader: getAdminOptions|databases/Postgres/versions
    if:
      type: function
      name: isToggleOn|databases/Postgres/versions
    label: Database Version
    schema: schema/properties/spec/properties/admin/properties/databases/properties/Postgres/properties/versions/properties/default
    type: select
  - init:
     type: func
     value: getDefault|databases/Postgres/mode
    loader: getAdminOptions|databases/Postgres/mode
    if:
      type: function
      name: isToggleOn|databases/Postgres/mode
    label: Database Mode
    isHorizontal: true
    watcher:
      func: clearArbiterHidden
      paths:
        - schema/properties/spec/properties/mode
    schema: schema/properties/spec/properties/mode
    type: radio
  - if:
      type: function
      name: EqualToDatabaseMode|Cluster
    label: Replicas
    schema: schema/properties/spec/properties/replicas
    type: input
  - elements:
    - type: label-element
      label: ''
      subtitle: Configure a remote replica to replicate data from an external PostgreSQL source. Select the source database binding for asynchronous replication across clusters or regions.
    - loader: getAppBindings
      label: RemoteReplica SourceRef
      validation:
        type: required
      schema: schema/properties/spec/properties/remoteReplica/properties/sourceRef
      type: select
    if:
      type: function
      name: EqualToDatabaseMode|RemoteReplica
    type: block-layout
  - elements:
    - type: label-element
      label: ''
      subtitle: Select a machine profile to allocate CPU and memory resources for your database. Choose 'custom' to manually specify resource requirements or select a predefined profile.
    - type: horizontal-layout
      showLabels: true
      elements:
        - init:
            type: func
            value: setMachineToCustom
          loader: getMachineListForOptions
          label: Machine
          schema: schema/properties/spec/properties/podResources/properties/machine
          type: select
        - init:
            type: func
            value: setLimits|cpu
          disable: isMachineNotCustom
          label: CPU
          loader: setLimits|cpu
          watcher:
            func: setRequests|cpu
            paths:
              -  schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
              - schema/properties/spec/properties/podResources/properties/machine
          schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
          type: input
        - init:
            type: func
            value: setLimits|memory
          disable: isMachineNotCustom
          label: Memory
          loader: setLimits|memory
          watcher:
            func: setRequests|memory
            paths:
              - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
              - schema/properties/spec/properties/podResources/properties/machine
          schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
          type: input
    label: Machine Profile
    showLabels: true
    type: block-layout
  - elements:
    - type: horizontal-layout
      showLabels: true
      customClass: mb-16
      elements:
        - loader: getAdminOptions|storageClasses
          if:
            type: function
            name: isToggleOn|storageClasses
          label: Storage Class
          validation:
            type: required
          schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
          type: select
        - if:
            type: function
            name: showStorageSizeField
          label: Storage Size
          schema: schema/properties/spec/properties/persistence/properties/size
          type: input
    type: block-layout
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - type: label-element
        label: ''
        subtitle: Add custom labels and annotations to your database resources for organization, monitoring, and integration with other Kubernetes tools and services.
      - type: object-item
        label: Labels
        buttonClass: is-light is-outlined
        schema: schema/properties/spec/properties/labels
      - type: object-item
        label: Annotations
        buttonClass: is-light is-outlined
        schema: schema/properties/spec/properties/annotations
      label: Labels & Annotations
      showLabels: true
      type: block-layout
    - init:
        type: func
        value: getDefault|deletionPolicy
      customClass: mt-20
      if:
        type: function
        name: isToggleOn|deletionPolicy
      label: Deletion Policy
      watcher:
        func: setStorageClass
        paths:
          - schema/properties/spec/properties/deletionPolicy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.halt.description
        text: Halt
        value: Halt
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
    - if:
        type: function
        name: getDefaultValue|spec/admin/authCredential/customize
      label: Provide Authentication Credentials?
      watcher:
        func: onAuthChange
        paths:
          - temp/createAuthSecret
      schema: temp/createAuthSecret
      type: switch
    - if:
        type: function
        name:  showReferSecretSwitch
      label: Refer existing Secret?
      watcher:
        func: onReferSecretChange
        paths:
          - temp/referSecret
      schema: temp/referSecret
      type: switch
    - loader: getReferSecrets
      if:
        type: function
        name:  showSecretDropdown
      label: Secret
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        type: function
        name: showReferSecret
      label: Password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - init:
        type: func
        value: isConfigAvailable
      if:
        type: function
        name: getDefaultValue|spec/admin/customConfiguration
      label: Configure Database?
      watcher:
        func: clearConfiguration
        paths:
          - temp/configDatabase
      schema: temp/configDatabase
      type: switch
    - if:
        type: function
        name: isConfigDatabaseOn
      label: Configuration
      hasCopy: true
      schema: schema/properties/spec/properties/configuration
      type: editor
    - init:
        type: func
        value: getDefault|pointInTimeRecovery
      if:
        type: function
        name: isToggleOn|pointInTimeRecovery
      label: Point in-time Recovery?
      schema: temp/recovery
      type: switch
    - elements:
      - type: label-element
        label: ''
        subtitle: Restore your database to a specific point in time by specifying the source database namespace, name, and the exact recovery timestamp for data restoration.
      - type: horizontal-layout
        showLabels: true
        elements:
          - label: Namespace
            watcher:
              func: setPointInTimeRecovery
              paths:
                - temp/refNamespace
            forceRequired: true
            validation:
              type: custom
              name: pointInTimeErrorCheck
            schema: temp/refNamespace
            type: input
          - label: Name
            watcher:
              func: setPointInTimeRecovery
              paths:
                - temp/refDBName
            validation:
              type: required
            schema: temp/refDBName
            type: input
      - label: Recovery Timestamp
        schema: schema/properties/spec/properties/init/properties/archiver/properties/recoveryTimestamp
        type: date-time
      if:
        type: function
        name: showRecovery
      label: Point in-time Recovery
      showLabels: true
      type: block-layout
    - if:
        type: function
        name: isToggleOn|deployment
      label: Deployment
      options:
      - description: labels.deployment.shared
        text: Shared
        value: Shared
      - description: labels.deployment.dedicated
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        type: function
        name: isToggleOn|clusterTier
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      loader: getAdminOptions|clusterTier/placement
      if:
        type: function
        name: isToggleOn|clusterTier/placement
      label: Placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      loader: getNodeTopology
      if:
        type: function
        name: isToggleOn|clusterTier/nodeTopology
      label: Node Topology
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    - elements:
      - type: horizontal-layout
        showLabels: true
        elements:
          - label: Standby Mode
            options:
            - text: Hot
              value: Hot
            - text: Warm
              value: Warm
            schema: schema/properties/spec/properties/standbyMode
            type: select
          - label: Streaming Mode
            options:
            - text: Synchronous
              value: Synchronous
            - text: Asynchronous
              value: Asynchronous
            schema: schema/properties/spec/properties/streamingMode
            type: select
      if:
        type: function
        name: EqualToDatabaseMode|Cluster
      type: block-layout
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  - description: Enable Backup, Monitoring, TLS etc.
    elements:
    - elements:
      - init:
          type: func
          value: setMonitoring
        label: Enable Monitoring?
        watcher:
          func: updateAlertValue
          paths:
            - temp/monitoring
        schema: temp/monitoring
        type: switch
      - customClass: mt-10
        if:
          type: function
          name: showAlerts
        label: Alert Options
        options:
        - text: None
          value: none
        - text: Critical
          value: critical
        - text: Warning
          value: warning
        - text: Info
          value: info
        schema: schema/properties/form/properties/alert/properties/enabled
        type: select
      if:
        type: function
        name: isToggleOn|monitoring
      type: block-layout
    - init:
        type: func
        value: setBackup
      if:
        type: function
        name: isToggleOn|backup

      label: Enable Backup?
      watcher:
        func: onBackupSwitch
        paths:
          - temp/backup
      schema: temp/backup
      type: switch
    - elements:
      - disable: showArchiverAlert
        label: Enable Archiver?
        watcher:
          func: onArchiverChange
          paths:
            - schema/properties/spec/properties/admin/properties/archiver/properties/enable/properties/default
        schema: schema/properties/spec/properties/admin/properties/archiver/properties/enable/properties/default
        type: switch
      - if:
          type: function
          name: showArchiverAlert
        label: The selected StorageClass does not support Archiver
        type: warning
      if:
        type: function
        name: showArchiver
      type: block-layout
    - elements:
      - if:
          type: function
          name: isToggleOn|tls
        label: Enable TLS?
        schema: schema/properties/spec/properties/admin/properties/tls/properties/default
        type: switch
      - loader: getAdminOptions|clusterIssuers
        if:
          type: function
          name: showIssuer
        label: Cluster Issuers
        validation:
          type: required
        schema: schema/properties/spec/properties/admin/properties/clusterIssuers/properties/default
        type: select
      type: block-layout
    - elements:
      - if:
          type: function
          name: isToggleOn|expose
        label: Expose via Gateway?
        schema: schema/properties/spec/properties/admin/properties/expose/properties/default
        type: switch
      type: block-layout
    if:
      type: function
      name: showAdditionalSettings
    label: Additional Options
    showLabels: true
    type: block-layout
  id: options
  # title: steps.0.label
type: multi-step-form
