step:
- elements:
  - label: ""
    subtitle: Select the ProxySQL version you want to deploy on Kubernetes. The chosen
      version determines the ProxySQL engine features, compatibility, and runtime
      behavior of your database proxy.
    type: label-element
  - disableUnselect: true
    if:
      name: isToggleOn|databases/ProxySQL/versions
      type: function
    label: Database Version
    loader: getAdminOptions|databases/ProxySQL/versions
    schema: schema/properties/spec/properties/admin/properties/databases/properties/ProxySQL/properties/versions/properties/default
    type: select
  - if:
      name: isToggleOn|databases/ProxySQL/mode
      type: function
    init:
      type: func
      value: getDefault|databases/ProxySQL/mode
    isHorizontal: true
    label: Database Mode
    loader: getAdminOptions|databases/ProxySQL/mode
    schema: schema/properties/spec/properties/mode
    type: radio
    watcher:
      func: clearArbiterHidden
      paths:
      - schema/properties/spec/properties/mode
  - if:
      name: EqualToDatabaseMode|Replicaset
      type: function
    label: Replicas
    schema: schema/properties/spec/properties/replicas
    type: input
  - elements:
    - label: ""
      subtitle: Select a machine profile to allocate CPU and memory resources for
        your database proxy. Choose 'custom' to manually specify resource requirements
        or select a predefined profile.
      type: label-element
    - elements:
      - init:
          type: func
          value: setMachineToCustom
        label: Machine
        loader: getMachineListForOptions
        schema: schema/properties/spec/properties/podResources/properties/machine
        type: select
      - disable:
          name: isMachineNotCustom
          watchPaths:
          - schema/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|cpu
        label: CPU
        loader: setLimits|cpu
        schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
        type: input
        watcher:
          func: setRequests|cpu
          paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/cpu
          - schema/properties/spec/properties/podResources/properties/machine
      - disable:
          name: isMachineNotCustom
          watchPaths:
          - schema/properties/spec/properties/podResources/properties/machine
        init:
          type: func
          value: setLimits|memory
        label: Memory
        loader: setLimits|memory
        schema: schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
        type: input
        watcher:
          func: setRequests|memory
          paths:
          - schema/properties/spec/properties/podResources/properties/resources/properties/requests/properties/memory
          - schema/properties/spec/properties/podResources/properties/machine
      showLabels: true
      type: horizontal-layout
    label: Machine Profile
    showLabels: true
    type: block-layout
  - if:
      name: isToggleOn|storageClasses
      type: function
    label: Storage Class
    loader: getAdminOptions|storageClasses
    schema: schema/properties/spec/properties/admin/properties/storageClasses/properties/default
    type: select
  - label: Backend Section
    subtitle: Specify the backend databases for ProxySQL to route queries.
    type: label-element
  - label: Backend
    loader: getAppBindings
    refresh: true
    schema: schema/properties/spec/properties/backend
    type: select
  - description: Configure Credentials, Deployment Mode etc.
    elements:
    - elements:
      - label: ""
        subtitle: Add custom labels and annotations to your database resources for
          organization, monitoring, and integration with other Kubernetes tools and
          services.
        type: label-element
      - buttonClass: is-light is-outlined
        label: Labels
        schema: schema/properties/spec/properties/labels
        type: object-item
      - buttonClass: is-light is-outlined
        label: Annotations
        schema: schema/properties/spec/properties/annotations
        type: object-item
      hideBlock: true
      label: Labels & Annotations
      showLabels: true
      type: block-layout
    - customClass: mt-20
      if:
        name: isToggleOn|deletionPolicy
        type: function
      init:
        type: func
        value: getDefault|deletionPolicy
      label: Deletion Policy
      options:
      - description: options.deletionPolicy.delete.description
        text: Delete
        value: Delete
      - description: options.deletionPolicy.wipeOut.description
        text: WipeOut
        value: WipeOut
      - description: options.deletionPolicy.doNotTerminate.description
        text: DoNotTerminate
        value: DoNotTerminate
      schema: schema/properties/spec/properties/deletionPolicy
      type: select
    - if:
        name: getDefaultValue|spec/admin/authCredential/customize
        type: function
      label: Provide Authentication Credentials?
      schema: temp/createAuthSecret
      type: switch
      watcher:
        func: onAuthChange
        paths:
        - temp/createAuthSecret
    - if:
        name: showReferSecretSwitch
        type: function
      label: Refer existing Secret?
      schema: temp/referSecret
      type: switch
      watcher:
        func: onReferSecretChange
        paths:
        - temp/referSecret
    - if:
        name: showSecretDropdown
        type: function
      label: Secret
      loader: getReferSecrets
      schema: schema/properties/spec/properties/authSecret/properties/name
      type: select
    - if:
        name: showReferSecret
        type: function
      label: Password
      schema: schema/properties/spec/properties/authSecret/properties/password
      type: input
    - if:
        name: getDefaultValue|spec/admin/customConfiguration
        type: function
      label: Configure Database?
      schema: temp/configDatabase
      type: switch
      watcher:
        func: clearConfiguration
        paths:
        - temp/configDatabase
    - if:
        name: isConfigDatabaseOn
        type: function
      label: Configuration
      schema: schema/properties/spec/properties/configuration
      type: textarea
    - label: Sync Users?
      schema: schema/properties/spec/properties/syncUsers
      type: switch
    - if:
        name: isToggleOn|deployment
        type: function
      label: Deployment Mode
      options:
      - description: Postgres sharded cluster for high performance and high availability.
        text: Shared
        value: Shared
      - description: For production applications with sophisticated workload requirements.
        text: Dedicated
        value: Dedicated
      schema: schema/properties/spec/properties/admin/properties/deployment/properties/default
      type: radio
    - if:
        name: isToggleOn|clusterTier
        type: function
      isHorizontal: true
      label: Cluster Tier
      options:
      - text: General Purpose
        value: GeneralPurpose
      - text: Memory Optimized
        value: MemoryOptimized
      - text: CPU Optimized
        value: CPUOptimized
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/default
      type: radio
    - disableUnselect: true
      if:
        name: isToggleOn|clusterTier/placement
        type: function
      label: Placement Policy
      loader: getAdminOptions|clusterTier/placement
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/placement/properties/default
      type: select
    - disableUnselect: true
      if:
        name: isToggleOn|clusterTier/nodeTopology
        type: function
      label: Node Topology
      loader: getNodeTopology
      refresh: true
      schema: schema/properties/spec/properties/admin/properties/clusterTier/properties/nodeTopology/properties/default
      type: select
    hideBlock: true
    label: Advanced Configuration
    showLabels: true
    type: block-layout
  - description: Enable Backup, Monitoring, TLS etc.
    elements:
    - elements:
      - init:
          type: func
          value: setMonitoring
        label: Enable Monitoring
        schema: temp/monitoring
        type: switch
        watcher:
          func: updateAlertValue
          paths:
          - temp/monitoring
      - customClass: mt-10
        if:
          name: showAlerts
          type: function
        label: Alert Options
        options:
        - text: None
          value: none
        - text: Critical
          value: critical
        - text: Warning
          value: warning
        - text: Info
          value: info
        schema: schema/properties/form/properties/alert/properties/enabled
        type: select
      if:
        name: isToggleOn|monitoring
        type: function
      type: block-layout
    - elements:
      - label: Enable TLS?
        schema: schema/properties/spec/properties/admin/properties/tls/properties/default
        type: switch
      - if:
          name: showIssuer
          type: function
        label: Cluster Issuers
        loader: getAdminOptions|clusterIssuers
        schema: schema/properties/spec/properties/admin/properties/clusterIssuers/properties/default
        type: select
        validation:
          type: required
      if:
        name: isToggleOn|tls
        type: function
      type: block-layout
    if:
      name: showAdditionalSettings
      type: function
    label: Additional Options
    showLabels: true
    type: block-layout
  id: options
  loader: initBundle
  type: single-step-form
type: multi-step-form
