step:
- elements:
  - if:
      name: isConsole
      type: function
    label: Select Database
    loader: getDatabases|core.k8s.appscode.com|v1alpha1|genericresources
    refresh: true
    schema: temp/properties/database
    sortable: true
    type: select
    validation:
      type: required
    watcher:
      func: getSpecRef
      paths:
      - schema/properties/spec/properties/database
  - init:
      type: func
      value: getEngineName
    label: Name
    schema: schema/properties/metadata/properties/name
    type: input
    validation:
      type: required
  - disable: true
    if:
      name: isDbSelected
      type: function
    init:
      type: func
      value: getDbNamespace
    label: Namespace
    schema: schema/properties/metadata/properties/namespace
    type: input
  - label: Select VaultServer
    loader: getVaultservers|kubevault.com|v1alpha2|vaultservers
    refresh: true
    schema: temp/properties/vaultserver
    type: select
    validation:
      type: required
    watcher:
      func: getSpecRef
      paths:
      - temp/properties/vaultserver
  - disable: true
    if:
      name: isVaultSelected
      type: function
    init:
      type: func
      value: vaultRefName
    label: Vaultref Name
    schema: schema/properties/spec/properties/vaultRef/properties/name
    type: input
  - disable: true
    if:
      name: isVaultSelected
      type: function
    init:
      type: func
      value: vaultRefNamespace
    label: Vaultref Namespace
    schema: schema/properties/spec/properties/vaultRef/properties/namespace
    type: input
  - disable: true
    if:
      name: isDbSelected
      type: function
    label: Plugin Name
    schema: discriminator/properties/plugin-name
    type: input
    watcher:
      func: getPluginName
      paths:
      - schema/properties/spec/properties/database
  type: single-step-form
type: multi-step-form
