# Default values for kubedbcom-mysql-editor-options.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

metadata:
  resource:
    group: kubedb.com
    kind: MySQL
    name: mysqls
    scope: Namespaced
    version: v1alpha2
  release:
    # Release name
    name: ""
    # Release namespace
    namespace: ""

spec:
  # Annotations to add to the database custom resource
  annotations: {}

  # Labels to add to all the template objects
  labels: {}

  # Standalone, GroupReplication, InnoDBCluster, RemoteReplica, SemiSync
  mode: GroupReplication
  replicas: 3

  groupReplication:
    mode: Single-Primary

  innoDBCluster:
    router:
      replicas: 3
    mode: Single-Primary

  remoteReplica:
    sourceRef:
      name: ""
      namespace: ""

  semiSync:
    sourceWaitForReplicaCount: 1
    sourceTimeout: 24h0m0s
    errantTransactionRecoveryPolicy: PseudoTransaction

  deletionPolicy: WipeOut

  persistence:
    size: 2Gi
  podResources:
    machine: ""

    resources:
      requests:
        cpu: 500m
        memory: 1536Mi

  authSecret:
    name: ""

    password: ""
  configuration:
    secretName: ""
    applyConfig: {}

  archiverName: ""
  init:
    archiver:
      recoveryTimestamp: null
      encryptionSecret:
        name: ""
        namespace: ""
      fullDBRepository:
        name: ""
        namespace: ""
      manifestRepository:
        name: ""
        namespace: ""

  openshift:
    securityContext:
      runAsUser: null

  admin:
    deployment:
      default: Shared
      toggle: true
    clusterTier:
      default: "GeneralPurpose"
      toggle: true
      nodeTopology:
        available: []
        default: ""
        toggle: true
      placement:
        available: []
        default: ""
        toggle: true

    showPreview: false
    leftPanel:
      showInsights: true
      showVaultInfo: true
      showOperations: true
      showBackup: true
      showBackupLegacy: false
      showSecurity: false

    nodeSelector: {}
    tolerations: []

    databases:
      MySQL:
        versions:
          available: []
          default: ""
          toggle: true
        mode:
          available: ["Standalone", "GroupReplication", "InnoDBCluster"]
          default: "GroupReplication"
          toggle: true
    storageClasses:
      available: []
      default: ""
      toggle: true

    tls:
      default: false
      toggle: true
    clusterIssuers:
      available: []
      default: ""
      toggle: true
    expose:
      default: false
      toggle: true

    monitoring:
      # Name of monitoring agent (one of "prometheus.io", "prometheus.io/operator", "prometheus.io/builtin")
      agent: prometheus.io/operator
      exporter:
        resources: # +doc-gen:break
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 256Mi
      toggle: true
    alert:
      toggle: true

    authCredential:
      customize: true
      referExisting: true
    customConfiguration: true

    deletionPolicy:
      default: WipeOut
      toggle: true
    backup:
      enable:
        default: true
        toggle: true
      by: BackupConfiguration
      via: Restic
    archiver:
      enable:
        default: false
        toggle: true
      via: Restic
    pointInTimeRecovery:
      default: false
      toggle: true

    gitOps:
      enable:
        default: false
        toggle: false
    machineProfiles:
      machines: []
      available: []
      default: ""

  backup:
    tool: ""
    toggle: true
    kubestash:
      schedule: ""
      storageRef:
        name: ""
        namespace: ""
      retentionPolicy:
        name: ""
        namespace: ""
      encryptionSecret:
        name: ""
        namespace: ""
  monitoring:
    serviceMonitor:
      # Specify the labels for ServiceMonitor.
      # Prometheus crd will select ServiceMonitor using these labels.
      # Only usable when monitoring agent is `prometheus.io/webhook server`.
      labels: {}

form:
  alert:
    ## Enable PrometheusRule alerts
    enabled: warning

    ## Labels for default rules
    labels: # +doc-gen:break
      release: kube-prometheus-stack

    ## Annotations for default rules
    annotations: {}

    ## Additional labels for PrometheusRule alerts
    additionalRuleLabels: {}

    ## Prefix for runbook URLs. Use this to override the first part of the runbookURLs that is common to all rules.
    # runbookUrl: "https://runbooks.prometheus-operator.dev/runbooks"

    groups:
      database:
        enabled: warning
        rules:
          mysqlInstanceDown:
            enabled: true
            duration: "0m"
            severity: critical
          mysqlServiceDown:
            enabled: true
            duration: "0m"
            severity: critical
          mysqlTooManyConnections:
            enabled: true
            duration: "2m"
            val: 80
            severity: warning
          mysqlHighThreadsRunning:
            enabled: true
            duration: "2m"
            val: 60
            severity: warning
          mysqlSlowQueries:
            enabled: true
            duration: "2m"
            severity: warning
          mysqlInnoDBLogWaits:
            enabled: true
            duration: "0m"
            val: 10
            severity: warning
          mysqlRestarted:
            enabled: true
            duration: "0m"
            val: 60
            severity: warning
          mysqlHighQPS:
            enabled: true
            duration: "0m"
            val: 1000
            severity: critical
          mysqlHighIncomingBytes:
            enabled: true
            duration: "0m"
            val: 1048576 # 1MB
            severity: critical
          mysqlHighOutgoingBytes:
            enabled: true
            duration: "0m"
            val: 1048576 # 1MB
            severity: critical
          mysqlTooManyOpenFiles:
            enabled: true
            duration: "2m"
            val: 80
            severity: warning
          # Sepcifies the alert configuration for persistent volume usages.
          diskUsageHigh:
            enabled: true
            val: 80
            duration: "1m"
            severity: warning
          diskAlmostFull:
            enabled: true
            val: 95
            duration: "1m"
            severity: critical
      group:
        enabled: warning
        rules:
          mysqlHighReplicationDelay:
            enabled: true
            val: 0.5 # second
            duration: "5m"
            severity: warning
          mysqlHighReplicationTransportTime:
            enabled: true
            val: 0.5 # second
            duration: "5m"
            severity: warning
          mysqlHighReplicationApplyTime:
            enabled: true
            val: 0.5 # second
            duration: "5m"
            severity: warning
          mysqlReplicationHighTransactionTime:
            enabled: true
            val: 0.5 # second
            duration: "5m"
            severity: warning
      provisioner:
        enabled: warning
        rules:
          appPhaseNotReady:
            enabled: true
            duration: "1m"
            severity: critical
          appPhaseCritical:
            enabled: true
            duration: "15m"
            severity: warning
      opsManager:
        enabled: warning
        rules:
          opsRequestOnProgress:
            enabled: true
            duration: "0m"
            severity: info
          opsRequestStatusProgressingToLong:
            enabled: true
            duration: "30m"
            severity: critical
          opsRequestFailed:
            enabled: true
            duration: "0m"
            severity: critical
      stash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
      kubeStash:
        enabled: warning
        rules:
          backupSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          restoreSessionFailed:
            enabled: true
            duration: "0m"
            severity: critical
          noBackupSessionForTooLong:
            enabled: true
            duration: "0m"
            val: 18000
            severity: warning
          repositoryCorrupted:
            enabled: true
            duration: "5m"
            severity: critical
          repositoryStorageRunningLow:
            enabled: true
            duration: "5m"
            val: 10737418240 # 10GB
            severity: warning
          backupSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
          restoreSessionPeriodTooLong:
            enabled: true
            duration: "0m"
            val: 1800 # 30 minute
            severity: warning
      schemaManager:
        enabled: warning
        rules:
          schemaPendingForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaInProgressForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaTerminatingForTooLong:
            enabled: true
            duration: "30m"
            severity: warning
          schemaFailed:
            enabled: true
            duration: "0m"
            severity: warning
          schemaExpired:
            enabled: true
            duration: "0m"
            severity: warning
