name: CI

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}-ci
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Go 1.25
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Prepare Host
        run: |
          sudo apt-get -qq update || true
          sudo apt-get install -y bzr
          # install yq
          curl -fsSL -o yqq https://github.com/mikefarah/yq/releases/download/3.3.0/yq_linux_amd64
          chmod +x yqq
          sudo mv yqq /usr/local/bin/yqq
          pipx install yq
          # install kubectl
          curl -LO https://dl.k8s.io/release/v1.32.1/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl
          echo
          echo "install helm 3"
          pushd /usr/local/bin && sudo curl -fsSLO https://github.com/x-helm/helm/releases/latest/download/helm && sudo chmod +x helm && popd

#      - name: Setup upterm session
#        uses: lhotari/action-upterm@v1

      # - name: Check schema
      #   run: |
      #     GOPROXY=direct GOSUMDB=off GOBIN=/usr/local/bin go install go.bytebuilders.dev/uibuilder-tools@latest
      #     uibuilder-tools check --wizard-dir=./charts \
      #       --skip-files=charts/corekubestashcom-backupconfiguration-editor-options/ui/create-ui.yaml

      - name: Run checks
        run: |
          make ci

      - name: Test capi charts
        run: |
          make capi-tests

  kubernetes:
    name: Kubernetes
    runs-on: ubuntu-24.04
    needs: build
    strategy:
      matrix:
        k8s: [v1.29.14, v1.31.14, v1.33.7, v1.35.0]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Create Kubernetes ${{ matrix.k8s }} cluster
        id: kind
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.31.0
          image: kindest/node:${{ matrix.k8s }}

      - name: Prepare cluster for testing
        id: local-path
        run: |
          echo "waiting for nodes to be ready ..."
          kubectl wait --for=condition=Ready nodes --all --timeout=5m
          kubectl get nodes
          echo
          echo "install helm 3"
          pushd /usr/local/bin && sudo curl -fsSLO https://github.com/x-helm/helm/releases/latest/download/helm && sudo chmod +x helm && popd

      - name: Test charts
        run: |
          export KUBECONFIG="$HOME/.kube/config"
          kubectl create ns demo
          ./hack/scripts/ct.sh
          echo
          kubectl delete crds --all
